Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Affiliate_Notification_Migrated_to_APP</name>
        <label>Affiliate Notification | Migrated to APP</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <actionName>Account.Affiliate_Notification_Migrated_to_APP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contact_Billing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Affiliate_Notification_Migrated_to_APP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Single_Progression_Record_to_List</name>
        <label>Add Single Progression Record to List</label>
        <locationX>534</locationX>
        <locationY>6263</locationY>
        <assignmentItems>
            <assignToReference>Multiple_Progression_Record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Progression_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_agency_scorecard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Active_to_Collection</name>
        <label>Asn - Active to Collection</label>
        <locationX>600</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>col_ActiveSubscription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Customer_Status_to_Customer</name>
        <label>Asn - Customer Status to Customer</label>
        <locationX>248</locationX>
        <locationY>3647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Geo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Customer_Status_to_Former_Customer</name>
        <label>Asn - Customer Status to Former Customer</label>
        <locationX>512</locationX>
        <locationY>3647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Geo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Geo_1</name>
        <label>Asn - Geo 1</label>
        <locationX>666</locationX>
        <locationY>4847</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Geo_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Project_Location_Territory.Geo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_Location_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_location_2_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Geo_1_0</name>
        <label>Asn - Geo 1</label>
        <locationX>226</locationX>
        <locationY>4847</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Geo_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Project_Location.Geo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_location_2_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Geo_2</name>
        <label>Asn - Geo 2</label>
        <locationX>446</locationX>
        <locationY>5447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Geo_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Project_Location_2.Geo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Tier_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Inactive_to_Collection</name>
        <label>Asn - Inactive to Collection</label>
        <locationX>864</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>col_InactiveSubscription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Update_is_country_and_Geo</name>
        <label>Asn - Update is country and Geo</label>
        <locationX>402</locationX>
        <locationY>4247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Country_EU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.Is_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.Geo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_location1_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Update_is_country_and_Geo_to_null</name>
        <label>Asn - Update is country and Geo to null</label>
        <locationX>666</locationX>
        <locationY>4247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Is_Country_EU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Geo__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Project_location1_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Contact_Id_to_Var</name>
        <label>Assign Billing Contact Id to Var</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ACR.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ACR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_High_Yield_Calculation</name>
        <label>Assign High Yield Calculation</label>
        <locationX>732</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>$Record.High_Yield_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HighYieldCalc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_High_Yield_Checkbox_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update High Yield Checkbox to True</description>
        <name>Assign_High_Yield_Checkbox_to_True</name>
        <label>Assign - High Yield Checkbox to True</label>
        <locationX>600</locationX>
        <locationY>2339</locationY>
        <assignmentItems>
            <assignToReference>$Record.High_Yield__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>High_Yield_Checkbox_Last_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_to_var</name>
        <label>Assign Role to var</label>
        <locationX>1238</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_ACR.Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Billing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_The_High_Yield_Last_Update</name>
        <label>Assign - The High Yield (Last Update)</label>
        <locationX>600</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>$Record.High_Yield_Last_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to Account Contact Relationship</description>
        <name>Assign_values_to_ACR</name>
        <label>Assign values to ACR</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>soACR.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soACR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soACR.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soACR.Roles</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Contact_Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Individual_Prog_Records</name>
        <label>Individual Prog Records</label>
        <locationX>534</locationX>
        <locationY>6155</locationY>
        <assignmentItems>
            <assignToReference>Single_Progression_Record.Agency_Scorecard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_agency_scorecard.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Progression_Record.Agency_Scorecard_Progression__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Progression_Record.Agency_Scorecard_Progression_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Tier Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Progression_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If the High Yield Score is less than 2, this field update will uncheck the box.</description>
        <name>Uncheck_High_Yield</name>
        <label>Uncheck High Yield</label>
        <locationX>600</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>$Record.High_Yield__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_High_Yield_Checkbox_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Tier_Changed</name>
        <label>Account Tier Changed?</label>
        <locationX>732</locationX>
        <locationY>5723</locationY>
        <defaultConnector>
            <targetReference>Update_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Tier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agency_ScoreCard</targetReference>
            </connector>
            <label>Yes Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Affiliate_Notification_Criteria</name>
        <label>Affiliate Notification Criteria</label>
        <locationX>732</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Contact_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affiliate_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Migrated_to_APP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Migration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affiliate_Notification_Migrated_to_APP</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Affiliate Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_active_or_inactive</name>
        <label>Are there any active or inactive?</label>
        <locationX>512</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>Geo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active_Subs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_ActiveSubscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Customer_Status_to_Customer</targetReference>
            </connector>
            <label>Yes - Active Subs</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_InactiveSubscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Customer_Status_to_Former_Customer</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Project_Loc_Territory</name>
        <label>Check For Project Loc Territory</label>
        <locationX>798</locationX>
        <locationY>4739</locationY>
        <defaultConnector>
            <targetReference>Project_location_2_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proj_Loc_Terr_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjLocTerrRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Geo_1</targetReference>
            </connector>
            <label>Proj Loc Terr Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Terr_Proj_Loc</name>
        <label>Check For Terr Proj Loc</label>
        <locationX>358</locationX>
        <locationY>4739</locationY>
        <defaultConnector>
            <targetReference>Project_location_2_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terr_Proj_Loc_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerrProjLocRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Geo_1_0</targetReference>
            </connector>
            <label>Terr Proj Loc Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Terr_Proj_Loc_2</name>
        <label>Check For Terr Proj Loc 2</label>
        <locationX>578</locationX>
        <locationY>5339</locationY>
        <defaultConnector>
            <targetReference>Account_Tier_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terr_Proj_Loc2_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerrProjLoc2Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Geo_2</targetReference>
            </connector>
            <label>Terr Proj  Loc2 Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Territory</name>
        <label>Check For Territory</label>
        <locationX>534</locationX>
        <locationY>4139</locationY>
        <defaultConnector>
            <targetReference>Asn_Update_is_country_and_Geo_to_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Territory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TerritoryRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Update_is_country_and_Geo</targetReference>
            </connector>
            <label>Territory Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Billing</name>
        <label>Contact Billing</label>
        <locationX>732</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Assign_High_Yield_Calculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Billing_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Billing_Contact_in_ACR</targetReference>
            </connector>
            <label>Contact Billing Changed</label>
        </rules>
        <rules>
            <name>Contact_Billing_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contact_Relationship</targetReference>
            </connector>
            <label>Contact Billing Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Billing_Contact</name>
        <label>Find Billing Contact</label>
        <locationX>1238</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Loop_through_ACR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Billing_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Contact_Id_to_Var</targetReference>
            </connector>
            <label>Billing Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Geo</name>
        <label>Geo</label>
        <locationX>732</locationX>
        <locationY>3923</locationY>
        <defaultConnector>
            <targetReference>Project_location1_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory</targetReference>
            </connector>
            <label>Set Geo</label>
        </rules>
    </decisions>
    <decisions>
        <description>When the High Yield checkbox is checked/unchecked, the date is stamped into the &apos;High Yield (Last Update)&apos; field.</description>
        <name>High_Yield_Checkbox_Last_Updated</name>
        <label>High Yield Checkbox Last Updated</label>
        <locationX>732</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Get_all_subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_High_Yield_Checkbox_Last_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Yield__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_The_High_Yield_Last_Update</targetReference>
            </connector>
            <label>Yes High Yield Checkbox Last Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ACR_found</name>
        <label>Is ACR found?</label>
        <locationX>754</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Loop_through_ACR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Billing_Contact_in_ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_High_Yield_Calculation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_billing_contact_in_the_ACR</name>
        <label>Is there a billing contact in the ACR?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Assign_High_Yield_Calculation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Billing_contact_in_the_ACR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Billing_Contact_in_ACR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_ACR</targetReference>
            </connector>
            <label>No - Billing contact in the ACR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_any_active</name>
        <label>Is there any active?</label>
        <locationX>864</locationX>
        <locationY>3155</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_subscription.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Active_to_Collection</targetReference>
            </connector>
            <label>Yes Active</label>
        </rules>
        <rules>
            <name>No_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_subscription.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Inactive_to_Collection</targetReference>
            </connector>
            <label>No Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_subscriptions</name>
        <label>Is there subscriptions?</label>
        <locationX>732</locationX>
        <locationY>2939</locationY>
        <defaultConnector>
            <targetReference>Geo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_subscription</targetReference>
            </connector>
            <label>Yes - Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_For_Agency_ScoreCard</name>
        <label>Null Check For Agency ScoreCard</label>
        <locationX>578</locationX>
        <locationY>5939</locationY>
        <defaultConnector>
            <targetReference>Update_Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agency_ScoreCard</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_agency_scorecard</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_location1_is_null</name>
        <label>Project location1 is null?</label>
        <locationX>732</locationX>
        <locationY>4523</locationY>
        <defaultConnector>
            <targetReference>Project_location_2_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Project_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Location_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory_Project_Location</targetReference>
            </connector>
            <label>No - Project not null</label>
        </rules>
        <rules>
            <name>Project_Location_Null_and_Country_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Location_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Project_Location_Territory</targetReference>
            </connector>
            <label>Project Location Null and Country Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_location_2_is_null</name>
        <label>Project location 2 is null?</label>
        <locationX>732</locationX>
        <locationY>5123</locationY>
        <defaultConnector>
            <targetReference>Account_Tier_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Location_2_not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Location_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Location_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory_Project_Location_2</targetReference>
            </connector>
            <label>Project Location 2 not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_High_Yield_Checkbox_False</name>
        <label>Update High Yield Checkbox - False</label>
        <locationX>732</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Update_High_Yield_Checkbox_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_High_Yield_Checkbox_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Yield_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_High_Yield</targetReference>
            </connector>
            <label>Yes - Update High Yield Checkbox False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_High_Yield_Checkbox_True</name>
        <label>Update High Yield Checkbox - True</label>
        <locationX>732</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>High_Yield_Checkbox_Last_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_High_Yield_Checkbox_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Yield_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_High_Yield_Checkbox_to_True</targetReference>
            </connector>
            <label>Yes - Update High Yield Checkbox True</label>
        </rules>
    </decisions>
    <description>Recent Changes: Added Billing Contact update.
Recent Changes: SF360-158, 
Removed Changes: SF360-159</description>
    <environments>Default</environments>
    <formulas>
        <name>BillingContactFound</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!Loop_through_ACR.Roles},&quot;Billing&quot;)</expression>
    </formulas>
    <formulas>
        <name>HighYieldCalc</name>
        <dataType>Number</dataType>
        <expression>(
( {!$Record.Estimated_Annual_Rev_Scoring__c}*0.3)+
( {!$Record.Employee_Count_Scoring__c} *0.3)+
( {!$Record.Funding_Raised_Scoring__c} *0.4))
/3</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>HighYieldScoreFormula</name>
        <dataType>Number</dataType>
        <expression>(
( {!$Record.Estimated_Annual_Rev_Scoring__c} *0.3)+
( {!$Record.Employee_Count_Scoring__c} *0.3)+
( {!$Record.Funding_Raised_Scoring__c} *0.4))
/3</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>ProjLocTerrRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Default_Project_Location_Territory.Id})</expression>
    </formulas>
    <formulas>
        <name>TerritoryRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Territory.Id})</expression>
    </formulas>
    <formulas>
        <name>TerrProjLoc2Record</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Territory_Project_Location_2.Id})</expression>
    </formulas>
    <formulas>
        <name>TerrProjLocRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Territory_Project_Location.Id})</expression>
    </formulas>
    <interviewLabel>Account - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save</label>
    <loops>
        <name>Loop_All_subscription</name>
        <label>Loop - All subscription</label>
        <locationX>512</locationX>
        <locationY>3047</locationY>
        <collectionReference>Get_all_subscription</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_any_active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_active_or_inactive</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_agency_scorecard</name>
        <label>Loop on agency scorecard</label>
        <locationX>446</locationX>
        <locationY>6047</locationY>
        <collectionReference>Get_Agency_ScoreCard</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Individual_Prog_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Scorecard_Progression_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_ACR</name>
        <label>Loop through ACR</label>
        <locationX>1018</locationX>
        <locationY>947</locationY>
        <collectionReference>Get_Account_Contact_Relationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Role_to_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_Billing_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Contact_Relationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Assign_High_Yield_Calculation</targetReference>
        </connector>
        <inputReference>soACR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Scorecard_Progression_Record</name>
        <label>Create Scorecard Progression Record</label>
        <locationX>446</locationX>
        <locationY>6455</locationY>
        <connector>
            <targetReference>Update_Account1</targetReference>
        </connector>
        <inputReference>Multiple_Progression_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Billing_Contact_in_ACR</name>
        <label>Find Existing Billing Contact in ACR</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_billing_contact_in_the_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>754</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ACR_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agency_ScoreCard</name>
        <label>Get Agency ScoreCard</label>
        <locationX>578</locationX>
        <locationY>5831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_For_Agency_ScoreCard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agency_Scorecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_subscription</name>
        <label>Get all subscription</label>
        <locationX>732</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Project_Location_Territory</name>
        <label>Get Default Project Location Territory</label>
        <locationX>798</locationX>
        <locationY>4631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Project_Loc_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>534</locationX>
        <locationY>4031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Project_Location</name>
        <label>Get Territory Project Location</label>
        <locationX>358</locationX>
        <locationY>4631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Terr_Proj_Loc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Location_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Project_Location_2</name>
        <label>Get Territory Project Location 2</label>
        <locationX>578</locationX>
        <locationY>5231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Terr_Proj_Loc_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Location_2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account1</name>
        <label>Update Account</label>
        <locationX>732</locationX>
        <locationY>6731</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Billing_on_Account</name>
        <label>Update Contact Billing on Account</label>
        <locationX>1018</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Assign_High_Yield_Calculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Affiliate_Notification_Criteria</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ActiveSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>col_InactiveSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Find_Active_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>Multiple_Progression_Record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Scorecard_Progression__c</objectType>
    </variables>
    <variables>
        <name>Single_Progression_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agency_Scorecard_Progression__c</objectType>
    </variables>
    <variables>
        <description>Account Contact Relationship</description>
        <name>soACR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRoles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
