Account_Before_Save_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_http_to_Website</name>
        <label>Add http:// to Website</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>http_website</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Sign_Up_Auto_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This field update will ensure that all Agency Accounts are tagged as &apos;Agency&apos; in the Type field if account has been identified as an Agency in a different way (Field)</description>
        <name>Assign_Account_Type_AGENCY</name>
        <label>Assign - Account Type = AGENCY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APP_Partner_Contract_Signed_is_NOT_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>UPDATES: Account Object field [TYPE] = Partner</description>
        <name>Assign_Account_Type_PARTNER</name>
        <label>Assign - Account Type = PARTNER</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Type_to_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This rule is used to reverse the account previously marked as Canceled because the Cancellation date was populated and then we re-activated the account.</description>
        <name>Assign_Customer_Type_Customer</name>
        <label>Assign - Customer Type = Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Type_to_Former_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Type_Former_Customer</name>
        <label>Assign - Customer Type = Former Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Former Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Employee_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mark_the_checkbox_True</name>
        <label>Assign - Mark the checkbox True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Parent_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APP_Migrated_to_Agency_Tracking_Engine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>UPDATES: Migrated to APP? checkbox field to = TRUE.</description>
        <name>Assign_Migrated_to_APP</name>
        <label>Assign - Migrated to APP?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Migrated_to_APP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACCOUNT_Type_Field_Agency_Tag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Populate_Account_Type_Field</name>
        <label>Assign - Populate Account &quot;Type&quot; Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Type_Conversion_Mapping__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Auto Assign to Ryan M.</description>
        <name>Assign_SelfSign_Ups_Auto_Assign</name>
        <label>Assign - SelfSign Ups Auto Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Update_Allbound_ID</name>
        <label>Assign - Update &quot;Allbound ID +&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Allbound_ID_Plus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllboundIDplusShell</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Account_Type_Mapping_from_Lead_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignClearbitEmployees</name>
        <label>assignClearbitEmployees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Employee_Update_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClearBit_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allbound_ID_or_Shell_Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLinkedInEmployees</name>
        <label>assignLinkedInEmployees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Employee_Update_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LinkedIn_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decClearbit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assists with things like LeanData Account Match Mapping that cannot traverse a Lookup Field.</description>
        <name>Update_Account_Owner_ID_Text</name>
        <label>Update Account Owner ID Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Owner_ID_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account_Tier_Date_Stamp</name>
        <label>Update Account Tier Date Stamp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Tier_Date_Stamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Website_with_http</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Customer_Type_Fraud_Cancelled</name>
        <label>Update Customer Type = Fraud Cancelled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fraud Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Tier_Null_to_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Segment_On_Account</name>
        <label>Update Segment On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Owner_ID_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Standard_Employee_field</name>
        <label>Update Standard Employee field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Employees_field_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Standard_Employees_field</name>
        <label>Update Standard Employees field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clearbit_Company_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Type_to_Fraud_Cancelled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Tier_Null_to_Populated</name>
        <label>Account Tier Null to Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Website_with_http</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Tier_Null_to_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Tier_Date_Stamp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This rule will be used to automatically tag the &apos;Type&apos; field as Agency when specific criteria is met.</description>
        <name>ACCOUNT_Type_Field_Agency_Tag</name>
        <label>ACCOUNT | Type Field Agency Tag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>APP_Partner_Contract_Signed_is_NOT_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ACCOUNT_Type_Field_Agency_Tag</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Independent Freelancer/Consultant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reseller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency &lt;50</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Segmentation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency &gt;50</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allbound_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Type_AGENCY</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Allbound_ID_or_Shell_Account_Changed</name>
        <label>Allbound ID or Shell Account Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Account_Type_Mapping_from_Lead_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_Allbound_ID_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allbound_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shell_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Update_Allbound_ID</targetReference>
            </connector>
            <label>Yes, update &quot;Allbound ID+&quot; field!</label>
        </rules>
    </decisions>
    <decisions>
        <name>APP_Migrated_to_Agency_Tracking_Engine</name>
        <label>APP: Migrated to Agency Tracking Engine?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ACCOUNT_Type_Field_Agency_Tag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_APP_Migrated_to_Agency_Tracking_Engine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SAS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Contract_Signed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Migrated_to_APP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Agency Partner Program (APP) field [Partner Contract Signed] is no longer BLANK.</description>
        <name>APP_Partner_Contract_Signed_is_NOT_Null</name>
        <label>APP: Partner Contract Signed is NOT Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Customer_Type_to_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_APP_Partner_Contract_Signed_is_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Contract_Signed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Type_PARTNER</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decClearbit</name>
        <label>decClearbit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Allbound_ID_or_Shell_Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClearbitEmployees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClearBit_Employees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LinkedIn_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignClearbitEmployees</targetReference>
            </connector>
            <label>ClearbitEmployees</label>
        </rules>
    </decisions>
    <decisions>
        <name>decEmployees</name>
        <label>decEmployees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>decClearbit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LinkedIn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LinkedIn_Employees__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClearBit_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignLinkedInEmployees</targetReference>
            </connector>
            <label>LinkedIn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Parent_Account</name>
        <label>Has Parent Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>APP_Migrated_to_Agency_Tracking_Engine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mark_the_checkbox_True</targetReference>
            </connector>
            <label>Yes, has Parent Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Can&apos;t map from custom field to standard field on Lead Conversion. This is making the transfer as appropirate.</description>
        <name>If_Account_Type_Mapping_from_Lead_to_Account</name>
        <label>If Account Type Mapping from Lead to Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_Account_Type_to_Account_Type_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Type_Conversion_Mapping__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Populate_Account_Type_Field</targetReference>
            </connector>
            <label>Copy &quot;Account Type&quot; to Account &quot;Type&quot; Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_is_Enterprise</name>
        <label>Owner is Enterprise</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Owner_ID_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_is_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.User_Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Account Manager | NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Segment_On_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Accounts created in SFDC through a Self Sign Up will automatically assigned to an UNASSIGNED User.</description>
        <name>Self_Sign_Up_Auto_Assign</name>
        <label>Self Sign Up Auto Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Owner_is_Enterprise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Self_Sign_Up_Auto_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2015-12-02T06:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration_User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This rule is used to reverse the account previously marked as Canceled because the Cancellation date was populated and then we re-activated the account.</description>
        <name>Update_Customer_Type_to_Customer</name>
        <label>Update Customer Type to (Customer)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Customer_Type_to_Former_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Customer_Type_to_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MCDB_Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Type_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Customer_Type_to_Former_Customer</name>
        <label>Update Customer Type to (Former Customer)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Employee_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Customer_Type_to_Former_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MCDB_Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Type_Former_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Customer_Type_to_Fraud_Cancelled</name>
        <label>Update Customer Type to (Fraud Cancelled)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_Tier_Null_to_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Customer_Type_to_Fraud_Cancelled</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MCDB_Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MCDB_Cancellation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MCDB_Fraud_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MCDB_Fraud_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Type_Fraud_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Employee field with Clearbit employee data if there&apos;s no data in the Employee field.</description>
        <name>Update_Employee_field</name>
        <label>Update Employee field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Employees_field_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Employee_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employee_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Company_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Employee_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Employees_field_2</name>
        <label>Update &apos;Employees&apos; field (2)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Customer_Type_to_Fraud_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Employees_field_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employee_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clearbit_Company_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Employees_field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Website_with_http</name>
        <label>Update Website with http://</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Self_Sign_Up_Auto_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Website_Without_http</name>
            <conditionLogic>1 AND (NOT (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>https://</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>http://</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_http_to_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>28Mar25 - PAT - Removed Fraud Status field in the Condition Requirements of Update Customer Type to (Customer/Former Customer) Decision  
13Mar25 DON - Fixed Self serve logic
27Apr23 CC - Update Geo fields
27MAR23 CC - Add: Removed project location update</description>
    <environments>Default</environments>
    <formulas>
        <name>AllboundIDplusShell</name>
        <dataType>String</dataType>
        <expression>IF ( {!$Record.Shell_Account__c}=TRUE, Text({!$Record.Allbound_ID__c}) &amp; &quot; (Shell)&quot;,Text({!$Record.Allbound_ID__c}))</expression>
    </formulas>
    <formulas>
        <name>http_website</name>
        <dataType>String</dataType>
        <expression>&quot;http://&quot; + {!$Record.Website}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Account - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Save Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SelfSign_Ups_Auto_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decEmployees</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varHighYield</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
