Account_Team_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_ADR</name>
        <label>Find ADR</label>
        <locationX>1011</locationX>
        <locationY>1048</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Team_member_to_remove_ADR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.ADR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_ADR_0</name>
        <label>Find ADR</label>
        <locationX>1166</locationX>
        <locationY>1173</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Add_New_Team_Member_ADR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.ADR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_AM</name>
        <label>Find AM</label>
        <locationX>1150</locationX>
        <locationY>2914</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Team_member_to_remove_AM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Affiliate_Manager__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_AM2</name>
        <label>Find AM</label>
        <locationX>1304</locationX>
        <locationY>3039</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Add_New_Team_Member_AM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Affiliate_Manager__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_BDR</name>
        <label>Find BDR</label>
        <locationX>1025</locationX>
        <locationY>1521</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Team_member_to_remove_BDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.BDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_BDR2</name>
        <label>Find BDR</label>
        <locationX>1179</locationX>
        <locationY>1646</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Add_New_Team_Member_BDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.BDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_CSM</name>
        <label>Find CSM</label>
        <locationX>1045</locationX>
        <locationY>2056</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Team_member_to_remove_CSM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Account_Manager_user__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_CSM2</name>
        <label>Find CSM</label>
        <locationX>1199</locationX>
        <locationY>2181</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Add_New_Team_Member_CSM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Account_Manager_user__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PAM</name>
        <label>Find PAM</label>
        <locationX>1178</locationX>
        <locationY>3337</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Team_member_to_remove_PAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Agency_Account_Owner__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PAM2</name>
        <label>Find PAM</label>
        <locationX>1332</locationX>
        <locationY>3462</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Add_New_Team_Member_PAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Agency_Account_Owner__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_TAM</name>
        <label>Find TAM</label>
        <locationX>1120</locationX>
        <locationY>2519</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Team_member_to_remove_TAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.P_TAM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_TAM2</name>
        <label>Find TAM</label>
        <locationX>1274</locationX>
        <locationY>2644</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Add_New_Team_Member_TAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>AccountTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Account_Team_Members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>AccountTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.P_TAM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asn_Add_New_Team_Member_ADR</name>
        <label>Asn - Add New Team Member ADR</label>
        <locationX>1022</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_User_to_create_collection_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_New_Team_Member_AM</name>
        <label>Asn - Add New Team Member AM</label>
        <locationX>1161</locationX>
        <locationY>3057</locationY>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Affiliate_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Affiliate Manager</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_User_to_create_collection_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_New_Team_Member_BDR</name>
        <label>Asn - Add New Team Member BDR</label>
        <locationX>1036</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BDR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_User_to_create_collection_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_New_Team_Member_CSM</name>
        <label>Asn - Add New Team Member CSM</label>
        <locationX>1056</locationX>
        <locationY>2199</locationY>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Manager_user__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P+ CSM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_User_to_create_collection_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_New_Team_Member_PAM</name>
        <label>Asn - Add New Team Member PAM</label>
        <locationX>1189</locationX>
        <locationY>3480</locationY>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Account_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_User_to_create_collection_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_New_Team_Member_TAM</name>
        <label>Asn - Add New Team Member TAM</label>
        <locationX>1131</locationX>
        <locationY>2662</locationY>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.P_TAM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccountTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P+ TAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_User_to_create_collection_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_User_to_create_collection_ADR</name>
        <label>Asn - Add User to create collection ADR</label>
        <locationX>861</locationX>
        <locationY>1204</locationY>
        <assignmentItems>
            <assignToReference>col_NewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_ADR_0.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_User_to_create_collection_AM</name>
        <label>Asn - Add User to create collection AM</label>
        <locationX>999</locationX>
        <locationY>3070</locationY>
        <assignmentItems>
            <assignToReference>col_NewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_TAM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_User_to_create_collection_BDR</name>
        <label>Asn - Add User to create collection BDR</label>
        <locationX>874</locationX>
        <locationY>1677</locationY>
        <assignmentItems>
            <assignToReference>col_NewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_BDR2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_User_to_create_collection_CSM</name>
        <label>Asn - Add User to create collection CSM</label>
        <locationX>894</locationX>
        <locationY>2212</locationY>
        <assignmentItems>
            <assignToReference>col_NewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_CSM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_User_to_create_collection_PAM</name>
        <label>Asn - Add User to create collection PAM</label>
        <locationX>1028</locationX>
        <locationY>3493</locationY>
        <assignmentItems>
            <assignToReference>col_NewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_PAM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Add_User_to_create_collection_TAM</name>
        <label>Asn - Add User to create collection TAM</label>
        <locationX>969</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>col_NewMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soAccountTeamMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_TAM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Team_member_to_remove_ADR</name>
        <label>Asn - Team member to remove - ADR</label>
        <locationX>754</locationX>
        <locationY>997</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_ADR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Team_member_to_remove_AM</name>
        <label>Asn - Team member to remove AM</label>
        <locationX>973</locationX>
        <locationY>2928</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_AM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Team_member_to_remove_BDR</name>
        <label>Asn - Team member to remove BDR</label>
        <locationX>848</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_BDR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Team_member_to_remove_CSM</name>
        <label>Asn - Team member to remove CSM</label>
        <locationX>868</locationX>
        <locationY>2070</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_CSM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Team_member_to_remove_PAM</name>
        <label>Asn - Team member to remove PAM</label>
        <locationX>1001</locationX>
        <locationY>3351</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_PAM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Team_member_to_remove_TAM</name>
        <label>Asn - Team member to remove TAM</label>
        <locationX>943</locationX>
        <locationY>2533</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_TAM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_remove_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_collection_ADR</name>
        <label>Empty collection ADR</label>
        <locationX>50</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersDeletes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_Update_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_collection_AM</name>
        <label>Empty collection AM</label>
        <locationX>347</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersDeletes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_Update_AM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_collection_AM_0</name>
        <label>Empty collection AM</label>
        <locationX>375</locationX>
        <locationY>3377</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersDeletes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_Update_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_collection_BDR</name>
        <label>Empty collection BDR</label>
        <locationX>222</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersDeletes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_Update_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_collection_CSM</name>
        <label>Empty collection CSM</label>
        <locationX>242</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersDeletes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_Update_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_collection_TAM</name>
        <label>Empty collection TAM</label>
        <locationX>317</locationX>
        <locationY>2559</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersDeletes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersDeletes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_records_to_Update_TAM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_records_to_remove_ADR</name>
        <label>Are records to remove? ADR</label>
        <locationX>617</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Are_records_to_Update_ADR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_records_ADR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_ADR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_ADR_0.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_records_ADR</targetReference>
            </connector>
            <label>Yes Remove records ADR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_remove_AM</name>
        <label>Are records to remove? AM</label>
        <locationX>755</locationX>
        <locationY>2873</locationY>
        <defaultConnector>
            <targetReference>Are_records_to_Update_AM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Records_AM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_AM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_AM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_records_AM</targetReference>
            </connector>
            <label>Yes Remove Records AM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_remove_BDR</name>
        <label>Are records to remove? BDR</label>
        <locationX>630</locationX>
        <locationY>1480</locationY>
        <defaultConnector>
            <targetReference>Are_records_to_Update_BDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Records_BDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_BDR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_BDR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_records_BDR</targetReference>
            </connector>
            <label>Yes - Remove Records - BDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_remove_CSM</name>
        <label>Are records to remove? CSM</label>
        <locationX>650</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Are_records_to_Update_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Removed_Records_CSM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_CSM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_CSM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_records_CSM</targetReference>
            </connector>
            <label>Yes Removed Records CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_remove_PAM</name>
        <label>Are records to remove? PAM</label>
        <locationX>783</locationX>
        <locationY>3296</locationY>
        <defaultConnector>
            <targetReference>Are_records_to_Update_PAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Record_PAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_PAM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_PAM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_records_PAM</targetReference>
            </connector>
            <label>Yes Remove Record PAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_remove_TAM</name>
        <label>Are records to remove? TAM</label>
        <locationX>725</locationX>
        <locationY>2478</locationY>
        <defaultConnector>
            <targetReference>Are_records_to_Update_TAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Records_TAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_TAM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_TAM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_records_TAM</targetReference>
            </connector>
            <label>Yes Remove Records TAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_Update_ADR</name>
        <label>Are records to Update? ADR</label>
        <locationX>633</locationX>
        <locationY>1215</locationY>
        <defaultConnector>
            <targetReference>Dcn_BDR_Removed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_ADR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_ADR</targetReference>
            </connector>
            <label>Yes Update ADR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_Update_AM</name>
        <label>Are records to Update? AM</label>
        <locationX>771</locationX>
        <locationY>3076</locationY>
        <defaultConnector>
            <targetReference>Dcn_PAM_Removed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_AM</targetReference>
            </connector>
            <label>Yes Update AM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_Update_BDR</name>
        <label>Are records to Update? BDR</label>
        <locationX>646</locationX>
        <locationY>1688</locationY>
        <defaultConnector>
            <targetReference>Dcn_CSM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_BDR</targetReference>
            </connector>
            <label>Yes - Update BDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_Update_CSM</name>
        <label>Are records to Update? CSM</label>
        <locationX>666</locationX>
        <locationY>2223</locationY>
        <defaultConnector>
            <targetReference>Dcn_TAM_Removed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_CSM</targetReference>
            </connector>
            <label>Yes Update CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_Update_PAM</name>
        <label>Are records to Update? PAM</label>
        <locationX>799</locationX>
        <locationY>3504</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_PAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_PAM</targetReference>
            </connector>
            <label>Yes Update PAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_records_to_Update_TAM</name>
        <label>Are records to Update? TAM</label>
        <locationX>741</locationX>
        <locationY>2686</locationY>
        <defaultConnector>
            <targetReference>Dcn_AM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_TAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Records_TAM</targetReference>
            </connector>
            <label>Yes Update TAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_ADR_Removed</name>
        <label>Dcn - ADR Removed?</label>
        <locationX>1263</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>Dcn_BDR_Removed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Team_member_to_remove_ADR</targetReference>
            </connector>
            <label>ADR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>ADR_Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ADR</targetReference>
            </connector>
            <label>ADR - Was Removed</label>
        </rules>
        <rules>
            <name>ADR_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ADR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Add_New_Team_Member_ADR</targetReference>
            </connector>
            <label>ADR - Changed No Team members</label>
        </rules>
        <rules>
            <name>ADR_Changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ADR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ADR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ADR_0</targetReference>
            </connector>
            <label>ADR - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_AM_Removed</name>
        <label>Dcn - AM Removed?</label>
        <locationX>1426</locationX>
        <locationY>2909</locationY>
        <defaultConnector>
            <targetReference>Dcn_PAM_Removed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Team_member_to_remove_AM</targetReference>
            </connector>
            <label>AM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>AM_Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_AM</targetReference>
            </connector>
            <label>AM Was Removed</label>
        </rules>
        <rules>
            <name>AM_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Affiliate_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Add_New_Team_Member_AM</targetReference>
            </connector>
            <label>AM - Changed No Team members</label>
        </rules>
        <rules>
            <name>AM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Affiliate_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Affiliate_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_AM2</targetReference>
            </connector>
            <label>AM Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_BDR_Removed2</name>
        <label>Dcn - BDR Removed?</label>
        <locationX>1275</locationX>
        <locationY>1515</locationY>
        <defaultConnector>
            <targetReference>Dcn_CSM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BDR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Team_member_to_remove_BDR</targetReference>
            </connector>
            <label>BDR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>BDR_Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_BDR</targetReference>
            </connector>
            <label>BDR Was Removed</label>
        </rules>
        <rules>
            <name>BDR_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BDR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Add_New_Team_Member_BDR</targetReference>
            </connector>
            <label>BDR - Changed No Team members</label>
        </rules>
        <rules>
            <name>BDR_Changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_BDR2</targetReference>
            </connector>
            <label>BDR Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_CSM_Removed</name>
        <label>Dcn - CSM Removed?</label>
        <locationX>1308</locationX>
        <locationY>1985</locationY>
        <defaultConnector>
            <targetReference>Dcn_TAM_Removed2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_user__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_user__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Team_member_to_remove_CSM</targetReference>
            </connector>
            <label>CSM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>CSM_Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Manager_user__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_user__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CSM</targetReference>
            </connector>
            <label>CSM Was Removed</label>
        </rules>
        <rules>
            <name>CSM_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Manager_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account_Manager_user__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Add_New_Team_Member_CSM</targetReference>
            </connector>
            <label>CSM - Changed No Team members</label>
        </rules>
        <rules>
            <name>CSM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account_Manager_user__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_Manager_user__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CSM2</targetReference>
            </connector>
            <label>CSM Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_PAM_Removed2</name>
        <label>Dcn - PAM Removed?</label>
        <locationX>1428</locationX>
        <locationY>3333</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agency_Account_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agency_Account_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Team_member_to_remove_PAM</targetReference>
            </connector>
            <label>PAM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>PAM_Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency_Account_Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agency_Account_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PAM</targetReference>
            </connector>
            <label>PAM Was Removed</label>
        </rules>
        <rules>
            <name>PAM_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agency_Account_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Agency_Account_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Add_New_Team_Member_PAM</targetReference>
            </connector>
            <label>PAM - Changed No Team members</label>
        </rules>
        <rules>
            <name>PAM_Changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Agency_Account_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Agency_Account_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PAM2</targetReference>
            </connector>
            <label>PAM Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_TAM_Removed2</name>
        <label>Dcn - TAM Removed?</label>
        <locationX>1382</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Dcn_AM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Team_member_to_remove_TAM</targetReference>
            </connector>
            <label>TAM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>TAM_Was_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_TAM</targetReference>
            </connector>
            <label>TAM Was Removed</label>
        </rules>
        <rules>
            <name>TAM_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.P_TAM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Account_Team_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Add_New_Team_Member_TAM</targetReference>
            </connector>
            <label>TAM - Changed No Team members</label>
        </rules>
        <rules>
            <name>TAM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.P_TAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.P_TAM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_TAM2</targetReference>
            </connector>
            <label>TAM Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Team Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Team Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_ADR</name>
        <label>Create Records ADR</label>
        <locationX>446</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Dcn_BDR_Removed2</targetReference>
        </connector>
        <inputReference>col_NewMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_AM</name>
        <label>Create Records AM</label>
        <locationX>603</locationX>
        <locationY>3135</locationY>
        <connector>
            <targetReference>Dcn_PAM_Removed2</targetReference>
        </connector>
        <inputReference>col_NewMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_BDR</name>
        <label>Create Records BDR</label>
        <locationX>458</locationX>
        <locationY>1712</locationY>
        <connector>
            <targetReference>Dcn_CSM_Removed</targetReference>
        </connector>
        <inputReference>col_NewMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_CSM</name>
        <label>Create Records CSM</label>
        <locationX>478</locationX>
        <locationY>2247</locationY>
        <connector>
            <targetReference>Dcn_TAM_Removed2</targetReference>
        </connector>
        <inputReference>col_NewMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_PAM</name>
        <label>Create Records PAM</label>
        <locationX>611</locationX>
        <locationY>3528</locationY>
        <inputReference>col_NewMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_TAM</name>
        <label>Create Records TAM</label>
        <locationX>553</locationX>
        <locationY>2710</locationY>
        <connector>
            <targetReference>Dcn_AM_Removed</targetReference>
        </connector>
        <inputReference>col_NewMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_records_ADR</name>
        <label>Delete records ADR</label>
        <locationX>444</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Empty_collection_ADR</targetReference>
        </connector>
        <inputReference>col_TeamMembersDeletes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_records_AM</name>
        <label>Delete records AM</label>
        <locationX>582</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>Empty_collection_AM</targetReference>
        </connector>
        <inputReference>col_TeamMembersDeletes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_records_BDR</name>
        <label>Delete records BDR</label>
        <locationX>457</locationX>
        <locationY>1486</locationY>
        <connector>
            <targetReference>Empty_collection_BDR</targetReference>
        </connector>
        <inputReference>col_TeamMembersDeletes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_records_CSM</name>
        <label>Delete records CSM</label>
        <locationX>477</locationX>
        <locationY>2021</locationY>
        <connector>
            <targetReference>Empty_collection_CSM</targetReference>
        </connector>
        <inputReference>col_TeamMembersDeletes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_records_PAM</name>
        <label>Delete records PAM</label>
        <locationX>610</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>Empty_collection_AM_0</targetReference>
        </connector>
        <inputReference>col_TeamMembersDeletes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_records_TAM</name>
        <label>Delete records TAM</label>
        <locationX>552</locationX>
        <locationY>2484</locationY>
        <connector>
            <targetReference>Empty_collection_TAM</targetReference>
        </connector>
        <inputReference>col_TeamMembersDeletes</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Account_Team_Members</name>
        <label>Get - All Account Team Members</label>
        <locationX>1271</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dcn_ADR_Removed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1090</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Account_Team_Members</targetReference>
        </connector>
        <filterFormula>IF( ISCHANGED({!$Record.P_TAM__c}), TRUE, 
IF( ISCHANGED({!$Record.Account_Manager_user__c}), TRUE, 
IF(ISCHANGED({!$Record.BDR__c}), TRUE,
IF(ISCHANGED({!$Record.Agency_Account_Owner__c}),TRUE,
IF(ISCHANGED({!$Record.Affiliate_Manager__c}),TRUE,
IF(ISCHANGED({!$Record.ADR__c}),
TRUE,FALSE))))))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>col_AccountUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>col_NewMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>col_RemoveItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>col_RemoveTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>col_TeamMembersDeletes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>col_UpdateTM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>col_UserLookUps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soAccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>soAccountTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>soAcctTeamMemberDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>soAcctTMDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>var_TeamMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
