Account_Notify_Order_Entry_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Slack_Notification_Is_Active</name>
        <label>Check Slack Notification Is Active</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Slack - Not Active</defaultConnectorLabel>
        <rules>
            <name>Slack_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_FTC_Acceptance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Migration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_FTC_Acceptance_Platform_Event</targetReference>
            </connector>
            <label>Slack - Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Notify Order Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Notify Order Entry Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_FTC_Acceptance_Platform_Event</name>
        <label>Publish FTC Acceptance Platform Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FTC_Acceptance_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Slack_Notification_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TOS_Accepted__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TOS_Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
