Account_Team_Member_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asn_Values_to_Vars</name>
        <label>Asn - Values to Vars</label>
        <locationX>842</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Object_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Who_was_deleted</name>
        <label>Who was deleted?</label>
        <locationX>842</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_ADR</targetReference>
            </connector>
            <label>ADR</label>
        </rules>
        <rules>
            <name>BDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_BDR</targetReference>
            </connector>
            <label>BDR</label>
        </rules>
        <rules>
            <name>CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CSM</targetReference>
            </connector>
            <label>CSM</label>
        </rules>
        <rules>
            <name>TAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ TAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_TAM</targetReference>
            </connector>
            <label>TAM</label>
        </rules>
        <rules>
            <name>PAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_PAM</targetReference>
            </connector>
            <label>PAM</label>
        </rules>
        <rules>
            <name>Affiliate_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_AM</targetReference>
            </connector>
            <label>Affiliate Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Team Member - PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team_Members</name>
        <label>Get - Account Team Members</label>
        <locationX>842</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_was_deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_ADR</name>
        <label>Remove ADR</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ADR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_AM</name>
        <label>Remove AM</label>
        <locationX>1370</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Affiliate_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Affiliate_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_BDR</name>
        <label>Remove BDR</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BDR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_CSM</name>
        <label>Remove CSM</label>
        <locationX>578</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Manager_user__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Manager_user__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_PAM</name>
        <label>Remove PAM</label>
        <locationX>1106</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agency_Account_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency_Account_Owner__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_TAM</name>
        <label>Remove TAM</label>
        <locationX>842</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>P_TAM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P_TAM__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asn_Values_to_Vars</targetReference>
        </connector>
        <object>Team_Member_Deleted__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>accountfields</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ADR {!soAccount.ADR__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account ID {!var_AccountId}
User ID {!var_UserId}

ADR {!var_Role}</text>
    </textTemplates>
    <variables>
        <name>soAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
