Account_Team_Member_Team_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Dcn_ADR</name>
        <label>Dcn - ADR</label>
        <locationX>777</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Dcn_P_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.ADR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ADR</targetReference>
            </connector>
            <label>ADR New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_Affiliate_Manager</name>
        <label>Dcn - Affiliate Manager</label>
        <locationX>776</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Dcn_PAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affiliate_Manager_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Affiliate_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Affiliate_Manager</targetReference>
            </connector>
            <label>Affiliate Manager New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_BDR</name>
        <label>Dcn - BDR</label>
        <locationX>776</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Dcn_P_TAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BDR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.BDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BDR</targetReference>
            </connector>
            <label>BDR New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_P_CSM</name>
        <label>Dcn - P+ CSM</label>
        <locationX>776</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Dcn_Affiliate_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_CSM_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ CSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Account_Manager_user__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_P_CSM</targetReference>
            </connector>
            <label>P+ CSM New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_P_TAM</name>
        <label>Dcn - P+ TAM</label>
        <locationX>776</locationX>
        <locationY>2183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_TAM_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ TAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.P_TAM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_P_TAM</targetReference>
            </connector>
            <label>P+ TAM New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_PAM</name>
        <label>Dcn - PAM</label>
        <locationX>776</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Dcn_BDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAM_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency_Account_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PAM</targetReference>
            </connector>
            <label>PAM New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fr_IsDeleted</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Id})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account Team Member - Team Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - Team Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dcn_ADR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ADR</name>
        <label>Update ADR</label>
        <locationX>644</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Dcn_P_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Affiliate_Manager</name>
        <label>Update Affiliate Manager</label>
        <locationX>644</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Dcn_PAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Affiliate_Manager__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BDR</name>
        <label>Update BDR</label>
        <locationX>644</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Dcn_P_TAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BDR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_P_CSM</name>
        <label>Update P+ CSM</label>
        <locationX>644</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Dcn_Affiliate_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Manager_user__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_P_TAM</name>
        <label>Update P+ TAM</label>
        <locationX>644</locationX>
        <locationY>2303</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P_TAM__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAM</name>
        <label>Update PAM</label>
        <locationX>644</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Dcn_BDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency_Account_Owner__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
