Add_Opportunity_Line_Items_from_Subscription_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign a single opp line item to record variable. Then add that to the collection</description>
        <name>Assign_new_opp_line_item</name>
        <label>Assign new opp line item</label>
        <locationX>1620</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.celigo_sfnsio__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.celigo_sfnsio__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Celigo_AT_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Celigo_AT_Charge_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Celigo_AT_NetSuite_Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Celigo_AT_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DRAFT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Celigo_AT_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Celigo_AT_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Subscription_Plan_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WPE_Subscription_plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignPercentages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Line_Item_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Accounts</name>
        <label>Assign Number of Accounts</label>
        <locationX>1335</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>pricelinecount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Price_Book_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_Percentage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Percentage</name>
        <label>Assign Percentage</label>
        <locationX>950</locationX>
        <locationY>1451</locationY>
        <assignmentItems>
            <assignToReference>AssignPercentages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Default_Disc_Per__c.Discount_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Products_Already_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Plan</name>
        <label>Assign Price Plan</label>
        <locationX>2350</locationX>
        <locationY>2228</locationY>
        <assignmentItems>
            <assignToReference>PricePlanRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Filtered_Products.WPE_Price_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookEntry_Id</name>
        <label>Assign PriceBookEntry Id</label>
        <locationX>1618</locationX>
        <locationY>2754</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBook_Entry_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_opp_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookEntry_Id_0</name>
        <label>Assign PriceBookEntry Id</label>
        <locationX>1945</locationX>
        <locationY>2912</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Price_Book_Entry_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_opp_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For each single opp line item record assigned to the single record variable, add to the collection</description>
        <name>Assign_Single_Line_Item_to_collection_0</name>
        <label>Assign Single Line Item to collection</label>
        <locationX>1095</locationX>
        <locationY>2910</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Values</name>
        <label>Reset Values</label>
        <locationX>1096</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>UnitPriceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricePlanRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_the_product_record_from_pricelines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter the product record from pricelines</label>
        <locationX>1312</locationX>
        <locationY>2056</locationY>
        <assignNextValueToReference>currentItem_Filter_the_product_record_from_pricelines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Price_Book_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_the_product_record_from_pricelines.Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>PriceBook_Lines_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Price_Tier_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Price Tier Filter</label>
        <locationX>2348</locationX>
        <locationY>2355</locationY>
        <assignNextValueToReference>currentItem_Price_Tier_Filter_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Price_Tier</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Price_Tier_Filter_0.Price_Plan__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>PricePlanRecordId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Tier_Price</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Apply_Percentage</name>
        <label>Apply Percentage?</label>
        <locationX>1130</locationX>
        <locationY>1452</locationY>
        <defaultConnector>
            <targetReference>Do_Products_Already_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Pricebook_Record.Price_Book_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Default_Disc_Per__c.Price_Book_Terms__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Percentage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there are not items or if the items don&apos;t have prices, just stop the process</description>
        <name>Are_there_items_with_prices</name>
        <label>Are there items with prices</label>
        <locationX>882</locationX>
        <locationY>2744</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>items_exist_with_prices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_0</targetReference>
            </connector>
            <label>items exist with prices</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Is_this_a_Cloned_Opp</name>
        <label>dcn Is this a Cloned Opp?</label>
        <locationX>1134</locationX>
        <locationY>369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_not_cloned_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Clone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Split_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRIORVALUE</targetReference>
            </connector>
            <label>No - not cloned Split</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks for existing products since those will need to be removed and replaced by new products</description>
        <name>Do_Products_Already_Exists</name>
        <label>Do Products Already Exists?</label>
        <locationX>1131</locationX>
        <locationY>1620</locationY>
        <defaultConnector>
            <targetReference>Add_the_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Products_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Products</targetReference>
            </connector>
            <label>Products Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage_0</name>
        <label>Opportunity Stage = 0</label>
        <locationX>683</locationX>
        <locationY>2787</locationY>
        <defaultConnector>
            <targetReference>Create_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - Pre Sales Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Stage_1</targetReference>
            </connector>
            <label>Yes = 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Entry_Found</name>
        <label>Price Entry Found</label>
        <locationX>1610</locationX>
        <locationY>2569</locationY>
        <defaultConnector>
            <targetReference>Create_Price_Book_Entry_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook_Entry_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PriceBookEntry_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Plan_exists</name>
        <label>Price Plan exists?</label>
        <locationX>1970</locationX>
        <locationY>2239</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricePlanRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Tier_Filter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a price tier was found, continue. If not, stop</description>
        <name>Price_Tier_Was_Found</name>
        <label>Price Tier Was Found?</label>
        <locationX>1323</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Tier_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currTotalPrice</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PriceBook_Entry_Id</targetReference>
            </connector>
            <label>Price Tier Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Pricebook lines found then continue, if not, stop flow</description>
        <name>PriceBook_Lines_Found</name>
        <label>PriceBook Lines Found?</label>
        <locationX>1900</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriceBook_Lines_WereFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_the_product_record_from_pricelines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Filtered_Products</targetReference>
            </connector>
            <label>PriceBook Lines Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRIORVALUE</name>
        <label>PRIORVALUE</label>
        <locationX>1132</locationX>
        <locationY>585</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRIORVALUE_NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.WPE_Subscription_plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.WPE_Subscription_plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WPE_Subscription_plan__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.WPE_Price_book_NetSuite__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.WPE_Price_book_NetSuite__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Subscription_Plan_Lines</targetReference>
            </connector>
            <label>PRIORVALUE NULL OR CHANGED</label>
        </rules>
    </decisions>
    <description>When a subscription plan is added to an opportunity or changed on the opportunity, add the line items from the subscription plan.</description>
    <environments>Default</environments>
    <interviewLabel>Add Opportunity Line Items from Subscription Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Opportunity Line Items from Subscription Plan.v1</label>
    <loops>
        <name>Loop_through_Filtered_Products</name>
        <label>Loop through Filtered Products</label>
        <locationX>2192</locationX>
        <locationY>2057</locationY>
        <collectionReference>Filter_the_product_record_from_pricelines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Price_Plan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Price_Plan_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We will loop through the plan lines and create opportunity line items for each product associated with each plan line.</description>
        <name>Loop_Through_Subscription_Plan_Lines</name>
        <label>Loop Through Subscription Plan Lines</label>
        <locationX>1096</locationX>
        <locationY>1963</locationY>
        <collectionReference>Get_The_Subscription_Plan_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_the_product_record_from_pricelines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_items_with_prices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Opp Line Items</description>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>889</locationX>
        <locationY>2997</locationY>
        <inputReference>OpportunityLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book_Entry_Record</name>
        <label>Create Price Book Entry Record</label>
        <locationX>1945</locationX>
        <locationY>2566</locationY>
        <connector>
            <targetReference>Assign_PriceBookEntry_Id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Remove the products associated with the opportunity as they will need to be replaced by the products associated to the plan lines related to the subscription plan that was selected on the opportunity record.</description>
        <name>Delete_Opportunity_Products</name>
        <label>Delete Opportunity Products</label>
        <locationX>764</locationX>
        <locationY>1771</locationY>
        <connector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Price_Book_Lines</name>
        <label>Get All Price Book Lines</label>
        <locationX>1335</locationX>
        <locationY>1085</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_book_NetSuite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WPE_Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WPE_Price_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Book_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Tier</name>
        <label>Get Price Tier</label>
        <locationX>1335</locationX>
        <locationY>1260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PriceBookId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WPE_Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Above_From_Quantity__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>isinactive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Tier__c</object>
        <sortField>Above_From_Quantity__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Entry_Id</name>
        <label>Get PriceBook Entry Id</label>
        <locationX>1350</locationX>
        <locationY>2642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Entry_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>1334</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_Pricebook_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Pricebook_Record</name>
        <label>Get Subscription Pricebook Record</label>
        <locationX>1334</locationX>
        <locationY>933</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Price_Book_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WPE_Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_books_NetSuite__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the subscription plan lines associated with the subscription plan that was selected on the opportunity record that triggered the flow</description>
        <name>Get_The_Subscription_Plan_Lines</name>
        <label>Get The Subscription Plan Lines</label>
        <locationX>1140</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WPE_Subscription_plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Plan_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Add a pricebook since no pricebook has been added yet</description>
        <name>Add_the_Pricebook</name>
        <label>Add the Pricebook</label>
        <locationX>1449</locationX>
        <locationY>1776</locationY>
        <connector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Stage_1</name>
        <label>Update to Stage 1</label>
        <locationX>607</locationX>
        <locationY>2898</locationY>
        <connector>
            <targetReference>Create_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1017</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>dcn_Is_this_a_Cloned_Opp</targetReference>
        </connector>
        <filterLogic>(1 AND 3) AND (2 OR 4)</filterLogic>
        <filters>
            <field>WPE_Subscription_plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Subscription_plan__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Price_book_NetSuite__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Price_book_NetSuite__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Tier_Price</name>
        <label>Calculate Tier Price</label>
        <locationX>1837</locationX>
        <locationY>2362</locationY>
        <connector>
            <targetReference>Price_Tier_Was_Found</targetReference>
        </connector>
        <flowName>Calculate_Tier_Price_for_Subscription_Lines</flowName>
        <inputAssignments>
            <name>colPriceTierRecords</name>
            <value>
                <elementReference>Price_Tier_Filter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumQuantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currTotalPrice</assignToReference>
            <name>CurrOutputPriceValue</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AssignPercentages</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_the_product_record_from_pricelines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Book_Line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Price_Tier_Filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Tier__c</objectType>
    </variables>
    <variables>
        <name>currTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Store a single opportunity line item which will be added to a record collection</description>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Store the Opportunity Line items that we assign to this variable so we can create in bulk</description>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricelinecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PricePlanRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the products associated with the plan lines.</description>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>The subscription plan lines associated with the subscription plan selected on the opportunity record that triggered the flow</description>
        <name>SubscriptionPlanLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Plan_Line__c</objectType>
    </variables>
    <variables>
        <name>UnitPriceValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
