Add_Order_Line_Items_from_Subscription_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign a single opp line item to record variable. Then add that to the collection</description>
        <name>Assign_new_order_line_item</name>
        <label>Assign new Order line item</label>
        <locationX>402</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitPriceValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Celigo_AT_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Celigo_AT_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Celigo_AT_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Celigo_AT_Charge_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Celigo_AT_NetSuite_Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Celigo_AT_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DRAFT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.Celigo_AT_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Celigo_AT_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_Line_Item_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Plan</name>
        <label>Assign Price Plan</label>
        <locationX>875</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>PricePlanRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Filtered_Products.WPE_Price_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Tier_Record</name>
        <label>Assign Price Tier Record</label>
        <locationX>688</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>UnitPriceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Filtered_Price_Tier.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_Price_Tier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookEntry_Id</name>
        <label>Assign PriceBookEntry Id</label>
        <locationX>270</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBook_Entry_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_order_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookEntry_Id_0</name>
        <label>Assign PriceBookEntry Id</label>
        <locationX>534</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Price_Book_Entry_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_order_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For each single opp line item record assigned to the single record variable, add to the collection</description>
        <name>Assign_Single_Line_Item_to_collection_0</name>
        <label>Assign Single Line Item to collection</label>
        <locationX>402</locationX>
        <locationY>3599</locationY>
        <assignmentItems>
            <assignToReference>OrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Values</name>
        <label>Reset Values</label>
        <locationX>402</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>UnitPriceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricePlanRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_the_product_record_from_pricelines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter the product record from pricelines</label>
        <locationX>968</locationX>
        <locationY>1631</locationY>
        <assignNextValueToReference>currentItem_Filter_the_product_record_from_pricelines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Price_Book_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_the_product_record_from_pricelines.Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>PriceBook_Lines_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Price_Tier_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Price Tier Filter</label>
        <locationX>600</locationX>
        <locationY>2327</locationY>
        <assignNextValueToReference>currentItem_Price_Tier_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Price_Tier</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Price_Tier_Filter.Price_Plan__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>PricePlanRecordId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Filtered_Price_Tier</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>If there are not items or if the items don&apos;t have prices, just stop the process</description>
        <name>Are_there_items_with_prices</name>
        <label>Are there items with prices</label>
        <locationX>182</locationX>
        <locationY>4223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>items_exist_with_prices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Line_Items</targetReference>
            </connector>
            <label>items exist with prices</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_Subscription_Plan_and_Price_is_associated_to_Order</name>
        <label>Check if the Subscription Plan and Price is associated to Order</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_book_NetSuite__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Subscription_Plan_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks for existing products since those will need to be removed and replaced by new products</description>
        <name>Do_Products_Already_Exists</name>
        <label>Do Products Already Exists?</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Add_the_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Products_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Products</targetReference>
            </connector>
            <label>Products Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Entry_Found</name>
        <label>Price Entry Found</label>
        <locationX>402</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Create_Price_Book_Entry_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook_Entry_Id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PriceBookEntry_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Plan_exists</name>
        <label>Price Plan exists?</label>
        <locationX>787</locationX>
        <locationY>2207</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricePlanRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Tier_Filter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a price tier was found, continue. If not, stop</description>
        <name>Price_Tier_Was_Found</name>
        <label>Price Tier Was Found?</label>
        <locationX>600</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_Tier_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitPriceValue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PriceBook_Entry_Id</targetReference>
            </connector>
            <label>Price Tier Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Pricebook lines found then continue, if not, stop flow</description>
        <name>PriceBook_Lines_Found</name>
        <label>PriceBook Lines Found?</label>
        <locationX>968</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PriceBook_Lines_WereFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_the_product_record_from_pricelines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Filtered_Products</targetReference>
            </connector>
            <label>PriceBook Lines Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRIORVALUE</name>
        <label>PRIORVALUE</label>
        <locationX>743</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRIORVALUE_NULL</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Subscription_plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subscription_plan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subscription_plan__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Attention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_the_Subscription_Plan_and_Price_is_associated_to_Order</targetReference>
            </connector>
            <label>DOWNGRADE - PRIORVALUE NULL OR CHANGED</label>
        </rules>
        <rules>
            <name>UPGRADE_Status_Submitted</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subscription</targetReference>
            </connector>
            <label>UPGRADE/Downgrade Status Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Order Line Items from Subscription Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Order Line Items from Subscription Plan</label>
    <loops>
        <name>Loop_through_Filtered_Price_Tier</name>
        <label>Loop through Filtered Price Tier</label>
        <locationX>600</locationX>
        <locationY>2447</locationY>
        <collectionReference>Price_Tier_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Price_Tier_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Price_Tier_Was_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Filtered_Products</name>
        <label>Loop through Filtered Products</label>
        <locationX>787</locationX>
        <locationY>1871</locationY>
        <collectionReference>Filter_the_product_record_from_pricelines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Price_Plan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Price_Plan_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We will loop through the plan lines and create opportunity line items for each product associated with each plan line.</description>
        <name>Loop_Through_Subscription_Plan_Lines</name>
        <label>Loop Through Subscription Plan Lines</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_The_Subscription_Plan_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_the_product_record_from_pricelines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_items_with_prices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Opp Line Items</description>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>50</locationX>
        <locationY>4343</locationY>
        <connector>
            <targetReference>Update_Order_Status_to_Draft</targetReference>
        </connector>
        <inputReference>OrderLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book_Entry_Record</name>
        <label>Create Price Book Entry Record</label>
        <locationX>534</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>Assign_PriceBookEntry_Id_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Remove the products associated with the opportunity as they will need to be replaced by the products associated to the plan lines related to the subscription plan that was selected on the opportunity record.</description>
        <name>Delete_Opportunity_Products</name>
        <label>Delete Opportunity Products</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Price_Book_Lines</name>
        <label>Get All Price Book Lines</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Tier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_book_NetSuite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WPE_Price_Plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Book_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Tier</name>
        <label>Get Price Tier</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Products_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PriceBookId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Above_From_Quantity__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Entry_Id</name>
        <label>Get PriceBook Entry Id</label>
        <locationX>402</locationX>
        <locationY>2903</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Entry_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Subscription_Plan_Lines.WPE_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PriceBook</name>
        <label>Get Standard PriceBook</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_Pricebook_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Pricebook_Record</name>
        <label>Get Subscription Pricebook Record</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Price_Book_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_books_NetSuite__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the subscription plan lines associated with the subscription plan that was selected on the opportunity record that triggered the flow</description>
        <name>Get_The_Subscription_Plan_Lines</name>
        <label>Get The Subscription Plan Lines</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_PriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription_plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Plan_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Add a pricebook since no pricebook has been added yet</description>
        <name>Add_the_Pricebook</name>
        <label>Add the Pricebook</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Loop_Through_Subscription_Plan_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_PriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status_to_Draft</name>
        <label>Update Order Status to Draft</label>
        <locationX>50</locationX>
        <locationY>4463</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Subscription__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change_Subscription_Type__c</field>
            <value>
                <stringValue>Termination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To_Be_Cancelled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PRIORVALUE</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Downgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancellation</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_the_product_record_from_pricelines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Book_Line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Price_Tier_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Tier__c</objectType>
    </variables>
    <variables>
        <description>Store a single opportunity line item which will be added to a record collection</description>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Store the Opportunity Line items that we assign to this variable so we can create in bulk</description>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricePlanRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the products associated with the plan lines.</description>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>The subscription plan lines associated with the subscription plan selected on the opportunity record that triggered the flow</description>
        <name>SubscriptionPlanLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Plan_Line__c</objectType>
    </variables>
    <variables>
        <name>UnitPriceValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
