Agency_Pro_with_Assigned_Tam_Slack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Workflow_Agency_Pro</name>
        <label>Post to Slack Workflow - Agency Pro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackClosedWonAgencyPro.postTriggersT030abj1f8803527877525F44ef199e67c10d976842ee040816528</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_AgencyPro</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonAgencyPro.postTriggersT030abj1f8803527877525F44ef199e67c10d976842ee040816528</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Salesforce_Sandbox_Notifications</name>
        <label>Post to Slack Workflow - Salesforce Sandbox Notifications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackClosedWonAgencyProSandbox.postTriggersT030abj1f8809717580546430aaeeaafb6307cdabb97d89957b955</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_AgencyPro_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonAgencyProSandbox.postTriggersT030abj1f8809717580546430aaeeaafb6307cdabb97d89957b955</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Slack_Request</name>
        <label>Assignment Slack Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_AgencyPro.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_AgencyPro.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_AgencyPro.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Agency_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Slack_Request_Sandbox</name>
        <label>Assignment Slack Request Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_AgencyPro_Sandbox.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_AgencyPro_Sandbox.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_AgencyPro_Sandbox.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Salesforce_Sandbox_Notifications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Is_Sandbox</name>
        <label>Decision Is Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment_Slack_Request_Sandbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sandbox</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Slack_Request</targetReference>
            </connector>
            <label>Production</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_URL_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.RecordId__c}</expression>
    </formulas>
    <interviewLabel>Agency Pro With Assigned Tam - Slack Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agency Pro with Assigned Tam - Slack Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_Sandbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Agency_Pro_Assigned_Tam_Slack__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Slack_Request_AgencyPro</name>
        <apexClass>ExternalService__SlackClosedWonAgencyPro_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_AgencyPro_Sandbox</name>
        <apexClass>ExternalService__SlackClosedWonAgencyProSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
