Calculate_No_of_Productsforsubscription_Families.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_No_of_Prod_to_zero</name>
        <label>Assign No. of Prod to zero</label>
        <locationX>396</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>noofproducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_limit_is_crossed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_of_records_to_Prod_variable</name>
        <label>Assign No. of records to Prod variable</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>noofproducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Products_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Prod_no_to_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prod_no_to_Family</name>
        <label>Assign Prod no. to Family</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_each_family.Number_of_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noofproducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_record_to_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_a_collection</name>
        <label>Assign record to a collection</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colSubscriptionFamilyMap</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_each_family</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_No_of_Prod_to_zero</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_limit_is_crossed</name>
        <label>if limit is crossed?</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_through_each_family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Subscription_Family</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Calculate No. of Products for a give subscription Family {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate No. of Products for a give subscription Family</label>
    <loops>
        <name>Loop_through_each_family</name>
        <label>Loop through each family</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Subscription_Family_Map_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Products_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subscription_Family</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products_Records</name>
        <label>Get Products Records</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_No_of_records_to_Prod_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Family__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_through_each_family.Subscription_Family_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Family_Map_Record</name>
        <label>Get Subscription Family Map Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_family</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Family_Map__c</object>
        <sortField>Number_of_Products__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription_Family</name>
        <label>Update Subscription Family</label>
        <locationX>176</locationX>
        <locationY>1370</locationY>
        <inputReference>colSubscriptionFamilyMap</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription_Family_Map_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colSubscriptionFamilyMap</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>noofproducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
