Campaign_Name_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Restrict_Update</name>
        <label>Restrict Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The Campaign Name is not directly editable. To make edits, please update the field(s) in the Campaign Details: Date of Launch, Channel Key, Primary Team, and Short Description.</errorMessage>
            <fieldSelection>Name</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_Name_Concatenate_Fields_Updated</name>
        <label>Is Name Concatenate  Fields Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Name</targetReference>
            </connector>
            <label>New Campaign</label>
        </rules>
        <rules>
            <name>Campaign_Update</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Team__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Key__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Short_Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_Campaign_Name</targetReference>
            </connector>
            <label>Campaign Update</label>
        </rules>
        <rules>
            <name>Restrict_User_From_Editing_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CampaignFormatName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUserProfile.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WPE - System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUserProfile.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUserProfile.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WPE - Integration Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Restrict_Update</targetReference>
            </connector>
            <label>Restrict User From Editing Name</label>
        </rules>
    </decisions>
    <description>Update Campaign name to the format YYMMDD (Date of Launch)_Channel Key_Primary Team_ Short Description</description>
    <environments>Default</environments>
    <formulas>
        <name>CampaignFormatName</name>
        <dataType>String</dataType>
        <expression>MID({!DateRequiredFormat}, 3, LEN({!DateRequiredFormat})) &amp; IF(NOT(ISBLANK(TEXT({!$Record.Channel_Key__c}))),&apos;_&apos;&amp;TEXT({!$Record.Channel_Key__c}),&apos; &apos;) 
&amp; IF(NOT(ISBLANK(TEXT({!$Record.Primary_Team__c}))),&apos;_&apos;&amp;TEXT({!$Record.Primary_Team__c}),&apos; &apos;) 
&amp; IF(NOT(ISBLANK({!$Record.Short_Description__c})),&apos;_&apos;&amp;{!$Record.Short_Description__c},&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <name>DateRequiredFormat</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.Event_Date__c})) &amp; 
IF(LEN(TEXT(MONTH({!$Record.Event_Date__c}))) = 1, &quot;0&quot; &amp; TEXT(MONTH({!$Record.Event_Date__c})), TEXT(MONTH({!$Record.Event_Date__c}))) &amp; 
IF(LEN(TEXT(DAY({!$Record.Event_Date__c}))) = 1, &quot;0&quot; &amp; TEXT(DAY({!$Record.Event_Date__c})), TEXT(DAY({!$Record.Event_Date__c})))</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Cam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Name Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUserProfile</name>
        <label>Get User Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Name_Concatenate_Fields_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Format_Campaign_Name</name>
        <label>Format Campaign Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CampaignFormatName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Name</name>
        <label>Update Campaign Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CampaignFormatName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserProfile</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
