Case_Round_Robin_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Onboarding_Email_Notification_Upon_Case_Creation</name>
        <label>Onboarding Email Notification Upon Case Creation</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>OnboardingEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OnboardingEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASN_Case_Owner</name>
        <label>ASN Case Owner</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RLK_Get_Round_Robin_Assignments.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RLK_Get_Round_Robin_Assignments.Last_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUP_Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Slack_Notifications_Is_Active_Private_Room</name>
        <label>Check Slack Notifications Is Active - Private Room</label>
        <locationX>622</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Email_Notification_Upon_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active_Private_Room</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_Onboarding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Onboarding_Slack_Platform_Event_Private_Room</targetReference>
            </connector>
            <label>Active - Private Room</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Slack_Notifications_Is_Active_Region</name>
        <label>Check Slack Notifications Is Active - Region</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Email_Notification_Upon_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active</defaultConnectorLabel>
        <rules>
            <name>Active_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_Onboarding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Onboarding_Slack_Platform_Event_Region</targetReference>
            </connector>
            <label>Active - Region</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCN_Round_Robin_Assignment_Exists</name>
        <label>DCN Round Robin Assignment Exists</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetCaseQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Round_Robin_Assignment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RLK_Get_Round_Robin_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Case_Owner</targetReference>
            </connector>
            <label>Round Robin Assignment Exists</label>
        </rules>
    </decisions>
    <description>15AUG23 Colin - Sandbox v Prod environment handling
4AUG23 Colin - Publish Platform Event for utilize Slack Workflow External Service
4MAY23 CC - Add Onboarding email notification
30MAR23 CC - Add Slack Notification for Onboarding cases.</description>
    <environments>Default</environments>
    <formulas>
        <name>calcQueueName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.RecordType.DeveloperName},&quot;Onboarding&quot;),&quot;Onboarding&quot;,{!$Record.RecordType.DeveloperName})</expression>
    </formulas>
    <formulas>
        <name>Email_Recipient</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Flow_Environment_Settings__c.Email_Notifications_Onboarding__c}</expression>
    </formulas>
    <formulas>
        <name>fr_LinkToCase</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>fr_LinkToOpportunity</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.Opportunity__c}</expression>
    </formulas>
    <interviewLabel>Case - Round Robin Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Round Robin Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Onboarding_Slack_Platform_Event_Private_Room</name>
        <label>Publish Onboarding Slack Platform Event - Private Room</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Onboarding_Email_Notification_Upon_Case_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Onboarding_Slack_Platform_Event_Region</name>
        <label>Publish Onboarding Slack Platform Event - Region</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Onboarding_Email_Notification_Upon_Case_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>RLK_Get_Round_Robin.Region__c</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Queue based on the Case record Type</description>
        <name>GetCaseQueue</name>
        <label>Get Case Queue</label>
        <locationX>622</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>calcQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RLK_Get_Round_Robin</name>
        <label>RLK Get Round Robin</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RLK_Get_Round_Robin_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Assigned_Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RLK_Get_Round_Robin_Assignments</name>
        <label>RLK Get Round Robin Assignments</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DCN_Round_Robin_Assignment_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Round_Robin__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RLK_Get_Round_Robin.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive_End__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive_End__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive_Start__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Round_Robin_Assignments__c</object>
        <sortField>Last_Assigned__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RUP_Update_Case</name>
        <label>RUP Update Case</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>RUP_Update_Round_Robin_Assignment</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RUP_Update_Round_Robin_Assignment</name>
        <label>RUP Update Round Robin Assignment</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Slack_Notifications_Is_Active_Region</targetReference>
        </connector>
        <inputReference>RLK_Get_Round_Robin_Assignments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_Queue</name>
        <label>Update Case to Queue</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Check_Slack_Notifications_Is_Active_Private_Room</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCaseQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RLK_Get_Round_Robin</targetReference>
        </connector>
        <filterFormula>CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Onboarding&quot;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>notificationBodyForPrivateRoom</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello, Onboarding. A new Case has been created that is unassigned. Please review and manually assign as needed. Thanks!
{!$Record.Opportunity__r.Owner_Name__c} just closed a new deal for {!$Record.Opportunity__r.Account.Name}
Here are the Details:Type: {!$Record.Opportunity__r.Sales_Type__c}
Plan: {!$Record.Opportunity__r.Subscription_Family__c}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationBodyForRegions</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hey {!$Record.Owner:User.Full_Name__c}! {!$Record.Opportunity__r.Owner_Name__c} just closed a new deal for {!$Record.Opportunity__r.Account.Name}
Here are the Details:
Type: {!$Record.Opportunity__r.Sales_Type__c}
Plan: {!$Record.Opportunity__r.Subscription_Family__c}</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardingEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello, Onboarding!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Record.Opportunity__r.Owner_Name__c}&lt;/strong&gt; just closed a &lt;strong&gt;{!$Record.Opportunity__r.Sales_Type__c}&lt;/strong&gt; for &lt;strong&gt;{!$Record.Account.Name}&lt;/strong&gt;. Here are some additional details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!$Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Type:&lt;/strong&gt; {!$Record.Opportunity__r.Sales_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Family:&lt;/strong&gt; {!$Record.Opportunity__r.Subscription_Family__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount:&lt;/strong&gt; {!$Record.Opportunity__r.Amount}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!fr_LinkToOpportunity}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case: &lt;/strong&gt;{!fr_LinkToCase}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Onboarding Manager Assigned: &lt;/strong&gt;{!$Record.Case_Owner_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Opportunity__r.Owner_Name__c} with any questions.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OnboardingEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Onboarding Case Created {!$Record.Subject}</text>
    </textTemplates>
    <variables>
        <name>Assignment_Exists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordId for the Lead</description>
        <name>varLeadInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
