Case_Notifications_Sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Introduce_AM_to_Customer_at_the_End_of_Onboarding</name>
        <label>Introduce AM to Customer at the End of Onboarding</label>
        <locationX>1572</locationX>
        <locationY>515</locationY>
        <actionName>Case.Introduce_AM_to_Customer_at_the_End_of_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Introduce_AM_to_Customer_at_the_End_of_Onboarding</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_Owner_and_Case_Owner_Manager</name>
        <label>Notify Case Owner and Case Owner Manager</label>
        <locationX>1015</locationX>
        <locationY>619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>userEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubjectOwner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_emails_to_collection</name>
        <label>Add emails to collection</label>
        <locationX>727</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>userEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soCase.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soCase.Owner:User.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Case_Owner_and_Case_Owner_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_uncompleted_tasks</name>
        <label>Is there uncompleted tasks?</label>
        <locationX>823</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Uncompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_uncompleted_tasks_overdue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_emails_to_collection</targetReference>
            </connector>
            <label>Yes - Uncompleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Case_Closed</name>
        <label>Onboarding Case Closed?</label>
        <locationX>1297</locationX>
        <locationY>475</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Record_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Introduce_AM_to_Customer_at_the_End_of_Onboarding</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Recent Changes: Notify Case owner and User Manager</description>
    <environments>Default</environments>
    <interviewLabel>Case - Notifications Sub-flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Notifications Sub-flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_uncompleted_tasks_overdue</name>
        <label>Get all uncompleted tasks overdue</label>
        <locationX>831</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_uncompleted_tasks</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Due_date_check__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reserve a server and move the account to it</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Set the Child Preferred Cluster in Overdrive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>705</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_all_uncompleted_tasks_overdue</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailBodyOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The {!soCase.Opportunity__r.StageName} stage is 2 days away from its scheduled due date. Please review any open tasks and action accordingly.</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubjectOwner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review any open tasks and action accordingly</text>
    </textTemplates>
    <variables>
        <name>soCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>userEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
