Case_Round_Robin_Slack_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Workflow_APAC</name>
        <label>Post to Slack Workflow - APAC</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <actionName>SlackOnboardingAPAC.postWorkflowsT030abj1fA01gc6d3ht53319193469829915600rYNiZMaBDRtcTcdYHMmTa1G</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_APAC</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOnboardingAPAC.postWorkflowsT030abj1fA01gc6d3ht53319193469829915600rYNiZMaBDRtcTcdYHMmTa1G</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_EMEA</name>
        <label>Post to Slack Workflow - EMEA</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <actionName>SlackOnboardingEMEA.postWorkflowsT030abj1fA01g8t2exht331919253936550044Cu6tRbX8dANT4a0mscABeNcg</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_EMEA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOnboardingEMEA.postWorkflowsT030abj1fA01g8t2exht331919253936550044Cu6tRbX8dANT4a0mscABeNcg</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_NA</name>
        <label>Post to Slack Workflow - NA</label>
        <locationX>578</locationX>
        <locationY>602</locationY>
        <actionName>SlackOnboardingNA.postWorkflowsT030abj1fA01g57njmhc3319186321393723912nlrg0xho7zUW0WDtPwZ3ucB</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_NA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOnboardingNA.postWorkflowsT030abj1fA01g57njmhc3319186321393723912nlrg0xho7zUW0WDtPwZ3ucB</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Region_Sandbox</name>
        <label>Post to Slack Workflow - Region - Sandbox</label>
        <locationX>1106</locationX>
        <locationY>602</locationY>
        <actionName>SlackOnboardingRegionSandbox.postWorkflowsT030abj1fA05n7bqtyjd474072356130653474EYd1T9UIZ00MbDsntaj09Zc5</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Region_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOnboardingRegionSandbox.postWorkflowsT030abj1fA05n7bqtyjd474072356130653474EYd1T9UIZ00MbDsntaj09Zc5</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Unassigned</name>
        <label>Post to Slack Workflow - Unassigned</label>
        <locationX>842</locationX>
        <locationY>602</locationY>
        <actionName>SlackOnboardingUnassigned.postWorkflowsT030abj1fA05mk6t6dqr473326445570040835N9756BENeKgrGfkAt84iTbVf</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Unassigned</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOnboardingUnassigned.postWorkflowsT030abj1fA05mk6t6dqr473326445570040835N9756BENeKgrGfkAt84iTbVf</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Unassigned_Sandbox</name>
        <label>Post to Slack Workflow - Unassigned - Sandbox</label>
        <locationX>1370</locationX>
        <locationY>602</locationY>
        <actionName>SlackOnboardingUnassignedSandbox.postWorkflowsT030abj1fA05mtpg0uty4741988104536442609bdwZ9FJOnObFIBA3NBuS1Mp</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Unassigned_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOnboardingUnassignedSandbox.postWorkflowsT030abj1fA05mtpg0uty4741988104536442609bdwZ9FJOnObFIBA3NBuS1Mp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Slack_Request_APAC</name>
        <label>Generate Slack Request - APAC</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.onboardingAssignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.oppOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.planType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_APAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_EMEA</name>
        <label>Generate Slack Request - EMEA</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.onboardingAssignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.oppOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.planType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_EMEA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_NA</name>
        <label>Generate Slack Request - NA</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.onboardingAssignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.oppOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.planType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Region_Sandbox</name>
        <label>Generate Slack Request - Region - Sandbox</label>
        <locationX>1106</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Region_Sandbox.onboardingAssignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Region_Sandbox.oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Region_Sandbox.oppOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Region_Sandbox.planType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Region_Sandbox.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Region_Sandbox.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Region_Sandbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Unassigned</name>
        <label>Generate Slack Request - Unassigned</label>
        <locationX>842</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned.oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned.oppOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned.planType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Unassigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Unassigned_Sandbox</name>
        <label>Generate Slack Request - Unassigned - Sandbox</label>
        <locationX>1370</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned_Sandbox.oppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned_Sandbox.oppOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned_Sandbox.planType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned_Sandbox.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Case.Opportunity__r.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Unassigned_Sandbox.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Unassigned_Sandbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Channel_to_Notify</name>
        <label>Which Channel to Notify</label>
        <locationX>842</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_EMEA</targetReference>
            </connector>
            <label>EMEA - Prod</label>
        </rules>
        <rules>
            <name>APAC_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_APAC</targetReference>
            </connector>
            <label>APAC - Prod</label>
        </rules>
        <rules>
            <name>NA_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_NA</targetReference>
            </connector>
            <label>NA - Prod</label>
        </rules>
        <rules>
            <name>Unassigned_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Unassigned</targetReference>
            </connector>
            <label>Unassigned - Prod</label>
        </rules>
        <rules>
            <name>Region_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Region_Sandbox</targetReference>
            </connector>
            <label>Region - Sandbox</label>
        </rules>
        <rules>
            <name>Unassigned_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Unassigned_Sandbox</targetReference>
            </connector>
            <label>Unassigned - Sandbox</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Record_URL_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Onboarding_Case.Id}</expression>
    </formulas>
    <interviewLabel>Case - Round Robin Slack Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Round Robin Slack Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Onboarding_Case</name>
        <label>Get Onboarding Case</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>842</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Case</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <object>Onboarding_Slack__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Slack_Request_APAC</name>
        <apexClass>ExternalService__SlackOnboardingAPAC_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_EMEA</name>
        <apexClass>ExternalService__SlackOnboardingEMEA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_NA</name>
        <apexClass>ExternalService__SlackOnboardingNA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Region_Sandbox</name>
        <apexClass>ExternalService__SlackOnboardingRegionSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Unassigned</name>
        <apexClass>ExternalService__SlackOnboardingUnassigned_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Unassigned_Sandbox</name>
        <apexClass>ExternalService__SlackOnboardingUnassignedSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
