Case_Notify_OTC_that_Onboarding_of_New_Expansion_Opp_is_complete_Sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Onboarding_notification_when_a_case_is_closed</name>
        <label>Onboarding notification when a case is closed</label>
        <locationX>201</locationX>
        <locationY>229</locationY>
        <actionName>Case.OTC_Onboarding_Internal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.OTC_Onboarding_Internal</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message</name>
        <label>Send Slack Message</label>
        <locationX>379</locationX>
        <locationY>229</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Onboarding_notification_when_a_case_is_closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Slack_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_slack_channel.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>soCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>768</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Slack_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soCase.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding - Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>soCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_slack_channel</targetReference>
            </connector>
            <label>Send Slack Notification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Notify OTC that Onboarding of New Expansion Opp is complete Sub-flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Notify OTC that Onboarding of New Expansion Opp is complete Sub-flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_slack_channel</name>
        <label>Get slack channel</label>
        <locationX>568</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Slack_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GTMMOD_PASS_NOTICE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Slack_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Onboarding of expansion is completed.
Opportunity: {!soCase.Opportunity__r.Name}
Account: {!soCase.Account.Name}</text>
    </textTemplates>
    <variables>
        <name>soCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
