Case_Generate_Onboarding_CTAs_from_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>convert the multi pl into a collection of strings</description>
        <name>Create_Task_Add_On_Collection</name>
        <label>Create Task Add-On Collection</label>
        <locationX>490</locationX>
        <locationY>2759</locationY>
        <actionName>ConvertToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_Task_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialString</name>
            <value>
                <elementReference>loop_Build_Add_On_Collection.Add_Ons__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertToStringCollection</nameSegment>
        <outputParameters>
            <assignToReference>collTaskRecordProductStrings</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn_Add_Delimiter_to_end</name>
        <label>asgn Add Delimiter to end</label>
        <locationX>182</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>varOppProductCodeString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Oppty_Prods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>build the oppty prod collection string to compare</description>
        <name>asgn_Oppty_Prod_values</name>
        <label>asgn Oppty Prod values</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>varOppProductCodeString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Oppty_Prods.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Add_Delimiter_to_end</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Add_task_record_to_collection</name>
        <label>ASN - Add task record to collection</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>collCaseTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_onboarding_task_rules_collected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Add_task_record_to_collection_0</name>
        <label>ASN - Add task record to collection</label>
        <locationX>578</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>collCaseTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Task_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Template_generated_value_to_var</name>
        <label>ASN - Template generated value to var</label>
        <locationX>226</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>$Record.Template_Generated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCaseStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opp_Add_Ons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Values_for_Product_task_records</name>
        <label>ASN - Values for Product task records</label>
        <locationX>578</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>recTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Build_Add_On_Collection.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Build_Add_On_Collection.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASN_Add_task_record_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASN_Values_for_task_records</name>
        <label>ASN - Values for task records</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>recTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_onboarding_task_rules_collected.Onboarding_Task_Template__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_onboarding_task_rules_collected.Onboarding_Task_Template__r.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASN_Add_task_record_to_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_task_rule_collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort task rule collection</label>
        <locationX>226</locationX>
        <locationY>1007</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Template_Task_Rules</collectionReference>
        <connector>
            <targetReference>Loop_through_all_onboarding_task_rules_collected</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Sort_Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Tasks_Generated</name>
        <label>Check if Tasks Generated</label>
        <locationX>72</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Template_Task_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tasks_Already_Generated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Template_Generated__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <label>Tasks Already Generated</label>
        </rules>
    </decisions>
    <decisions>
        <name>dc_Opp_Has_Add_Ons</name>
        <label>dc Opp Has Add-Ons</label>
        <locationX>226</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Ons_in_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Add_Ons</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Oppty_Prods</targetReference>
            </connector>
            <label>Add Ons in Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Opp_Prod_has_Task_Product_String</name>
        <label>dcn Opp Prod has Task Product String</label>
        <locationX>710</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>loop_Task_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Product_in_Task_Product_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppProductCodeString</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_Task_Products</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASN_Values_for_Product_task_records</targetReference>
            </connector>
            <label>Opp Product in Task Product String</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Tasks_for_Add_Ons_found</name>
        <label>dcn Tasks for Add-Ons found</label>
        <locationX>94</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_the_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Add_On_specific_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Build_Add_On_Collection</targetReference>
            </connector>
            <label>Found the Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_changed</name>
        <label>Is status changed?</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Template_Task_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Status_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Tasks_Generated</targetReference>
            </connector>
            <label>YES - Status changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcTaskSOQL</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Description__c, Subject__c FROM Onboarding_Master_Task__c WHERE Add_On_Product__c IN (SELECT Product2Id FROM OpportunityLineItem WHERE OpportunityId = &apos;&quot; + {!$Record.Opportunity__c} +&quot;&apos; AND Catalog_Type__c = &apos;Add-On&apos;) AND Onboarding_Type__c = &apos;&quot;+ TEXT({!$Record.Onboarding_Type__c}) +&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>currentCaseStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Template_Generated__c}), TEXT({!$Record.Status}) + &quot;&quot; + &quot;|&quot;,
 TEXT({!$Record.Status}) + &quot;&quot; + &quot;|&quot;)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNEW()</expression>
    </formulas>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.Onboarding_Template__r.Tasks_Due_Date_Offset__c}), TODAY(), TODAY() + {!$Record.Onboarding_Template__r.Tasks_Due_Date_Offset__c})</expression>
    </formulas>
    <interviewLabel>Case - Generate Onboarding CTAs from Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Generate Onboarding CTAs from Template</label>
    <loops>
        <name>loop_Build_Add_On_Collection</name>
        <label>loop Build Add On Collection</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <collectionReference>Get_Add_On_specific_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Task_Add_On_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Oppty_Prods</name>
        <label>loop Oppty Prods</label>
        <locationX>94</locationX>
        <locationY>1943</locationY>
        <collectionReference>Get_Opp_Add_Ons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Oppty_Prod_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Add_On_specific_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Task_Products</name>
        <label>loop Task Products</label>
        <locationX>490</locationX>
        <locationY>2879</locationY>
        <collectionReference>collTaskRecordProductStrings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>dcn_Opp_Prod_has_Task_Product_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Build_Add_On_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_onboarding_task_rules_collected</name>
        <label>Loop through all onboarding task rules collected</label>
        <locationX>226</locationX>
        <locationY>1127</locationY>
        <collectionReference>Get_Template_Task_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASN_Values_for_task_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ASN_Template_generated_value_to_var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Case_Tasks</name>
        <label>Insert Case Tasks</label>
        <locationX>226</locationX>
        <locationY>3959</locationY>
        <inputReference>collCaseTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Add_On_specific_Tasks</name>
        <label>Get Add-On specific Tasks</label>
        <locationX>94</locationX>
        <locationY>2399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcn_Tasks_for_Add_Ons_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Add_Ons__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Master_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Add_Ons</name>
        <label>Get Opp Add-Ons</label>
        <locationX>226</locationX>
        <locationY>1703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dc_Opp_Has_Add_Ons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Catalog_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Task_Rules</name>
        <label>Get Template Task Rules</label>
        <locationX>226</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_task_rule_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Onboarding_Template__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Task_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>226</locationX>
        <locationY>3839</locationY>
        <connector>
            <targetReference>Insert_Case_Tasks</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_status_changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Onboarding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding - New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding - Upgrade</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding - Add-On</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collCaseTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>collOppAddOns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collProductStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collProductTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Master_Task__c</objectType>
    </variables>
    <variables>
        <name>collTaskRecordProductStrings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varOppProductCodeString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskProductString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
