Closed_Won_Dedicated_Plan_Slack_Send_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Workflow_APAC</name>
        <label>Post to Slack Workflow - APAC</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <actionName>SlackClosedWonOppDedicatedApac.postTriggersT030abj1f8676104520451502374d5f3b572370f067063759a8475</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_APAC</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonOppDedicatedApac.postTriggersT030abj1f8676104520451502374d5f3b572370f067063759a8475</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_APAC_Sandbox</name>
        <label>Post to Slack Workflow - APAC Sandbox</label>
        <locationX>1370</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonOppDedicatedApacSandbox.postTriggersT030abj1f865940726637439a57f2579a2b38720dd227c93c6edde</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Sandbox_APAC</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonOppDedicatedApacSandbox.postTriggersT030abj1f865940726637439a57f2579a2b38720dd227c93c6edde</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_EMEA</name>
        <label>Post to Slack Workflow - EMEA</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <actionName>SlackClosedWonOppDedicatedEmea.postTriggersT030abj1f86670355294942b33d580b72f1ba66bae4e40ebefcb28</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_EMEA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonOppDedicatedEmea.postTriggersT030abj1f86670355294942b33d580b72f1ba66bae4e40ebefcb28</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_EMEA_Sandbox</name>
        <label>Post to Slack Workflow - EMEA Sandbox</label>
        <locationX>1106</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonOppDedicatedEmeaSandbox.postTriggersT030abj1f8668606813218F396c4fbcfd5cab323f9cf5c897bc012</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Sandbox_EMEA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonOppDedicatedEmeaSandbox.postTriggersT030abj1f8668606813218F396c4fbcfd5cab323f9cf5c897bc012</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_NA</name>
        <label>Post to Slack Workflow - NA</label>
        <locationX>578</locationX>
        <locationY>602</locationY>
        <actionName>SlackClosedWonOppDedicatedNA.postTriggersT030abj1f8658796150055275d734c4bac71d746a14f6ba8fb65eb</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_NA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonOppDedicatedNA.postTriggersT030abj1f8658796150055275d734c4bac71d746a14f6ba8fb65eb</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_NA_Sandbox</name>
        <label>Post to Slack Workflow - NA Sandbox</label>
        <locationX>842</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonOppDedicatedNASandbox.postTriggersT030abj1f8669222661332F3191c12f8333d9c2e005e67a8efa706</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Sandbox_NA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonOppDedicatedNASandbox.postTriggersT030abj1f8669222661332F3191c12f8333d9c2e005e67a8efa706</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Slack_Request_APAC</name>
        <label>Generate Slack Request - APAC</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.SubscriptionFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.AgencyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Account_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.PAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAM_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.XDR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.SE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_APAC.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_APAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_APAC_Sandbox</name>
        <label>Generate Slack Request - APAC Sandbox</label>
        <locationX>1370</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.SubscriptionFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.AgencyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Account_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.PAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAM_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.XDR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.SE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_APAC.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_APAC_Sandbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_EMEA</name>
        <label>Generate Slack Request - EMEA</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.SubscriptionFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.AgencyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Account_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.PAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAM_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.XDR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.SE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_EMEA.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_EMEA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_EMEA_Sandbox</name>
        <label>Generate Slack Request - EMEA Sandbox</label>
        <locationX>1106</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.SubscriptionFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.AgencyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Account_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.PAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAM_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.XDR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.SE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_EMEA.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_EMEA_Sandbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_NA</name>
        <label>Generate Slack Request - NA</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.SubscriptionFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.AgencyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Account_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.PAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAM_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.XDR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.SE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_NA.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_NA_Sandbox</name>
        <label>Generate Slack Request - NA Sandbox</label>
        <locationX>842</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Owner_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.OpportunityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.SubscriptionFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.BookingAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.AgencyAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_Account_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.PAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PAM_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.XDR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.SE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SE_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox_NA.OpportunityLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_NA_Sandbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Channel_Region</name>
        <label>Which Channel Region?</label>
        <locationX>1238</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_NA_Sandbox</targetReference>
            </connector>
            <label>NA</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_EMEA_Sandbox</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_APAC_Sandbox</targetReference>
            </connector>
            <label>APAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Channel_to_Notify</name>
        <label>Which Channel to Notify</label>
        <locationX>974</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_EMEA</targetReference>
            </connector>
            <label>EMEA - Prod</label>
        </rules>
        <rules>
            <name>APAC_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_APAC</targetReference>
            </connector>
            <label>APAC - Prod</label>
        </rules>
        <rules>
            <name>NA_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_NA</targetReference>
            </connector>
            <label>NA - Prod</label>
        </rules>
        <rules>
            <name>Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Channel_Region</targetReference>
            </connector>
            <label>Sandbox</label>
        </rules>
    </decisions>
    <description>Updated Opportunity Owner Name map</description>
    <environments>Default</environments>
    <formulas>
        <name>Agency_Account_Selected</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK( {!Get_Opportunity.Partner_Account__c} )), {!Get_Opportunity.Partner_Account__r.Name},
&quot;Agency Account not set&quot;
)</expression>
    </formulas>
    <formulas>
        <name>PAM_Selected</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK( {!Get_Opportunity.Partner_Manager__c} )), {!Get_Opportunity.Partner_Manager__r.Full_Name__c},
&quot;PAM not set&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Record_URL_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Opportunity.Id}</expression>
    </formulas>
    <formulas>
        <name>SE_Selected</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK( {!Get_Opportunity.SE__c} )), {!Get_Opportunity.SE__r.Full_Name__c},
&quot;SE not set&quot;
)</expression>
    </formulas>
    <formulas>
        <name>XDR_Selected</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK( {!Get_Opportunity.ADR__c} )), {!Get_Opportunity.ADR__r.Full_Name__c},
IF( NOT( ISBLANK( {!Get_Opportunity.BDR__c} )), {!Get_Opportunity.BDR__r.Full_Name__c},
IF( NOT( ISBLANK( {!Get_Opportunity.CDR__c} )), {!Get_Opportunity.CDR__r.Full_Name__c},
IF( NOT( ISBLANK( {!Get_Opportunity.SDR__c}  )), {!Get_Opportunity.SDR__r.Full_Name__c},
IF( NOT( ISBLANK( {!Get_Opportunity.SSDR__c}  )), {!Get_Opportunity.SSDR__r.Full_Name__c},
&quot;XDR not set&quot;
)))))</expression>
    </formulas>
    <interviewLabel>Closed Won Dedicated Plan Slack - Send Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Won Dedicated Plan Slack - Send Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>974</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Dedicated_Closed_Won_Slack__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Slack_Request_APAC</name>
        <apexClass>ExternalService__SlackClosedWonOppDedicatedApac_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_EMEA</name>
        <apexClass>ExternalService__SlackClosedWonOppDedicatedEmea_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_NA</name>
        <apexClass>ExternalService__SlackClosedWonOppDedicatedNA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Sandbox_APAC</name>
        <apexClass>ExternalService__SlackClosedWonOppDedicatedApacSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Sandbox_EMEA</name>
        <apexClass>ExternalService__SlackClosedWonOppDedicatedEmeaSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Sandbox_NA</name>
        <apexClass>ExternalService__SlackClosedWonOppDedicatedNASandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
