Contact_GDPR_Field_updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Customer</name>
        <label>Assign - Customer</label>
        <locationX>316</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDPR_MKTG_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer or Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Date_of_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Sign_Up_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legitimate_interest</name>
        <label>Assign - Legitimate interest</label>
        <locationX>1318</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDPR_MKTG_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legitimate Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Date_of_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Sign_Up_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legitimate Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Date_of_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MKGT_method_of_consent</name>
        <label>Assign - MKGT method of consent</label>
        <locationX>649</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDPR_MKTG_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Explicit Consent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sales_method_of_consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner</name>
        <label>Assign - Partner</label>
        <locationX>1168</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDPR_MKTG_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer or Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Marketing_Date_of_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Sign_Up_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer or Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Date_of_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User_Registered__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_method_of_consent</name>
        <label>Assign - Sales method of consent</label>
        <locationX>879</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Legal_Basis_for_Processing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Explicit Consent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Sales_Comms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decisions</name>
        <label>Decisions</label>
        <locationX>768</locationX>
        <locationY>406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opt_out</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing_Date_of_Opt_Out__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Date_of_Opt_Out__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Opt out</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Portal_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Signup_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Registered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>MKTG_Method_of_consent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Generation Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HubSpot Email - CTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Card Drop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verbal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MKGT_method_of_consent</targetReference>
            </connector>
            <label>MKTG Method of consent</label>
        </rules>
        <rules>
            <name>Sales_Method_of_Cosent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Card Drop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HubSpot Email - CTA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Generation Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LiveChat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verbal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Sales_Method_of_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Written - Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_method_of_consent</targetReference>
            </connector>
            <label>Sales Method of Cosent</label>
        </rules>
        <rules>
            <name>Legitimate_interest_Exceptions</name>
            <conditionLogic>1 OR 2 OR (8 AND(3 OR 4 OR 5 OR 6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B2C</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Organization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-commerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Free_email_domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.of_Open_Opps__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legitimate_interest</targetReference>
            </connector>
            <label>Legitimate interest: Exceptions</label>
        </rules>
    </decisions>
    <interviewLabel>Contact - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - GDPR | Field updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1011</locationX>
        <locationY>873</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Country_EU1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country_EU2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Disqualified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
