Contact_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Add_to_Accounts_without_Websites</name>
        <label>Add to Accounts without Websites</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Bypass_Migration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_to_Accounts_without_Websites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.cbit__Clearbit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cbit__ClearbitReady__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Website</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cbit__Clearbit__r.cbit__EmailProvider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Free_email_domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Add_Website</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_Migration_User</name>
        <label>Bypass Migration User</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Migration_User1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Serve_Lead_Convert</targetReference>
            </connector>
            <label>Bypass Migration User1</label>
        </rules>
    </decisions>
    <description>12/02/25 - Don-ESS Temp change to final decision to allow Sys admins to mass update Contact without triggering Lead SubFlow</description>
    <environments>Default</environments>
    <interviewLabel>Contact - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Add_Website</name>
        <label>Update Account - Add Website</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.cbit__Clearbit__r.cbit__CompanyDomain__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_to_Accounts_without_Websites</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Self_Serve_Lead_Convert</name>
        <label>Self Serve Lead Convert</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Self_Serve_Lead_Convert1</flowName>
        <inputAssignments>
            <name>ContactRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
