Deal_Assignment_Send_Slack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Workflow_Enterprise_Production</name>
        <label>Post to Slack Workflow - Enterprise - Production</label>
        <locationX>578</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonEnterprise.postTriggersT030abj1f78234410757460e0f5754f1c4d6bc78e48da07fe0f760</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Enterprise_Production</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonEnterprise.postTriggersT030abj1f78234410757460e0f5754f1c4d6bc78e48da07fe0f760</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Enterprise_Sandbox</name>
        <label>Post to Slack Workflow - Enterprise - Sandbox</label>
        <locationX>842</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonEnterpriseSandbox.postTriggersT030abj1f7831715732545D9861b0379a005086306a96fc71fc71c</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Enterprise_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonEnterpriseSandbox.postTriggersT030abj1f7831715732545D9861b0379a005086306a96fc71fc71c</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Premium_Production</name>
        <label>Post to Slack Workflow - Premium - Production</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonPremium.postTriggersT030abj1f7808890203175501c54690b843421f287a52aa7c357a8</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Premium_Production</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonPremium.postTriggersT030abj1f7808890203175501c54690b843421f287a52aa7c357a8</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Premium_Sandbox</name>
        <label>Post to Slack Workflow - Premium - Sandbox</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <actionName>SlackClosedWonPremiumSandbox.postTriggersT030abj1f7818868824067Abf30a12542bb947ff5a218d383a2930</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Premium_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackClosedWonPremiumSandbox.postTriggersT030abj1f7818868824067Abf30a12542bb947ff5a218d383a2930</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Slack_Request_Enterprise_Production</name>
        <label>Generate Slack Request - Enterprise - Production</label>
        <locationX>578</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Production.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Production.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Production.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Production.oppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Production.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Enterprise_Production</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Enterprise_Sandbox</name>
        <label>Generate Slack Request - Enterprise - Sandbox</label>
        <locationX>842</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Sandbox.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Sandbox.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Sandbox.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Sandbox.oppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Enterprise_Sandbox.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Enterprise_Sandbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Premium_Production</name>
        <label>Generate Slack Request - Premium - Production</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Production.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Production.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Production.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Production.oppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Production.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Premium_Production</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Premium_Sandbox</name>
        <label>Generate Slack Request - Premium - Sandbox</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Sandbox.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Sandbox.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Sandbox.oppLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Sandbox.oppType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Premium_Sandbox.salesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Premium_Sandbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type?</label>
        <locationX>644</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Channel_to_Notify_Premium</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Channel_to_Notify_Enterprise</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Channel_to_Notify_Enterprise</name>
        <label>Which Channel to Notify - Enterprise</label>
        <locationX>710</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Generate_Slack_Request_Enterprise_Sandbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sandbox - Enterprise</defaultConnectorLabel>
        <rules>
            <name>Production_Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Enterprise_Production</targetReference>
            </connector>
            <label>Production - Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Channel_to_Notify_Premium</name>
        <label>Which Channel to Notify - Premium</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Generate_Slack_Request_Premium_Sandbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sandbox - Premium</defaultConnectorLabel>
        <rules>
            <name>Production_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Premium_Production</targetReference>
            </connector>
            <label>Production - Premium</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_URL_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.Opportunity_ID__c}</expression>
    </formulas>
    <interviewLabel>Deal Assignment Slack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Assignment - Send Slack Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>644</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Deal_Assignment_Slack__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Slack_Request_Enterprise_Production</name>
        <apexClass>ExternalService__SlackClosedWonEnterprise_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Enterprise_Sandbox</name>
        <apexClass>ExternalService__SlackClosedWonEnterpriseSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Premium_Production</name>
        <apexClass>ExternalService__SlackClosedWonPremium_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Premium_Sandbox</name>
        <apexClass>ExternalService__SlackClosedWonPremiumSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
