Hot_Lead_Notification_on_Slack_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Workflow_Hot_Lead</name>
        <label>Post to Slack Workflow - Hot Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackLeadMessage.postWorkflowsT030abj1fA01j2k6kemp334960270533213288R5uHHCHg4U5G4tLKhBGBK0dM</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SlackLeadMessage</name>
            <value>
                <elementReference>Slack_Request_Hot_Lead</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackLeadMessage.postWorkflowsT030abj1fA01j2k6kemp334960270533213288R5uHHCHg4U5G4tLKhBGBK0dM</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Hot_Lead_Sandbox</name>
        <label>Post to Slack Workflow - Hot Lead - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackLeadMessageSandbox.postWorkflowsT030abj1fA05qc9eu40h476084998374485981LbrZ35XuTpktdZkdcBZxdpkT</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SlackLeadMessage</name>
            <value>
                <elementReference>Slack_Request_Hot_Lead_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackLeadMessageSandbox.postWorkflowsT030abj1fA05qc9eu40h476084998374485981LbrZ35XuTpktdZkdcBZxdpkT</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Standard</name>
        <label>Post to Slack Workflow - Standard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackStandard.postWorkflowsT030abj1fA01h68ek093333518784432192635CMQG5sOVAgSZSei4bcbV94Pi</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SlackStandard</name>
            <value>
                <elementReference>Slack_Request_Standard</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackStandard.postWorkflowsT030abj1fA01h68ek093333518784432192635CMQG5sOVAgSZSei4bcbV94Pi</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Standard_Sandbox</name>
        <label>Post to Slack Workflow - Standard - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackStandardSandbox.postWorkflowsT030abj1fA05pt1bnmru47608503249934522482dIwiiegX4sgw9T1JtsgK1S</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SlackStandard</name>
            <value>
                <elementReference>Slack_Request_Standard_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackStandardSandbox.postWorkflowsT030abj1fA05pt1bnmru47608503249934522482dIwiiegX4sgw9T1JtsgK1S</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fallback_Lead_Owner_Email</name>
        <label>Assign Fallback Lead Owner Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_Owner_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Flow_Environment_Settings__c.Fallback_Lead_Email_Hot_Leads__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fallback_Manager_Email</name>
        <label>Assign Fallback Manager Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_Owner_Manager_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Flow_Environment_Settings__c.Fallback_Lead_Email_Hot_Leads__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Lead_Owner_Email</name>
        <label>Assign Found Lead Owner Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_Owner_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Found_Manager_Email</name>
        <label>Assign Found Manager Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_Owner_Manager_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Owner:User.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Hot_Lead</name>
        <label>Generate Slack Request - Hot Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead.Accountx5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead.Leadx5fOwnerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead.Leadx5fOwnerx5fManagerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Hot_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Hot_Lead_Sandbox</name>
        <label>Generate Slack Request - Hot Lead - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead_Sandbox.Accountx5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead_Sandbox.Leadx5fOwnerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead_Sandbox.Leadx5fOwnerx5fManagerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Hot_Lead_Sandbox.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Hot_Lead_Sandbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Standard</name>
        <label>Generate Slack Request - Standard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard.Accountx5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard.Leadx5fOwnerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard.Leadx5fOwnerx5fManagerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Standard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Standard_Sandbox</name>
        <label>Generate Slack Request - Standard - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard_Sandbox.Accountx5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard_Sandbox.Leadx5fOwnerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard_Sandbox.Leadx5fOwnerx5fManagerx5fEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Owner_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Standard_Sandbox.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Standard_Sandbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Ensure that the Lead Owner is populated, if not populated look up fallback email in custom setting. Prevents workflow failure as it ensures all merge values expected are populated.</description>
        <name>Check_for_Lead_Owner</name>
        <label>Check for Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Fallback_Lead_Owner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Lead Owner</defaultConnectorLabel>
        <rules>
            <name>Found_Lead_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Lead_Owner_Email</targetReference>
            </connector>
            <label>Found Lead Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensure that the Lead Owner&apos;s email is populated and valid, if not populated look up fallback email in custom setting. Prevents workflow failure as it ensures all merge values expected are populated.</description>
        <name>Check_for_Lead_Owner_Email</name>
        <label>Check for Lead Owner Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fallback_Lead_Owner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Lead Owner Email</defaultConnectorLabel>
        <rules>
            <name>Found_Lead_Owner_Email</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Lead_Owner_Email</targetReference>
            </connector>
            <label>Found Lead Owner Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensure that the Lead Owner&apos;s Manager is populated, if not populated look up fallback email in custom setting. Prevents workflow failure as it ensures all merge values expected are populated.</description>
        <name>Check_for_Manager</name>
        <label>Check for Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Fallback_Manager_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Manager</defaultConnectorLabel>
        <rules>
            <name>Found_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Manager_Email</targetReference>
            </connector>
            <label>Found Manager</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensure that the Lead Owner&apos;s Manager&apos;s email is populated and valid, if not populated look up fallback email in custom setting. Prevents workflow failure as it ensures all merge values expected are populated.</description>
        <name>Check_for_Manager_Email</name>
        <label>Check for Manager Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Fallback_Manager_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found Manager Email</defaultConnectorLabel>
        <rules>
            <name>Found_Manager_Email</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Manager.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Manager.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>invalid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Manager_Email</targetReference>
            </connector>
            <label>Found Manager Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine what channel to post to, different channels used for different environments or criteria</description>
        <name>Which_Channel_to_Notify</name>
        <label>Which Channel to Notify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hot_Support_Lead_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Hot_Support_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Hot_Lead</targetReference>
            </connector>
            <label>Hot Support Lead - Prod</label>
        </rules>
        <rules>
            <name>Standard_Lead_Prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Hot_Support_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Standard</targetReference>
            </connector>
            <label>Standard Lead - Prod</label>
        </rules>
        <rules>
            <name>Hot_Support_Lead_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Hot_Support_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Hot_Lead_Sandbox</targetReference>
            </connector>
            <label>Hot Support Lead - Sandbox</label>
        </rules>
        <rules>
            <name>Standard_Lead_Sandbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Hot_Support_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Standard_Sandbox</targetReference>
            </connector>
            <label>Standard Lead - Sandbox</label>
        </rules>
    </decisions>
    <description>SEPT 23 - Colin - Rework, removed hardcoding, more dynamic and ability to run in sandboxes
Communicate on Slack specified Channel when a Hot Support Lead or Hot Lead is created (Added Managers Name to payload)
Update for API version 58 (vs. 50)</description>
    <environments>Default</environments>
    <formulas>
        <name>Record_URL_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Lead_Details.Id}</expression>
    </formulas>
    <interviewLabel>Hot Lead Notification on Slack Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Support Lead Notification on Slack Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieving all info on current Lead record, including Owner and Manager details</description>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieving Org details to determine if its running in Prod or Sandbox context</description>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Hot_ServiceLead_Slack__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>messageTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Customer/Account: https://overdrive.wpengine.io/account/config/{!Get_Lead_Details.Company}
Salesforce Lead: {!Record_URL_Formula}
Submitted by: {!Get_Lead_Details.WPE_Support_Team_Submitter_email__c}
Customer Name: {!Get_Lead_Details.FirstName} {!Get_Lead_Details.LastName}
Customer Phone Number: {!Get_Lead_Details.Phone}
Reason for Support Lead: {!Get_Lead_Details.Reason_for_support_Lead__c}
Notes: {!Get_Lead_Details.Notes__c}</text>
    </textTemplates>
    <variables>
        <name>Lead_Owner_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Owner_Manager_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Hot_Lead</name>
        <apexClass>ExternalService__SlackLeadMessage_SlackLeadMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Hot_Lead_Sandbox</name>
        <apexClass>ExternalService__SlackLeadMessageSandbox_SlackLeadMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Standard</name>
        <apexClass>ExternalService__SlackStandard_SlackStandard</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Standard_Sandbox</name>
        <apexClass>ExternalService__SlackStandardSandbox_SlackStandard</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
