Lead_SLA_Milestone_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Tier1New</name>
        <label>assign_Tier1New</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MilestoneTier1New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTimeStampForNewStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier1Working</name>
        <label>assign_Tier1Working</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MilestoneTier1Working</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>assignTimeStampForWorkingStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier2New</name>
        <label>assign_Tier2New</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MilestoneTier2New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTimeStampForNewStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier2Working</name>
        <label>assign_Tier2Working</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MilestoneTier2Working</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>assignTimeStampForWorkingStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier3New</name>
        <label>assign_Tier3New</label>
        <locationX>1106</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MilestoneTier3New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTimeStampForNewStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Tier3Working</name>
        <label>assign_Tier3Working</label>
        <locationX>1370</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_MilestoneTier3Working</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTimeStampForWorkingStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDefaultLeadTier</name>
        <label>assignDefaultLeadTier</label>
        <locationX>930</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Tier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier 3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Lead_Tier_Staus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTimeStampForNewStatus</name>
        <label>assignTimeStampForNewStatus</label>
        <locationX>842</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.TimeStampForNewStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignTimeStampForWorkingStatus</name>
        <label>assignTimeStampForWorkingStatus</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.TimeStampForWorkingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decision_Lead_Tier_Staus</name>
        <label>decision_Lead_Tier_Staus</label>
        <locationX>842</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Tier1_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMilestone_Tier1New</targetReference>
            </connector>
            <label>Lead_Tier1_New</label>
        </rules>
        <rules>
            <name>Lead_Tier1_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMilestone_Tier1Working</targetReference>
            </connector>
            <label>Lead_Tier1_Working</label>
        </rules>
        <rules>
            <name>Lead_Tier2_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMilestone_Tier2New</targetReference>
            </connector>
            <label>Lead_Tier2_New</label>
        </rules>
        <rules>
            <name>Lead_Tier2_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMilestone_Tier2Working</targetReference>
            </connector>
            <label>Lead_Tier2_Working</label>
        </rules>
        <rules>
            <name>Lead_Tier3_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMilestone_Tier3New</targetReference>
            </connector>
            <label>Lead_Tier3_New</label>
        </rules>
        <rules>
            <name>Lead_Tier3_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMilestone_Tier3Working</targetReference>
            </connector>
            <label>Lead_Tier3_Working</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLeadTier</name>
        <label>decisionLeadTier</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>assignDefaultLeadTier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasNoValue</defaultConnectorLabel>
        <rules>
            <name>hasValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Tier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loggedInUserMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Lead_Tier_Staus</targetReference>
            </connector>
            <label>hasValue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_MilestoneTier1New</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + ({!getMilestone_Tier1New.Milestone_in_Day__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MilestoneTier1Working</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + ({!getMilestone_Tier1Working.Milestone_in_Day__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MilestoneTier2New</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + ({!getMilestone_Tier2New.Milestone_in_Day__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MilestoneTier2Working</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + ({!getMilestone_Tier2Working.Milestone_in_Day__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MilestoneTier3New</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + ({!getMilestone_Tier3New.Milestone_in_Day__c})</expression>
    </formulas>
    <formulas>
        <name>formula_MilestoneTier3Working</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + ({!getMilestone_Tier3Working.Milestone_in_Day__c})</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>loggedInUserMigration</name>
        <dataType>Boolean</dataType>
        <expression>if({!$User.Full_Name__c}!=&apos;Data Migration User&apos;,true,false)</expression>
    </formulas>
    <interviewLabel>Lead SLA Milestone Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead SLA Milestone Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMilestone_Tier1New</name>
        <label>getMilestone_Tier1New</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Tier1New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTier1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStatusNew</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMilestone_Tier1Working</name>
        <label>getMilestone_Tier1Working</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Tier1Working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTier1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStatusWorking</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMilestone_Tier2New</name>
        <label>getMilestone_Tier2New</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Tier2New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStatusNew</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMilestone_Tier2Working</name>
        <label>getMilestone_Tier2Working</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Tier2Working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStatusWorking</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMilestone_Tier3New</name>
        <label>getMilestone_Tier3New</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Tier3New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStatusNew</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMilestone_Tier3Working</name>
        <label>getMilestone_Tier3Working</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Tier3Working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadObject</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tier 3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStatusWorking</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionLeadTier</targetReference>
        </connector>
        <filterLogic>((1 OR 2 ) AND 3) OR (1 AND 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varLeadObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>varMilestone_1</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMilestone_2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatusNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStatusWorking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Working</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTier1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tier 1</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTier2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tier 2</stringValue>
        </value>
    </variables>
    <variables>
        <name>varTier3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tier 3</stringValue>
        </value>
    </variables>
</Flow>
