Mark_Sales_Rep_OOO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_field_values</name>
        <label>Assign field values</label>
        <locationX>852</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>recSalesPassRep.Unavailable_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesPassRep.Unavailable_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Rep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_Sales_Rep_User</name>
        <label>Is there a Sales Rep User?</label>
        <locationX>845</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>No_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSalesPassRep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Dates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mark Sales Rep OOO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Sales Rep OOO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Sales_Rep_User</name>
        <label>Get Sales Rep User</label>
        <locationX>853</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Sales_Rep_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>Sales_Pass_Rep__c</object>
        <outputReference>recSalesPassRep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sales_User__c</queriedFields>
        <queriedFields>Unavailable_Start_Date__c</queriedFields>
        <queriedFields>Unavailable_End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Rep</name>
        <label>Update Sales Rep</label>
        <locationX>845</locationX>
        <locationY>827</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>recSalesPassRep</inputReference>
    </recordUpdates>
    <screens>
        <name>Enter_Dates</name>
        <label>Enter Dates</label>
        <locationX>853</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_field_values</targetReference>
        </connector>
        <fields>
            <name>MarkOOO</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter OOO start and end:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Sales_Rep</name>
        <label>No Sales Rep</label>
        <locationX>672</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;This action is for Sales Reps to mark themselves OOO.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>847</locationX>
        <locationY>957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>726</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Sales_Rep_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recSalesPassRep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
</Flow>
