Onboarding_Template_Clone_template_with_task_rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_to_New_Template</name>
        <label>Go to New Template</label>
        <locationX>1840</locationX>
        <locationY>246</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Onboarding_Template__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_new_task_rules_collection</name>
        <label>Add to new task rules collection</label>
        <locationX>1506</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>collTaskRules</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_task_rules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_task_rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_original_onboarding_template_Id</name>
        <label>Store original onboarding template Id</label>
        <locationX>928</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>OriginalOnboardingTemplateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cloned_Template_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.External_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Cloned_onboarding_template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_each_task_rule_OT_Id</name>
        <label>Update each task rule OT Id</label>
        <locationX>1272</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_task_rules.Onboarding_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_task_rules.External_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_new_task_rules_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Onboarding Template - Clone Template with task rules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Template - Clone template with task rules</label>
    <loops>
        <name>Loop_through_task_rules</name>
        <label>Loop through task rules</label>
        <locationX>1375</locationX>
        <locationY>248</locationY>
        <collectionReference>Get_all_task_rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_each_task_rule_OT_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_cloned_task_rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cloned_onboarding_template</name>
        <label>Cloned onboarding template</label>
        <locationX>1123</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_all_task_rules</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_cloned_task_rules</name>
        <label>Create cloned task rules</label>
        <locationX>1636</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Go_to_New_Template</targetReference>
        </connector>
        <inputReference>collTaskRules</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_task_rules</name>
        <label>Get all task rules</label>
        <locationX>1124</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_task_rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalOnboardingTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Onboarding_Task_Rule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Template</name>
        <label>Clone Template</label>
        <locationX>690</locationX>
        <locationY>37</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_original_onboarding_template_Id</targetReference>
        </connector>
        <fields>
            <name>Cloned_Template_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Cloned - {!recordId.Name}</stringValue>
            </defaultValue>
            <fieldText>Cloned Template Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>203</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Clone_Template</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collTaskRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Task_Rule__c</objectType>
    </variables>
    <variables>
        <name>OriginalOnboardingTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Template__c</objectType>
    </variables>
</Flow>
