Opportunity_Add_Products_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Unique_Products_for_selections</name>
        <label>Get Unique Products for selections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Common_Records</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Product_Subscription_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>AddOn_Pricebook__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Product_Subscription_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>AddOn_Pricebook__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Product_Subscription_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>AddOn_Pricebook__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emptyListsReturnNull</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>colProductSubFamAssoc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Product__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>Get_the_Add_On_Pricebook_Info_for_filtering</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>ProductItem__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_non_removed_records</name>
        <label>Add non removed records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssocSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_product_record_Add_More</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fore_each_Already_selected_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Common_Records</name>
        <label>Assign Common Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unique_Products_for_selections.sourceCommonRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colProductSubFamAssocforMissingProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Unique_Products_for_selections.sourceUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalNoOfMissingRec</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Unique_Products_for_selections.sourceUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fresh_values_to_collection</name>
        <label>Assign fresh values to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssocEdited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>colProductSubFamAssocSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_fresh_values_to_collection_0</name>
        <label>Assign fresh values to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssocEdited</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>colProductSubFamAssocFinalEdited</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_fresh_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_Price_to_0</name>
        <label>Assign List Price to 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_all_selected_records.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddOnWithNoPricing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Price_Entry_Record_with_Oppty_Currency_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Product_to_collection</name>
        <label>Assign Opportunity Product to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colOpportunityProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_all_selected_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook_to_Order_Items_0</name>
        <label>Assign Pricebook to Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DRAFT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Celigo_AT_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_NetSuite_Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Catalog_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varpriceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Charge_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurrenceToPass</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Repeat_Every__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repeat_Every</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Quantity_zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook_to_Order_Items_0_0</name>
        <label>Assign Pricebook to Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DRAFT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Celigo_AT_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_NetSuite_Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varpriceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Catalog_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Charge_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurrenceToPass</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Line_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProduct.Celigo_AT_Repeat_Every__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repeat_Every</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Quantity_zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookId01</name>
        <label>Assign PriceBookId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varpriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Price_Entry_Record_with_Oppty_Currency_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_quantity_on_the_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBookId02</name>
        <label>Assign PriceBookId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varpriceBookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Price_Entry_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_quantity_on_the_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Count_of_selected_Records</name>
        <label>Assign the Count of selected Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountSelectedRecord</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colProductSubFamAssocSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_Any_record_is_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_total_number_of_products_available_to_assign</name>
        <label>Assign total number of products available to assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NoofProdAvailabletoselect</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colProductSubFamAssoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>does_Product_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_from_Plan</name>
        <label>Assign values from Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.WPE_Subscription_plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.WPE_Price_book_NetSuite__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPlanName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.WPE_Subscription_plan__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recurrence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.WPE_Price_book_NetSuite__r.Price_Book_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Add_On_Pricebook_Info_for_filtering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_from_Subscription</name>
        <label>Assign values from Subscription</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Subscription__r.Subscription_plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Subscription__r.Price_book_NetSuite__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subscriptionPlanName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Subscription__r.Subscription_plan__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recurrence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Subscription__r.Price_book_NetSuite__r.Price_Book_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_the_Add_On_Pricebook_Info_for_filtering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_List_Price_to_0</name>
        <label>Assign List Price to 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Iterate_through_all_selected_records.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddOnWithNoPricing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Price_Entry_Record_with_Oppty_Currency_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_already_added_Products</name>
        <label>Remove already added Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_product_record_if_already_exist_in_Oppty_Prod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_already_added_Products_0</name>
        <label>Remove already added Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssoc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_product_record_if_added_already</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Added_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_everything_in_collection</name>
        <label>Remove everything in collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssocEdited</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colProductSubFamAssocEmptyRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountSelectedRecord</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colProductSubFamAssocSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_fresh_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_everything_in_collection_0</name>
        <label>Remove everything in collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colProductSubFamAssocEdited</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colProductSubFamAssocEmptyRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountSelectedRecord</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colProductSubFamAssocSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fore_each_Already_selected_record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Remove_product_record_Add_More</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove product record Add More</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Remove_product_record_Add_More</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colProductSubFamAssocSelected</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_product_record_Add_More.Product_Code__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Fore_each_Already_selected_record.Product_Code__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Add_non_removed_records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remove_product_record_if_added_already</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove product record if added already</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Remove_product_record_if_already_exist_in_Oppty_Prod</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colProductSubFamAssoc</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_product_record_if_already_exist_in_Oppty_Prod.Product_Code__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>For_each_Added_Product.Product_Code__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remove_already_added_Products_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remove_product_record_if_already_exist_in_Oppty_Prod</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove product record if already exist in Oppty Prod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Remove_product_record_if_already_exist_in_Oppty_Prod</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colProductSubFamAssoc</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_product_record_if_already_exist_in_Oppty_Prod.Product_Code__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>For_each_Opportunity_Product.ProductCode</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remove_already_added_Products</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Add_more_is_true</name>
        <label>Check if Add more is true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_all_selected_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_More_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_More</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_Added_Product</targetReference>
            </connector>
            <label>Add more Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Any_record_is_selected</name>
        <label>check if Any record is selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_selected</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varCountSelectedRecord</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_More</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_More</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_everything_in_collection</targetReference>
            </connector>
            <label>Records selected</label>
        </rules>
        <rules>
            <name>Record_selected_but_add_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountSelectedRecord</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_More</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_everything_in_collection_0</targetReference>
            </connector>
            <label>Record selected but add more</label>
        </rules>
        <rules>
            <name>record_not_selected_but_add_more1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountSelectedRecord</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_More</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_fresh_values_to_collection_0</targetReference>
            </connector>
            <label>record not selected but add more</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_quantity_on_selected_records</name>
        <label>check quantity on selected records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_through_all_selected_records.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Quantity_Allowed</targetReference>
            </connector>
            <label>Quantity Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_quantity_on_the_Product</name>
        <label>Check Unit Price on the Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Pricebook_to_Order_Items_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Price_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatedListPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook_to_Order_Items_0</targetReference>
            </connector>
            <label>Price exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_compare_records_exists</name>
        <label>Does compare records exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Prod_availables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Add_On_Pricebook_Info_for_filtering</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>colProductSubFamAssoc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unique_Products_for_selections</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_Product_Exists</name>
        <label>does Product Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Prod_availables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoofProdAvailabletoselect</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Products_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Allowed</name>
        <label>Is Quantity Allowed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_On_Quantity_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_is_allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Valid_Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Add_On_Pricebook_Info</targetReference>
            </connector>
            <label>Quantity is allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Quantity_zero</name>
        <label>is Quantity zero?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Opportunity_Product_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProduct.Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_through_all_selected_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_anything_to_Add</name>
        <label>Is there anything to Add?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colOpportunityProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Add Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricing_Tier_Exist</name>
        <label>Pricing Tier Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_List_Price_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes06</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricing_Tier_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Price_for_given_Add_On</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>REcord_found</name>
        <label>REcord found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Price_Entry_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Price_Entry_Record_with_Oppty_Currency_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PriceBookId01</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_found01</name>
        <label>Record found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_List_Price_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Add_On_Pricebook_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricing_Tier_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Plan_Exist</name>
        <label>Subscription Plan Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_values_from_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.WPE_Subscription_plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_from_Plan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>06May25 | PAT | ESS-1739 | AddOn Quantity Validation Needed within Sub Plan Screen Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedListPrice</name>
        <dataType>Number</dataType>
        <expression>({!CurrTotalPrice}/{!Iterate_through_all_selected_records.Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Displays the list of allowed quantities for the selected product, if available.

If Quantities Validated is not selected, the value is blank.

If allowed quantities are not specified, the message “Any value up to the maximum” is shown.

Otherwise, it shows the actual allowed quantity values defined for the product.</description>
        <name>Error_Message_Allowed_Quantities</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT({!Iterate_through_all_selected_records.Product__r.Quantities_Validated__c}),
  &quot;N/A&quot;,
  IF(
    ISBLANK({!Iterate_through_all_selected_records.Product__r.Allowed_Quantities__c}),
    &quot;Any value up to the maximum&quot;,
    {!Iterate_through_all_selected_records.Product__r.Allowed_Quantities__c}
  )
)</expression>
    </formulas>
    <formulas>
        <description>Displays the maximum quantity allowed for the selected product, if applicable.

If Quantities Validated is not selected, the value is blank.

If validated, it displays the Max Quantity Allowed value configured for the product.</description>
        <name>Error_Message_Max_Quantity_Allowed</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT({!Iterate_through_all_selected_records.Product__r.Quantities_Validated__c}),
  &quot;N/A&quot;,
  IF(
    ISBLANK({!Iterate_through_all_selected_records.Product__r.Max_Quantity_Allowed__c}),
    &quot;Any quantity is allowed&quot;,
    {!Iterate_through_all_selected_records.Product__r.Max_Quantity_Allowed__c}
  )
)</expression>
    </formulas>
    <formulas>
        <description>Shows a message based on whether quantity settings are set for the product.

If Quantities Validated is true, it shows: &quot;Please enter a valid quantity within the allowed range.&quot;

If false, it shows: &quot;Quantity settings aren&apos;t set yet for this product. Please contact the ProCat team.&quot;</description>
        <name>Error_Message_Quantity_Error_Guidance</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Iterate_through_all_selected_records.Product__r.Quantities_Validated__c},
  &quot;Please enter a valid quantity within the allowed range.&quot;,
  &quot;Quantity settings aren&apos;t set yet for this product. Please contact the ProCat team.&quot;
)</expression>
    </formulas>
    <formulas>
        <name>RecurrenceToPass</name>
        <dataType>String</dataType>
        <expression>IF({!Recurrence} = &quot;Quarterly&quot;, &quot;Monthly&quot;, IF({!Recurrence} = &quot;SemiAnnually&quot;, &quot;Monthly&quot;, IF({!Recurrence} = &quot;ThreeYears&quot;, &quot;Monthly&quot;, {!Recurrence})))</expression>
    </formulas>
    <formulas>
        <name>Region</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Opportunity_Record.WPE_Price_book_NetSuite__r.Name}, FIND(&quot;-&quot;, {!Get_Opportunity_Record.WPE_Price_book_NetSuite__r.Name})-1)</expression>
    </formulas>
    <formulas>
        <name>Repeat_Every</name>
        <dataType>Number</dataType>
        <expression>IF({!Recurrence} = &quot;Quarterly&quot;, 3, IF({!Recurrence} = &quot;SemiAnnually&quot;, 6, IF({!Recurrence} = &quot;ThreeYears&quot;, 36, 1)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SubscriptionFamilyCalc</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record.Subscription_Family__c} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <description>Validates that the entered quantity meets three criteria:

Quantities Validated Check – The product must have the Quantities Validated checkbox selected. If not checked, the formula will return FALSE regardless of the other conditions.

Allowed Quantities Check – The quantity must be listed in the product&apos;s Allowed Quantities field (a semicolon-separated list of valid values), or the field must be blank (indicating no restrictions).

Maximum Quantity Check – The quantity must be less than or equal to the product&apos;s Max Quantity Allowed value, or this field must be blank (indicating no upper limit).</description>
        <name>Valid_Quantity</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!Iterate_through_all_selected_records.Product__r.Quantities_Validated__c},
  OR(
    ISBLANK({!Iterate_through_all_selected_records.Product__r.Allowed_Quantities__c}),
    CONTAINS(
      &quot;;&quot; &amp; SUBSTITUTE(SUBSTITUTE({!Iterate_through_all_selected_records.Product__r.Allowed_Quantities__c}, &quot; &quot;, &quot;&quot;), &quot;,&quot;, &quot;;&quot;) &amp; &quot;;&quot;,
      &quot;;&quot; &amp; TEXT({!Iterate_through_all_selected_records.Quantity__c}) &amp; &quot;;&quot;
    )
  ),
  OR(
    ISBLANK({!Iterate_through_all_selected_records.Product__r.Max_Quantity_Allowed__c}),
    VALUE({!Iterate_through_all_selected_records.Product__r.Max_Quantity_Allowed__c}) &gt;= 
    {!Iterate_through_all_selected_records.Quantity__c}
  )
)</expression>
    </formulas>
    <interviewLabel>Opportunity Add Products Sub-Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Add Products Sub-Flow</label>
    <loops>
        <name>For_each_Added_Product</name>
        <label>For each Added Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colProductSubFamAssocFinalEdited</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_product_record_if_added_already</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Products_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Opportunity_Product</name>
        <label>For each Opportunity Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_Product_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_product_record_if_already_exist_in_Oppty_Prod</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_total_number_of_products_available_to_assign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fore_each_Already_selected_record</name>
        <label>Fore each Already selected record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colProductSubFamAssocFinalEdited</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_product_record_Add_More</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_fresh_values_to_collection_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_all_selected_records</name>
        <label>Iterate through all edited records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colProductSubFamAssocFinalEdited</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_quantity_on_selected_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_anything_to_Add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity_Product_REcords</name>
        <label>Create Opportunity Product REcords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Exception_Message</targetReference>
        </faultConnector>
        <inputReference>colOpportunityProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Entry_Record</name>
        <label>Create Price Entry Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_PriceBookId02</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Exception_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity_Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Opportunity_Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UseStandardPrice</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Price_Entry_Record_with_Oppty_Currency_Code</name>
        <label>Find Price Entry Record with Oppty Currency Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>REcord_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Product_record</name>
        <label>Get Opportunity Product Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Product_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_data</name>
        <label>Get Price Book data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Subscription_Family_Association</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricing_Tier_Records</name>
        <label>Get Pricing Tier Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Tier_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Add_On_Pricebook_Info.Price_Plan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Above_From_Quantity__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Quantity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>isinactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Tier__c</object>
        <sortField>Above_From_Quantity__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Subscription_Family_Association</name>
        <label>Get Product Subscription Family Association</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_Plan_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Family_Name_Calc__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Subscription_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product_Subscription_Family_Association__c</object>
        <outputReference>colProductSubFamAssoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>List_Price__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PriceBook_Entry_Id__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Subscription_Family_Map__c</queriedFields>
        <queriedFields>Subscription_Family_Name_Calc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Add_On_Pricebook_Info</name>
        <label>Get the Add-On Pricebook Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_found01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currencycode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recurrence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recurrence</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionPlan</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_all_selected_records.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AddOn_Pricebook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Add_On_Pricebook_Info_for_filtering</name>
        <label>Get the Add-On Pricebook Info for filtering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_compare_records_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currencycode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recurrence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recurrence</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionPlan</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductItem__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AddOn_Pricebook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_On_Quantity_Error</name>
        <label>Add-On Quantity Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Correct Quantities</backButtonLabel>
        <connector>
            <targetReference>Get_the_Add_On_Pricebook_Info</targetReference>
        </connector>
        <fields>
            <name>Add_On_Quantity_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Invalid Quantity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The quantity you entered isn’t allowed for &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Iterate_through_all_selected_records.Product__r.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;✅ &lt;strong&gt;Allowed Quantities&lt;/strong&gt;: {!Error_Message_Allowed_Quantities}&lt;/p&gt;&lt;p&gt;🚫 &lt;strong&gt;Maximum Quantity Allowed&lt;/strong&gt;: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Error_Message_Max_Quantity_Allowed}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Error_Message_Quantity_Error_Guidance}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Products_0</name>
        <label>Add Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_the_Count_of_selected_Records</targetReference>
        </connector>
        <fields>
            <name>Addontext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ADD-ON&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProdSubFamEntry</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard4</name>
                <value>
                    <elementReference>colProductSubFamAssoc</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Product Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Product_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Subscription Family</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>show</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colProductSubFamAssocSelected</assignToReference>
                <name>mydata_standard4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>colProductSubFamAssocSelected</assignToReference>
                <name>selectedRows_standard4</name>
            </outputParameters>
        </fields>
        <fields>
            <name>space1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>warningmsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5);&quot;&gt;WARNING: -&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Add-on(s) listed below are part of Subscription Family but don&apos;t have Add-On pricing associated to them for Subscription Plan:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please contact Product Support to get Add-On pricing Added to Subscription Plan: &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductwithMissingAddOn</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product_Subscription_Family_Association__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product_Subscription_Family_Association__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colProductSubFamAssocforMissingProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Name__c,Product_Code__c,Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Name__c:619, Product_Code__c:619, Subscription_Family_Name_Calc__c:619</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Make Changes</backButtonLabel>
        <connector>
            <targetReference>Create_Opportunity_Product_REcords</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>confirmationscreen</name>
                    <fieldText>&lt;p&gt;Please review the changes and &quot;&lt;b style=&quot;color: rgb(21, 191, 221);&quot;&gt;Confirm&lt;/b&gt;&quot; if all looks good. Otherwise click on &quot;&lt;b style=&quot;color: rgb(14, 168, 211);&quot;&gt;Make Changes&lt;/b&gt;&quot;.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>currencyValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;All the prices are in&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(77, 138, 240);&quot;&gt;&quot;{!currencycode}&quot; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(5, 5, 5);&quot;&gt;currency.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityProduct_Confirmation</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Product Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>ProductCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>UnitPrice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>List Price</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Quantity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Quantity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column07_type</name>
                <value>
                    <stringValue>percent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column07_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column06_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column10_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showButtons</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata_standard2</name>
                <value>
                    <elementReference>colOpportunityProduct</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Total_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Total Price</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirmation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayNoOfRecords_0_0</name>
                    <fieldText>&lt;p&gt;No. of Records selected: {!varCountSelectedRecord}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddonWarning</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5);&quot;&gt;WARNING: -&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Add-on(s) listed below are part of Subscription Family but don&apos;t have Add-On pricing associated to them for Subscription Plan:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please contact Product Support to get Add-On pricing Added to Subscription Plan: &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductwithMissingAddOn3</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product_Subscription_Family_Association__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product_Subscription_Family_Association__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colProductSubFamAssocforMissingProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Code__c,Product_Name__c,Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Code__c:619, Product_Name__c:619, Subscription_Family_Name_Calc__c:619</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Message</name>
        <label>Display Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Products</name>
        <label>Edit Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Add_more_is_true</targetReference>
        </connector>
        <fields>
            <name>AddOnText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ADD-ON&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProdSubFamilyAssocEntry</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard4</name>
                <value>
                    <elementReference>colProductSubFamAssocEdited</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Product Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Product_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Product Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Subscription Family</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Quantity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Quantity(Input)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_type</name>
                <value>
                    <stringValue>number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colProductSubFamAssocFinalEdited</assignToReference>
                <name>mydata_standard4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>colProductSubFamAssocFinal</assignToReference>
                <name>selectedRows_standard4</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Add_More</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add More</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>warning3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;WARNING: -&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Add-on(s) listed below are part of Subscription Family but don&apos;t have Add-On pricing associated to them for Subscription Plan:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please contact Product Support to get Add-On pricing Added to Subscription Plan: &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductwithMissingAddOn2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product_Subscription_Family_Association__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product_Subscription_Family_Association__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colProductSubFamAssocforMissingProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Code__c,Product_Name__c,Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Code__c:619, Product_Name__c:619, Subscription_Family_Name_Calc__c:619</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Correct Quantities</backButtonLabel>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Edit_Products</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ShowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(228, 7, 7);&quot;&gt;Quantity is a required field for all the edited records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_0</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Products_0</targetReference>
        </connector>
        <fields>
            <name>ShowError_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 3, 3); font-family: sans-serif; font-size: 20px;&quot;&gt;Please select at least one Record to proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>warning2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5);&quot;&gt;WARNING: -&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Add-on(s) listed below are part of Subscription Family but don&apos;t have Add-On pricing associated to them for Subscription Plan:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please contact Product Support to get Add-On pricing Added to Subscription Plan: &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubscriptionPlan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>subscriptionPlanName</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProductwithMissingAddOn1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product_Subscription_Family_Association__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product_Subscription_Family_Association__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colProductSubFamAssocforMissingProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Code__c,Product_Name__c,Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Code__c:619, Product_Name__c:619, Subscription_Family_Name_Calc__c:619</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubscriptionPlan</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>subscriptionPlanName</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Select Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Prod_availables</name>
        <label>No Prod availables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noproductexists</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 11, 11);&quot;&gt;No Active Products to Add On. Please select different subscription plan.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>warningMsg1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 5, 5);&quot;&gt;WARNING: -&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Add-on(s) listed below are part of Subscription Family but don&apos;t have Add-On pricing associated to them for Subscription Plan:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;Please contact Product Support to get Add-On pricing Added to Subscription Plan: &lt;/span&gt;&lt;strong style=&quot;color: rgb(244, 3, 3);&quot;&gt;{!subscriptionPlanName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 3, 3);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowAddOnwMissingPrice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product_Subscription_Family_Association__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Product_Subscription_Family_Association__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colProductSubFamAssocforMissingProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Name__c,Product_Code__c,Subscription_Family_Name_Calc__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Name__c:619, Product_Code__c:619, Subscription_Family_Name_Calc__c:619</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>totalNoOfMissingRec</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varpriceBookEntryId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Price_for_given_Add_On</name>
        <label>Calculate Price for given Add-On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Price_Entry_Record_with_Oppty_Currency_Code</targetReference>
        </connector>
        <flowName>Calculate_Tier_Price_for_Subscription_Lines</flowName>
        <inputAssignments>
            <name>colPriceTierRecords</name>
            <value>
                <elementReference>Get_Pricing_Tier_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumQuantity</name>
            <value>
                <elementReference>Iterate_through_all_selected_records.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrTotalPrice</assignToReference>
            <name>CurrOutputPriceValue</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AddOnWithNoPricing</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colItemAddOnData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AddOn_Pricebook__c</objectType>
    </variables>
    <variables>
        <name>colOpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssocEdited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssocEmptyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssocFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssocFinalEdited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssocforMissingProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>colProductSubFamAssocSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>currencycode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Remove_product_record_Add_More</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_product_record_if_already_exist_in_Oppty_Prod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>CurrTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoofProdAvailabletoselect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Recurrence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriptionPlanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalNoOfMissingRec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountSelectedRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varpriceBookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
