Opportunity_Team_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Find_ADR</name>
        <label>Find ADR</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_ADR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.ADR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_ADR2</name>
        <label>Find ADR</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_ADR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.ADR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_AH</name>
        <label>Find AH</label>
        <locationX>226</locationX>
        <locationY>9293</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_AH</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.After_Hours_Rep__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_AH2</name>
        <label>Find AH</label>
        <locationX>930</locationX>
        <locationY>9293</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_AH</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.After_Hours_Rep__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_BDR</name>
        <label>Find BDR</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_BDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.BDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_BDR2</name>
        <label>Find BDR</label>
        <locationX>974</locationX>
        <locationY>2303</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_BDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.BDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_CDR</name>
        <label>Find CDR</label>
        <locationX>182</locationX>
        <locationY>3185</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_CDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.CDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_CDR2</name>
        <label>Find CDR</label>
        <locationX>974</locationX>
        <locationY>3185</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_CDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.CDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_CSM</name>
        <label>Find CSM</label>
        <locationX>182</locationX>
        <locationY>6647</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_CSM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.P_CSM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_CSM2</name>
        <label>Find CSM</label>
        <locationX>974</locationX>
        <locationY>6647</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_CSM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.P_CSM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_Legal</name>
        <label>Find Legal</label>
        <locationX>182</locationX>
        <locationY>5765</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_Legal</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Legal__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_Legal2</name>
        <label>Find Legal</label>
        <locationX>974</locationX>
        <locationY>5765</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_Legal</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Legal__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PAM</name>
        <label>Find PAM</label>
        <locationX>182</locationX>
        <locationY>8411</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_PAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Partner_Manager__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PAM2</name>
        <label>Find PAM</label>
        <locationX>974</locationX>
        <locationY>8411</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_PAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Partner_Manager__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PC</name>
        <label>Find PC</label>
        <locationX>94</locationX>
        <locationY>10109</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_PC</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Portfolio_CSM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_PC2</name>
        <label>Find PC</label>
        <locationX>754</locationX>
        <locationY>10109</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_PC</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.Portfolio_CSM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_SDR</name>
        <label>Find SDR</label>
        <locationX>182</locationX>
        <locationY>4067</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_SDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.SDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_SDR2</name>
        <label>Find SDR</label>
        <locationX>974</locationX>
        <locationY>4067</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_SDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.SDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_SE</name>
        <label>Find SE</label>
        <locationX>182</locationX>
        <locationY>4883</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_SE</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.ADR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_SE2</name>
        <label>Find SE</label>
        <locationX>974</locationX>
        <locationY>4883</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_SE</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.SE__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_SSDR</name>
        <label>Find SSDR</label>
        <locationX>182</locationX>
        <locationY>1421</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_SSDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.SSDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_SSDR2</name>
        <label>Find SSDR</label>
        <locationX>974</locationX>
        <locationY>1421</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_SSDR</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.SSDR__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_TAM</name>
        <label>Find TAM</label>
        <locationX>182</locationX>
        <locationY>7529</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_Remove_team_member_TAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.P_TAM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_TAM2</name>
        <label>Find TAM</label>
        <locationX>974</locationX>
        <locationY>7529</locationY>
        <actionName>FindRecordsInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Asn_New_Member_TAM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__multipleOutputMembers</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__singleOutputMember</typeName>
            <typeValue>OpportunityTeamMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_All_Oppt_Team_Member</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetField</name>
            <value>
                <stringValue>UserId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>OpportunityTeamMember</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetValue</name>
            <value>
                <elementReference>$Record__Prior.P_TAM__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindRecordsInCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asn_Empty_Collection_ADR</name>
        <label>Asn - Empty Collection ADR</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_AH</name>
        <label>Asn - Empty Collection AH</label>
        <locationX>94</locationX>
        <locationY>9725</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dcn_PC_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_BDR</name>
        <label>Asn - Empty Collection BDR</label>
        <locationX>50</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_CDR</name>
        <label>Asn - Empty Collection CDR</label>
        <locationX>50</locationX>
        <locationY>3617</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_CDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_CSM</name>
        <label>Asn - Empty Collection CSM</label>
        <locationX>50</locationX>
        <locationY>7079</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Dcn_Update_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_Legal</name>
        <label>Asn - Empty Collection Legal</label>
        <locationX>50</locationX>
        <locationY>6197</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_PAM</name>
        <label>Asn - Empty Collection PAM</label>
        <locationX>50</locationX>
        <locationY>8843</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_PC</name>
        <label>Asn - Empty Collection PC</label>
        <locationX>402</locationX>
        <locationY>11249</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_SDR</name>
        <label>Asn - Empty Collection SDR</label>
        <locationX>50</locationX>
        <locationY>4499</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dcn_SE_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_SE</name>
        <label>Asn - Empty Collection SE</label>
        <locationX>50</locationX>
        <locationY>5315</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_SSDR</name>
        <label>Asn - Empty Collection SSDR</label>
        <locationX>50</locationX>
        <locationY>1853</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SSDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Empty_Collection_TAM</name>
        <label>Asn - Empty Collection TAM</label>
        <locationX>50</locationX>
        <locationY>7961</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>col_TeamMembersToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_ADR</name>
        <label>Asn - New Member ADR</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ADR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ADR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_AH</name>
        <label>Asn - New Member AH</label>
        <locationX>930</locationX>
        <locationY>9401</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.After_Hours_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>After Hours Rep</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_AH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_BDR</name>
        <label>Asn - New Member BDR</label>
        <locationX>974</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BDR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_CDR</name>
        <label>Asn - New Member CDR</label>
        <locationX>974</locationX>
        <locationY>3293</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CDR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_CDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_CSM</name>
        <label>Asn - New Member CSM</label>
        <locationX>974</locationX>
        <locationY>6755</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.P_CSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P+ CSM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_Legal</name>
        <label>Asn - New Member Legal</label>
        <locationX>974</locationX>
        <locationY>5873</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Legal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_PAM</name>
        <label>Asn - New Member PAM</label>
        <locationX>974</locationX>
        <locationY>8519</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_PC</name>
        <label>Asn - New Member PC</label>
        <locationX>754</locationX>
        <locationY>10217</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Portfolio_CSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Portfolio CSM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_PC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_SDR</name>
        <label>Asn - New Member SDR</label>
        <locationX>974</locationX>
        <locationY>4175</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SDR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_SDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_SE</name>
        <label>Asn - New Member SE</label>
        <locationX>974</locationX>
        <locationY>4991</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_SSDR</name>
        <label>Asn - New Member SSDR</label>
        <locationX>974</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SSDR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSDR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_SSDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_New_Member_TAM</name>
        <label>Asn - New Member TAM</label>
        <locationX>974</locationX>
        <locationY>7637</locationY>
        <assignmentItems>
            <assignToReference>soOpptTM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.P_TAM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soOpptTM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P+ TAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Outputs_to_collections_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_ADR</name>
        <label>Asn - Outputs to collections ADR</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_ADR2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_AH</name>
        <label>Asn - Outputs to collections AH</label>
        <locationX>930</locationX>
        <locationY>9509</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_AH2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_BDR</name>
        <label>Asn - Outputs to collections BDR</label>
        <locationX>974</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_BDR2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_CDR</name>
        <label>Asn - Outputs to collections CDR</label>
        <locationX>974</locationX>
        <locationY>3401</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_CDR2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_CSM</name>
        <label>Asn - Outputs to collections CSM</label>
        <locationX>974</locationX>
        <locationY>6863</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_CSM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dcn_Update_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_Legal</name>
        <label>Asn - Outputs to collections Legal</label>
        <locationX>974</locationX>
        <locationY>5981</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Legal2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_PAM</name>
        <label>Asn - Outputs to collections PAM</label>
        <locationX>974</locationX>
        <locationY>8627</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_PAM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_PC</name>
        <label>Asn - Outputs to collections PC</label>
        <locationX>754</locationX>
        <locationY>10325</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_PC2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_SDR</name>
        <label>Asn - Outputs to collections SDR</label>
        <locationX>974</locationX>
        <locationY>4283</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_SDR2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_SE</name>
        <label>Asn - Outputs to collections SE</label>
        <locationX>974</locationX>
        <locationY>5099</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_SE2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_SSDR</name>
        <label>Asn - Outputs to collections SSDR</label>
        <locationX>974</locationX>
        <locationY>1637</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_SSDR2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SSDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Outputs_to_collections_TAM</name>
        <label>Asn - Outputs to collections TAM</label>
        <locationX>974</locationX>
        <locationY>7745</locationY>
        <assignmentItems>
            <assignToReference>col_NewMemberToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>soOpptTM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_TAM2.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_ADR</name>
        <label>Asn - Remove team member ADR</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_ADR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_ADR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_AH</name>
        <label>Asn - Remove team member AH</label>
        <locationX>226</locationX>
        <locationY>9401</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_AH.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_AH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_BDR</name>
        <label>Asn - Remove team member BDR</label>
        <locationX>182</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_BDR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_BDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_CDR</name>
        <label>Asn - Remove team member CDR</label>
        <locationX>182</locationX>
        <locationY>3293</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_CDR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_CDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_CSM</name>
        <label>Asn - Remove team member CSM</label>
        <locationX>182</locationX>
        <locationY>6755</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_CSM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_CSM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_Legal</name>
        <label>Asn - Remove team member Legal</label>
        <locationX>182</locationX>
        <locationY>5873</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_Legal.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_PAM</name>
        <label>Asn - Remove team member PAM</label>
        <locationX>182</locationX>
        <locationY>8519</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_PAM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_PAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_PC</name>
        <label>Asn - Remove team member PC</label>
        <locationX>534</locationX>
        <locationY>10925</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_PC.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_PC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_SDR</name>
        <label>Asn - Remove team member SDR</label>
        <locationX>182</locationX>
        <locationY>4175</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_SDR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_SDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_SE</name>
        <label>Asn - Remove team member SE</label>
        <locationX>182</locationX>
        <locationY>4991</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_SE.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_SE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_SSDR</name>
        <label>Asn - Remove team member SSDR</label>
        <locationX>182</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_SSDR.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_SSDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Remove_team_member_TAM</name>
        <label>Asn - Remove team member TAM</label>
        <locationX>182</locationX>
        <locationY>7637</locationY>
        <assignmentItems>
            <assignToReference>col_TeamMembersToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Find_TAM.singleOutputMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_TAM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dcn_ADR_Removed</name>
        <label>Dcn - ADR Removed</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Dcn_SSDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_ADR</targetReference>
            </connector>
            <label>ADR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>ADR_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ADR</targetReference>
            </connector>
            <label>ADR - Removed</label>
        </rules>
        <rules>
            <name>ADR_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ADR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_ADR</targetReference>
            </connector>
            <label>ADR - Changed No Team members</label>
        </rules>
        <rules>
            <name>ADR_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ADR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ADR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_ADR2</targetReference>
            </connector>
            <label>ADR - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_AH_Removed</name>
        <label>Dcn - AH Removed</label>
        <locationX>534</locationX>
        <locationY>9185</locationY>
        <defaultConnector>
            <targetReference>Dcn_PC_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AH_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.After_Hours_Rep__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.After_Hours_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_AH</targetReference>
            </connector>
            <label>AH - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>AH_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.After_Hours_Rep__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.After_Hours_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_AH</targetReference>
            </connector>
            <label>AH - Removed</label>
        </rules>
        <rules>
            <name>AH_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.After_Hours_Rep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.After_Hours_Rep__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_AH</targetReference>
            </connector>
            <label>AH - Changed No Team members</label>
        </rules>
        <rules>
            <name>AH_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.After_Hours_Rep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.After_Hours_Rep__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_AH2</targetReference>
            </connector>
            <label>AH - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_BDR_Removed</name>
        <label>Dcn - BDR Removed</label>
        <locationX>534</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Dcn_CDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BDR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_BDR</targetReference>
            </connector>
            <label>BDR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>BDR_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_BDR</targetReference>
            </connector>
            <label>BDR - Removed</label>
        </rules>
        <rules>
            <name>BDR_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_BDR</targetReference>
            </connector>
            <label>BDR - Changed No Team members</label>
        </rules>
        <rules>
            <name>BDR_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_BDR2</targetReference>
            </connector>
            <label>BDR - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_CDR_Removed</name>
        <label>Dcn - CDR Removed</label>
        <locationX>534</locationX>
        <locationY>3077</locationY>
        <defaultConnector>
            <targetReference>Dcn_SDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CDR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_CDR</targetReference>
            </connector>
            <label>CDR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>CDR_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CDR</targetReference>
            </connector>
            <label>CDR - Removed</label>
        </rules>
        <rules>
            <name>CDR_Changed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CDR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_CDR</targetReference>
            </connector>
            <label>CDR - Changed No Team Members</label>
        </rules>
        <rules>
            <name>CDR_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CDR2</targetReference>
            </connector>
            <label>CDR - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_CSM_Removed</name>
        <label>Dcn - CSM Removed</label>
        <locationX>534</locationX>
        <locationY>6539</locationY>
        <defaultConnector>
            <targetReference>Dcn_TAM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_CSM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_CSM</targetReference>
            </connector>
            <label>CSM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>CSM_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.P_CSM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CSM</targetReference>
            </connector>
            <label>CSM - Removed</label>
        </rules>
        <rules>
            <name>CSM_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.P_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_CSM</targetReference>
            </connector>
            <label>CSM - Changed No Team members</label>
        </rules>
        <rules>
            <name>CSM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.P_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.P_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_CSM2</targetReference>
            </connector>
            <label>CSM - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_Legal_Removed</name>
        <label>Dcn - Legal Removed</label>
        <locationX>534</locationX>
        <locationY>5657</locationY>
        <defaultConnector>
            <targetReference>Dcn_CSM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_Legal</targetReference>
            </connector>
            <label>Legal - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>Legal_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Legal</targetReference>
            </connector>
            <label>Legal - Removed</label>
        </rules>
        <rules>
            <name>Legal_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Legal__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_Legal</targetReference>
            </connector>
            <label>Legal - Changed No Team members</label>
        </rules>
        <rules>
            <name>Legal_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Legal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Legal__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Legal2</targetReference>
            </connector>
            <label>Legal - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_PAM_Removed</name>
        <label>Dcn - PAM Removed</label>
        <locationX>534</locationX>
        <locationY>8303</locationY>
        <defaultConnector>
            <targetReference>Dcn_AH_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_PAM</targetReference>
            </connector>
            <label>PAM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>PAM_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PAM</targetReference>
            </connector>
            <label>PAM - Removed</label>
        </rules>
        <rules>
            <name>PAM_Changed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Partner_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_PAM</targetReference>
            </connector>
            <label>PAM - Changed No Team Members</label>
        </rules>
        <rules>
            <name>PAM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Partner_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Partner_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PAM2</targetReference>
            </connector>
            <label>PAM - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_PC_Removed</name>
        <label>Dcn - PC Removed</label>
        <locationX>534</locationX>
        <locationY>10001</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PC_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Portfolio_CSM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Portfolio_CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Remove_team_member_PC</targetReference>
            </connector>
            <label>PC - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>PC_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Portfolio_CSM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Portfolio_CSM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PC</targetReference>
            </connector>
            <label>PC - Removed</label>
        </rules>
        <rules>
            <name>PC_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Portfolio_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Portfolio_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_PC</targetReference>
            </connector>
            <label>PC - Changed No Team members</label>
        </rules>
        <rules>
            <name>PC_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Portfolio_CSM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Portfolio_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_PC2</targetReference>
            </connector>
            <label>PC - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_SDR_Removed</name>
        <label>Dcn - SDR Removed</label>
        <locationX>534</locationX>
        <locationY>3959</locationY>
        <defaultConnector>
            <targetReference>Dcn_SE_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_SDR</targetReference>
            </connector>
            <label>SDR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>SDR_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SDR</targetReference>
            </connector>
            <label>SDR - Removed</label>
        </rules>
        <rules>
            <name>SDR_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_SDR</targetReference>
            </connector>
            <label>SDR - Changed No Team members</label>
        </rules>
        <rules>
            <name>SDR_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SDR2</targetReference>
            </connector>
            <label>SDR - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_SE_Removed</name>
        <label>Dcn - SE Removed</label>
        <locationX>534</locationX>
        <locationY>4775</locationY>
        <defaultConnector>
            <targetReference>Dcn_Legal_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_SE</targetReference>
            </connector>
            <label>SE - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>SE_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SE</targetReference>
            </connector>
            <label>SE - Removed</label>
        </rules>
        <rules>
            <name>SE_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SE__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SE__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_SE</targetReference>
            </connector>
            <label>SE - Changed No Team members</label>
        </rules>
        <rules>
            <name>SE_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SE__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SE__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SE2</targetReference>
            </connector>
            <label>SE - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_SSDR_Removed</name>
        <label>Dcn - SSDR Removed</label>
        <locationX>534</locationX>
        <locationY>1313</locationY>
        <defaultConnector>
            <targetReference>Dcn_BDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSDR_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SSDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SSDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_SSDR</targetReference>
            </connector>
            <label>SSDR - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>SSDR_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SSDR__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SSDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SSDR</targetReference>
            </connector>
            <label>SSDR - Removed</label>
        </rules>
        <rules>
            <name>SSDR_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SSDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SSDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_SSDR</targetReference>
            </connector>
            <label>SSDR - Changed No Team members</label>
        </rules>
        <rules>
            <name>SSDR_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SSDR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SSDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SSDR2</targetReference>
            </connector>
            <label>SSDR - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_TAM_Removed</name>
        <label>Dcn - TAM Removed</label>
        <locationX>534</locationX>
        <locationY>7421</locationY>
        <defaultConnector>
            <targetReference>Dcn_PAM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAM_Was_Removed_No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_Remove_team_member_TAM</targetReference>
            </connector>
            <label>TAM - Was Removed No Team Members</label>
        </rules>
        <rules>
            <name>TAM_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_TAM</targetReference>
            </connector>
            <label>TAM - Removed</label>
        </rules>
        <rules>
            <name>TAM_Changed_No_Team_members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Oppt_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P_TAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.P_TAM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Asn_New_Member_TAM</targetReference>
            </connector>
            <label>TAM - Changed No Team members</label>
        </rules>
        <rules>
            <name>TAM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.P_TAM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.P_TAM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_TAM2</targetReference>
            </connector>
            <label>TAM - Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_Update_CSM</name>
        <label>Dcn - Update CSM?</label>
        <locationX>974</locationX>
        <locationY>6971</locationY>
        <defaultConnector>
            <targetReference>Dcn_TAM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CSM</targetReference>
            </connector>
            <label>Yes - Update CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_ADR</name>
        <label>Remove ADR?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_ADR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_ADR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_ADR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_ADR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_ADR</targetReference>
            </connector>
            <label>Yes - Remove ADR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_AH</name>
        <label>Remove AH?</label>
        <locationX>226</locationX>
        <locationY>9509</locationY>
        <defaultConnector>
            <targetReference>Dcn_PC_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_AH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_AH.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_AH2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_AH</targetReference>
            </connector>
            <label>Yes - Remove AH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_BDR</name>
        <label>Remove BDR?</label>
        <locationX>182</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_BDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_BDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_BDR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_BDR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_BDR</targetReference>
            </connector>
            <label>Yes - Remove BDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_CDR</name>
        <label>Remove CDR?</label>
        <locationX>182</locationX>
        <locationY>3401</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_CDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_CDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_CDR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_CDR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CDR</targetReference>
            </connector>
            <label>Yes - Remove CDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_CSM</name>
        <label>Remove CSM?</label>
        <locationX>182</locationX>
        <locationY>6863</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Dcn_Update_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_CSM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_CSM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_CSM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CSM</targetReference>
            </connector>
            <label>Yes - Remove CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Legal</name>
        <label>Remove Legal?</label>
        <locationX>182</locationX>
        <locationY>5981</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Legal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Legal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_Legal.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Legal2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Legal</targetReference>
            </connector>
            <label>Yes - Remove Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_PAM</name>
        <label>Remove PAM?</label>
        <locationX>182</locationX>
        <locationY>8627</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_PAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_PAM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_PAM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PAM</targetReference>
            </connector>
            <label>Yes - Remove PAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_PC</name>
        <label>Remove PC?</label>
        <locationX>534</locationX>
        <locationY>11033</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_PC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_BDR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_BDR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PC</targetReference>
            </connector>
            <label>Yes - Remove PC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_SDR</name>
        <label>Remove SDR?</label>
        <locationX>182</locationX>
        <locationY>4283</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_SDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_SDR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_SDR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SDR</targetReference>
            </connector>
            <label>Yes - Remove SDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_SE</name>
        <label>Remove SE?</label>
        <locationX>182</locationX>
        <locationY>5099</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_SE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_SE.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_SE2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SE</targetReference>
            </connector>
            <label>Yes - Remove SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_SSDR</name>
        <label>Remove SSDR?</label>
        <locationX>182</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_SSDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_SSDR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_SSDR.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_SSDR2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SSDR</targetReference>
            </connector>
            <label>Yes - Remove SSDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_TAM</name>
        <label>Remove TAM?</label>
        <locationX>182</locationX>
        <locationY>7745</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_TAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_TAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_TAM.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_TAM2.singleOutputMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_TAM</targetReference>
            </connector>
            <label>Yes - Remove TAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_ADR</name>
        <label>Update ADR?</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Dcn_SSDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_ADR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ADR</targetReference>
            </connector>
            <label>Yes - Update ADR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_AH</name>
        <label>Update AH?</label>
        <locationX>930</locationX>
        <locationY>9617</locationY>
        <defaultConnector>
            <targetReference>Dcn_PC_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_AH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AH</targetReference>
            </connector>
            <label>Yes - Update AH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_BDR</name>
        <label>Update BDR?</label>
        <locationX>974</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Dcn_CDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_BDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_BDR</targetReference>
            </connector>
            <label>Yes - Update BDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_CDR</name>
        <label>Update CDR?</label>
        <locationX>974</locationX>
        <locationY>3509</locationY>
        <defaultConnector>
            <targetReference>Dcn_SDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_CDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CDR</targetReference>
            </connector>
            <label>Yes - Update CDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Legal</name>
        <label>Update Legal?</label>
        <locationX>974</locationX>
        <locationY>6089</locationY>
        <defaultConnector>
            <targetReference>Dcn_CSM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Legal</targetReference>
            </connector>
            <label>Yes - Update Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PAM</name>
        <label>Update PAM?</label>
        <locationX>974</locationX>
        <locationY>8735</locationY>
        <defaultConnector>
            <targetReference>Dcn_AH_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_PAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PAM</targetReference>
            </connector>
            <label>Yes - Update PAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PC</name>
        <label>Update PC?</label>
        <locationX>754</locationX>
        <locationY>10433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_PC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PC</targetReference>
            </connector>
            <label>Yes - Update PC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SDR</name>
        <label>Update SDR?</label>
        <locationX>974</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>Dcn_SE_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SDR</targetReference>
            </connector>
            <label>Yes - Update SDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SE</name>
        <label>Update SE?</label>
        <locationX>974</locationX>
        <locationY>5207</locationY>
        <defaultConnector>
            <targetReference>Dcn_Legal_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SE</targetReference>
            </connector>
            <label>Yes - Update SE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SSDR</name>
        <label>Update SSDR?</label>
        <locationX>974</locationX>
        <locationY>1745</locationY>
        <defaultConnector>
            <targetReference>Dcn_BDR_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_SSDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SSDR</targetReference>
            </connector>
            <label>Yes - Update SSDR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_TAM</name>
        <label>Update TAM?</label>
        <locationX>974</locationX>
        <locationY>7853</locationY>
        <defaultConnector>
            <targetReference>Dcn_PAM_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_TAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_NewMemberToAdd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TAM</targetReference>
            </connector>
            <label>Yes - Update TAM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Team Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Team Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ADR</name>
        <label>Create ADR</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Dcn_SSDR_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_AH</name>
        <label>Create AH</label>
        <locationX>798</locationX>
        <locationY>9725</locationY>
        <connector>
            <targetReference>Dcn_PC_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_BDR</name>
        <label>Create BDR</label>
        <locationX>842</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Dcn_CDR_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CDR</name>
        <label>Create CDR</label>
        <locationX>842</locationX>
        <locationY>3617</locationY>
        <connector>
            <targetReference>Dcn_SDR_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CSM</name>
        <label>Create CSM</label>
        <locationX>842</locationX>
        <locationY>7079</locationY>
        <connector>
            <targetReference>Dcn_TAM_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Legal</name>
        <label>Create Legal</label>
        <locationX>842</locationX>
        <locationY>6197</locationY>
        <connector>
            <targetReference>Dcn_CSM_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PAM</name>
        <label>Create PAM</label>
        <locationX>842</locationX>
        <locationY>8843</locationY>
        <connector>
            <targetReference>Dcn_AH_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PC</name>
        <label>Create PC</label>
        <locationX>622</locationX>
        <locationY>10541</locationY>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SDR</name>
        <label>Create SDR</label>
        <locationX>842</locationX>
        <locationY>4499</locationY>
        <connector>
            <targetReference>Dcn_SE_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SE</name>
        <label>Create SE</label>
        <locationX>842</locationX>
        <locationY>5315</locationY>
        <connector>
            <targetReference>Dcn_Legal_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SSDR</name>
        <label>Create SSDR</label>
        <locationX>842</locationX>
        <locationY>1853</locationY>
        <connector>
            <targetReference>Dcn_BDR_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_TAM</name>
        <label>Create TAM</label>
        <locationX>842</locationX>
        <locationY>7961</locationY>
        <connector>
            <targetReference>Dcn_PAM_Removed</targetReference>
        </connector>
        <inputReference>col_NewMemberToAdd</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_ADR</name>
        <label>Delete ADR</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_ADR</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_AH</name>
        <label>Delete AH</label>
        <locationX>94</locationX>
        <locationY>9617</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_AH</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_BDR</name>
        <label>Delete BDR</label>
        <locationX>50</locationX>
        <locationY>2627</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_BDR</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_CDR</name>
        <label>Delete CDR</label>
        <locationX>50</locationX>
        <locationY>3509</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_CDR</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_CSM</name>
        <label>Delete CSM</label>
        <locationX>50</locationX>
        <locationY>6971</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_CSM</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Legal</name>
        <label>Delete Legal</label>
        <locationX>50</locationX>
        <locationY>6089</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_Legal</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PAM</name>
        <label>Delete PAM</label>
        <locationX>50</locationX>
        <locationY>8735</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_PAM</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PC</name>
        <label>Delete PC</label>
        <locationX>402</locationX>
        <locationY>11141</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_PC</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_SDR</name>
        <label>Delete SDR</label>
        <locationX>50</locationX>
        <locationY>4391</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_SDR</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_SE</name>
        <label>Delete SE</label>
        <locationX>50</locationX>
        <locationY>5207</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_SE</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_SSDR</name>
        <label>Delete SSDR</label>
        <locationX>50</locationX>
        <locationY>1745</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_SSDR</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_TAM</name>
        <label>Delete TAM</label>
        <locationX>50</locationX>
        <locationY>7853</locationY>
        <connector>
            <targetReference>Asn_Empty_Collection_TAM</targetReference>
        </connector>
        <inputReference>col_TeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Oppt_Team_Member</name>
        <label>Get All Oppt Team Member</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dcn_ADR_Removed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Oppt_Team_Member</targetReference>
        </connector>
        <filterFormula>If({!$User.Full_Name__c}!=&apos;Data Migration User&apos;,IF(ISCHANGED({!$Record.ADR__c}),TRUE,
IF(ISCHANGED({!$Record.BDR__c}),TRUE,
IF( ISCHANGED({!$Record.CDR__c}), TRUE, 
IF( ISCHANGED({!$Record.SDR__c}), TRUE,
IF( ISCHANGED({!$Record.SSDR__c}), TRUE,  
IF( ISCHANGED({!$Record.SE__c}), TRUE, 
IF( ISCHANGED({!$Record.Legal__c}), TRUE, 
IF( ISCHANGED({!$Record.P_TAM__c}), TRUE, 
IF( ISCHANGED({!$Record.P_CSM__c}), TRUE, 
IF( ISCHANGED({!$Record.Portfolio_CSM__c}), TRUE, 
IF( ISCHANGED({!$Record.After_Hours_Rep__c}), TRUE, 
IF(ISCHANGED({!$Record.Partner_Manager__c}),


TRUE,FALSE)))))))))))),false)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>col_NewMemberToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>col_TeamMembersToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>soOpptTM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
