Opportunity_Closed_Won_Pending_to_NS_Validation_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Account_ID_Is_Not_Populated</name>
        <label>Account ID Is Not Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please review the Opportunity, an associated Account must be populated before submitting to NetSuite.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Contact_ID_Is_Not_Populated</name>
        <label>Contact ID Is Not Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please review the Opportunity, a primary Contact must be selected before submitting to NetSuite.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Contact_s_First_Name_Must_Be_Set</name>
        <label>Contact&apos;s First Name Must Be Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>To move to Stage - 5 Migration, the Contact&apos;s First and Last Name must be fully completed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Opportunity_can_not_be_reprocessed</name>
        <label>Opportunity can not be reprocessed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Previous transaction is still executing, Please wait until the transaction is completed.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Sales_Type_Not_Populated</name>
        <label>Sales Type Not Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please review the Opportunity, a Sales Type must be selected before submitting to NetSuite.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Unacceptable_Email_Format</name>
        <label>Unacceptable Email Format</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please review the related Contact&apos;s Email address, the email format is unacceptable.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Unacceptable_Name_Format</name>
        <label>Unacceptable Name Format</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please review the related Contact&apos;s Name, the Name can only accept letters, numbers and spaces.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Unknown_TLD</name>
        <label>Unknown TLD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Please review the related Contact&apos;s Email address, the email domain is unacceptable.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Account_ID_Is_Populated</name>
        <label>Check Account ID Is Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_ID_Is_Not_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account ID Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_ID_Validation_Is_Active</targetReference>
            </connector>
            <label>Account ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_ID_Validation_Is_Active</name>
        <label>Check Account ID Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_ID_Validation_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active - Account ID Validation</defaultConnectorLabel>
        <rules>
            <name>Active_Account_ID_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Required_Account_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_ID_Is_Populated</targetReference>
            </connector>
            <label>Active - Account ID Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_First_Name_Validation_Is_Active</name>
        <label>Check Contact First Name Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Name_Format_Validation_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active - Contact First Name Validation</defaultConnectorLabel>
        <rules>
            <name>Active_Contact_First_Name_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Order_Entry_Contact_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_s_First_Name_Set</targetReference>
            </connector>
            <label>Active - Contact First Name Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_ID_Is_Populated</name>
        <label>Check Contact ID Is Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contact_ID_Is_Not_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact ID Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sales_Type_Validation_Is_Active</targetReference>
            </connector>
            <label>Contact ID Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_ID_Validation_Is_Active</name>
        <label>Check Contact ID Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Sales_Type_Validation_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active - Contact ID Validation</defaultConnectorLabel>
        <rules>
            <name>Active_Contact_ID_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Required_Contact_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_ID_Is_Populated</targetReference>
            </connector>
            <label>Active - Contact ID Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Name_Format_Validation_Is_Active</name>
        <label>Check Contact Name Format Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Active - Contact Name Format</defaultConnectorLabel>
        <rules>
            <name>Active_Contact_Name_Format</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Order_Entry_Name_Format__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_s_Name_Against_REGEX</targetReference>
            </connector>
            <label>Active - Contact Name Format</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_s_First_Name_Set</name>
        <label>Check Contact&apos;s First Name Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Contact_s_First_Name_Must_Be_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>First Name Not Set</defaultConnectorLabel>
        <rules>
            <name>First_Name_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Contact_Details.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Name_Format_Validation_Is_Active</targetReference>
            </connector>
            <label>First Name Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_s_Name_Against_REGEX</name>
        <label>Check Contact&apos;s Name Against REGEX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unacceptable_Name_Format</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unacceptable Email Format</defaultConnectorLabel>
        <rules>
            <name>Acceptable_Name_Format</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_REGEX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Acceptable Name Format</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Format_Against_REGEX</name>
        <label>Check Email Format Against REGEX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unacceptable_Email_Format</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unacceptable Email Format</defaultConnectorLabel>
        <rules>
            <name>Acceptable_Email_Format</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_REGEX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Email_TLD_Validation_Is_Active</targetReference>
            </connector>
            <label>Acceptable Email Format</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Format_Validation_Is_Active</name>
        <label>Check Email Format Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Email_TLD_Validation_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active - Email Format Validation</defaultConnectorLabel>
        <rules>
            <name>Active_Email_Format_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Order_Entry_Email_Format__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Email_Format_Against_REGEX</targetReference>
            </connector>
            <label>Active - Email Format Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_TLD_Validation_Is_Active</name>
        <label>Check Email TLD Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_First_Name_Validation_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active - Email TLD Validation</defaultConnectorLabel>
        <rules>
            <name>Active_Email_TLD_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Order_Entry_Email_TLD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Known_TLD_Found</targetReference>
            </connector>
            <label>Active - Email TLD Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Known_TLD_Found</name>
        <label>Check If Known TLD Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unknown_TLD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TLD Not Found</defaultConnectorLabel>
        <rules>
            <name>TLD_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_For_Known_Email_TLD.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_First_Name_Validation_Is_Active</targetReference>
            </connector>
            <label>TLD Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Type_Is_Populated</name>
        <label>Check Sales Type Is Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Sales_Type_Not_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Type Not Found</defaultConnectorLabel>
        <rules>
            <name>Sales_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Email_Format_Validation_Is_Active</targetReference>
            </connector>
            <label>Sales Type Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Type_Validation_Is_Active</name>
        <label>Check Sales Type Validation Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Format_Validation_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Active - Sales Type Validation</defaultConnectorLabel>
        <rules>
            <name>Active_Sales_Type_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Validation_Opportunity_Sales_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sales_Type_Is_Populated</targetReference>
            </connector>
            <label>Active - Sales Type Validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_prev_Order_still_processing</name>
        <label>Is prev Order still processing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Prev Orders are processed.</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_any_Pending_Order_for_an_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_can_not_be_reprocessed</targetReference>
            </connector>
            <label>Order still processing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email_REGEX</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Get_Related_Contact_Details.Email}, &quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.([a-zA-Z]{2,}|[0-9]{1,3})&quot;)</expression>
    </formulas>
    <formulas>
        <name>Email_TLD</name>
        <dataType>String</dataType>
        <expression>UPPER(RIGHT({!Get_Related_Contact_Details.Email}, FIND(&quot;.&quot;, REVERSE({!Get_Related_Contact_Details.Email})) - 1))</expression>
    </formulas>
    <formulas>
        <name>Name_REGEX</name>
        <dataType>Boolean</dataType>
        <expression>AND(
REGEX({!Get_Related_Contact_Details.FirstName}, &quot;^[a-zA-Z0-9\\s]*$&quot;),
REGEX({!Get_Related_Contact_Details.LastName}, &quot;^[a-zA-Z0-9\\s]*$&quot;)
)</expression>
    </formulas>
    <interviewLabel>Opportunity - Closed Won Pending to NS Validation Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Closed Won Pending to NS Validation Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_any_Pending_Order_for_an_Opportunity</name>
        <label>Get any Pending Order for an Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_prev_Order_still_processing</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submit to NS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Details</name>
        <label>Get Related Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_For_Known_Email_TLD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_For_Known_Email_TLD</name>
        <label>Query For Known Email TLD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_ID_Validation_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_TLD</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Top_Level_Domain__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_any_Pending_Order_for_an_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won Pending</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
