Opportunity_Sync_Account_Team_Sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_collection_variables</name>
        <label>Add collection variables</label>
        <locationX>447</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>collOpportunityTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recOpptTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_account_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_account_team_member</name>
        <label>Assign account team member</label>
        <locationX>342</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>recOpptTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_account_team.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpptTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_account_team.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpptTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpptTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_collection_variables</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Sync Account Team Sub-flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Sync Account Team Sub-flow</label>
    <loops>
        <name>Loop_through_account_team</name>
        <label>Loop through account team</label>
        <locationX>567</locationX>
        <locationY>418</locationY>
        <collectionReference>Get_account_team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_account_team_member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_opportunity_team_members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_opportunity_team_members</name>
        <label>Create opportunity team members</label>
        <locationX>682</locationX>
        <locationY>616</locationY>
        <inputReference>collOpportunityTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_account_team</name>
        <label>Get account team</label>
        <locationX>778</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_account_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity</name>
        <label>Get opportunity</label>
        <locationX>777</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_account_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opptId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>651</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Get_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collOpportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>opptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recOpptTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
