Opportunity_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Manager_if_Opportunity_Close_date_is_pushed_out</name>
        <label>Email to Manager if Opportunity Close date is pushed out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Email_to_Manager_if_Opportunity_Close_date_is_pushed_out</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Close_Date_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_to_Manager_if_Opportunity_Close_date_is_pushed_out</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>P_Notification</name>
        <label>P+ Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_it_a_new_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>notificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Slack_channel_ent_deal_assignment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_approval_Disqualification_Approval_Process</name>
        <label>Submit for approval - Disqualification Approval Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>New_Signup_Opp_Conditions</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Disqualification_Approval_Process03</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Please review for approval. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASGN_Geo_in_Record</name>
        <label>ASGN Geo in Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Geo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.ParentTerritory2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_New_Collection</name>
        <label>asgn New Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collOppSplitChildren</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Split_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Split_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_New_Current_Sub_Booking_Amount</name>
        <label>asgn New Current Sub Booking Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_Split_Children.Subscription_Current_USD_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription_Current_USD_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Split_Children.Authority_Stakeholders_CHAMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UPDATED BY AFTER SAVE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Split_Children.Opportunity_USD_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_USD_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Split_Children.Subscription_Current_USD_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription_Current_USD_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Update_Sales_Type</name>
        <label>Asn - Update Sales Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sales_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upgrade</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Original_Booking_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription__r.Opp_Booking_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription_Current_USD_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription__r.Current_USD_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_PAM_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Records_If_Stage_Is_Closed_Won.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Type_To_OpportunityClosedWon_Sales_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Record_Id</name>
        <label>Assign Account Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SalesType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Type_To_OpportunityClosedWon_Sales_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_If_Stage_Is_Closed_Won</name>
        <label>Assign If Stage Is Closed Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SalesType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Type_To_OpportunityClosedWon_Sales_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OppContactRole_Values</name>
        <label>Assign - OppContactRole Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OppContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OppContactRoleId_to_Var</name>
        <label>Assign OppContactRoleId to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_OppContactRoleContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_contact_roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_contact_already_added_to_the_opp_contact_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Name</name>
        <label>Update Opp Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcOppName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_with_Quote_Update</name>
        <label>Error with Quote Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_For_AccountId1</name>
        <label>Check For AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_and_What_client_is_or_does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.What_client_is_or_does__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CQO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>AccountId and What client is or does?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_New_or_Owner_Changed</name>
        <label>Check if Opportunity is New or Owner Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Is_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.Lead_Notification_Switch__c.Opportunity_Switch_ON__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_Notification_to_Sales_User_for_Opportunity_Assignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Stage_Is_Closed_Won</name>
        <label>Check If Stage Is Closed Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreatedBy_Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Stage_Is_Closed_Won</name>
            <conditionLogic>(1 AND 2 AND 3 ) OR ((1 AND 2 ) AND (4 OR 5 OR 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_If_Stage_Is_Closed_Won</targetReference>
            </connector>
            <label>If Stage Is Closed Won</label>
        </rules>
        <rules>
            <name>If_Stage_is_Other_Than_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OpportunityClosedwon_Sales_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_If_Stage_Is_Closed_Won</targetReference>
            </connector>
            <label>If Stage is Other Than Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Owner_Changed</name>
        <label>Check Is Owner Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_Stage_Is_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Team_Member</targetReference>
            </connector>
            <label>Is Owner Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Id</name>
        <label>Check Opportunity Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Opp_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Records_If_Stage_Is_Closed_Won.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Check Opp Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checked_Closed_Won_Opp_for_FTC_Account</name>
        <label>Checked Closed Won Opp for FTC Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreatedBy_Integration_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_and_WPE_Term_Type_is_Standard</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WPE_Term_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Fixed Term</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WPE_Term_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_FTC</targetReference>
            </connector>
            <label>Closed Won and WPE Term Type is Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Close_Date_Changed</name>
        <label>Close Date Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Primary_Contact_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Close_Date_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Name</targetReference>
            </connector>
            <label>Yes - Close Date Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreatedBy_Integration_User</name>
        <label>CreatedBy Integration User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dcn_Is_this_a_Cloned_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreatedBy_Integration_User1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WPE - Integration Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Source</targetReference>
            </connector>
            <label>CreatedBy Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Is_this_a_Cloned_Opp</name>
        <label>dcn Is this a Cloned Opp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Split_and_Current_Sub_Booking_Amount_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_not_cloned_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Clone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Split_Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Plus_Team_New_Deal_Notitification</targetReference>
            </connector>
            <label>No - not cloned Split</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Update_Account_Flags</name>
        <label>dcn Update Account Flags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_it_an_Upgrade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dedicated_or_Premium_Plus_opp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dedicated_Plan__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Premium_Plus_Indicator__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Account</targetReference>
            </connector>
            <label>Dedicated or Premium Plus opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_RLM_Opportunity</name>
        <label>Decision RLM Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Booking_Amount_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RLMOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsRevenueLifecycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Update_Quotes_on_Closed_Won</targetReference>
            </connector>
            <label>RLMOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Quotes_on_Closed_Won</name>
        <label>Decision Update Quotes on Closed Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Booking_Amount_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedWonOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_Primary_Quotes</targetReference>
            </connector>
            <label>ClosedWonOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>DGL_Action</name>
        <label>DGL Action?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_For_AccountId1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DGL_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DGL_Update_Opp</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>DGL_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DGL</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
        <rules>
            <name>DGL_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_prior_DGL</targetReference>
            </connector>
            <label>Removed</label>
        </rules>
    </decisions>
    <decisions>
        <description>OCR = Opportunity Contact Roles</description>
        <name>Did_we_find_existing_OCR</name>
        <label>Did we find existing OCR?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_OppContactRole_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_OppContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_contact_roles</targetReference>
            </connector>
            <label>Yes exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discount_Approval_Required</name>
        <label>Discount Approval Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Pushed_Out_Manager_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Short_term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Short_Term_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Remove_Promotion_record</targetReference>
            </connector>
            <label>Short-term</label>
        </rules>
        <rules>
            <name>Approval_Required</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (NOT(6)) AND (7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Promotion__r.WPE_Duration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Approval_Required</targetReference>
            </connector>
            <label>Approval Required</label>
        </rules>
        <rules>
            <name>Remove_Approval_Required_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approval_Required_to_False</targetReference>
            </connector>
            <label>Remove Approval Required Flag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disqualified_approval</name>
        <label>Disqualified approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Signup_Opp_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Submit_for_approval</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11 AND 12 AND 13 AND 14 AND 15 AND 16 AND 17 AND 18 AND (19 OR 20 OR 21 OR 22 OR 23)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opp_In_Disqual_approval_process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disqualification_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>XDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ADR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SSDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQ_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQ_Approver__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityOwnerManager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WPE - Integration Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WPE - System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityOwnerManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BDR__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CDR__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SDR__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SSDR__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_approval_Disqualification_Approval_Process</targetReference>
            </connector>
            <label>Yes - Submit for approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Booking_Amount_Changed</name>
        <label>Has Booking Amount Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Subscription_Family_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Booking Amount has not changed</defaultConnectorLabel>
        <rules>
            <name>Booking_Amount_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Booking_Amount_Tracked_field</targetReference>
            </connector>
            <label>Booking Amount has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Subscription_Family_Changed</name>
        <label>Has Subscription Family Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Opportunity_is_New_or_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subscription Family has not changed</defaultConnectorLabel>
        <rules>
            <name>Subscription_Family_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_Family__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subscription_Family_Tracked_field</targetReference>
            </connector>
            <label>Subscription Family has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_already_added_to_the_opp_contact_role</name>
        <label>Is contact already added to the opp contact role?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_contact_roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_is_already_added_but_not_set_as_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Var_OppContactRoleContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Role</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Contact is already added but not set as primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_field_null</name>
        <label>Is contact field null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_all_OppContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OppContactRole</targetReference>
            </connector>
            <label>Yes - Contact Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_field_updated</name>
        <label>Is Contact__c field updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unlock_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_contact_field_null</targetReference>
            </connector>
            <label>Yes - Contact Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_new_record</name>
        <label>Is it a new record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Project_Location_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Account_Team_Sub_flow</targetReference>
            </connector>
            <label>New record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_an_Upgrade</name>
        <label>Is it an Upgrade?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_PAM_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Onboarding_Type_NEW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding - Upgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Update_Sales_Type</targetReference>
            </connector>
            <label>Yes - Upgrade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_email_manager_null</name>
        <label>Is Opp email manager null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Close_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Manager_email_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Owner_Manager_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Manager_email</targetReference>
            </connector>
            <label>Yes - Manager email is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PAM_updated</name>
        <label>Is PAM updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DGL_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PAM_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_PAM_Manager</targetReference>
            </connector>
            <label>Yes - PAM Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Signup_Opp_Conditions</name>
        <label>New Signup Opp Conditions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Team_Lead_Owner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Signup_Opp_Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Add_to_Cadence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Contact_Role</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Pushed_Out_Manager_Notification</name>
        <label>Opportunity Pushed Out Manager Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Close_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Pushed_Out_Manager_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClosedDateMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opp_email_manager_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Premium_Plus_Team_New_Deal_Notitification</name>
        <label>Premium Plus Team New Deal Notitification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_new_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Premium_Plus_Indicator__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slack_channel_ent_deal_assignment</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_is_Null</name>
        <label>Primary Contact is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Disqualified_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Contact_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Primary_Opportunity_Contact_Role_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Get the Geo from Territories</description>
        <name>Project_Location_Populated</name>
        <label>Project Location Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Discount_Approval_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Location_set_or_updated</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Geo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Location__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory</targetReference>
            </connector>
            <label>Project Location set or updated</label>
        </rules>
        <rules>
            <name>Tech_survey_notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_Survey_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Survey_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_opp_owner_on_tech_survey</targetReference>
            </connector>
            <label>Tech survey notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Split_and_Current_Sub_Booking_Amount_Update</name>
        <label>Split and Current Sub Booking Amount Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adjust_Children_Opps</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Split_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription_Current_USD_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subscription_Current_USD_Price__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Split_Opportunity_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_USD_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscription_Current_USD_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Split_Children</targetReference>
            </connector>
            <label>Adjust Children Opps</label>
        </rules>
    </decisions>
    <decisions>
        <description>This node was changed to pass thru as the booking amount calculation requirements continue to change.  The Subscription USD Price flow will execute and update the fields that were previously being updated.</description>
        <name>Subscription_Attached</name>
        <label>Subscription Attached</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>dcn_Update_Account_Flags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upgrade_or_Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Subscription_Amounts</targetReference>
            </connector>
            <label>Upgrade or Add-On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Lead_Owner_Change</name>
        <label>Team Lead Owner Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_contact_field_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Team_Lead_Owner_Change</name>
            <conditionLogic>1 AND (2 AND 3) OR (4 AND 5) OR (6 AND 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Lead_Owner_Change__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>katie.laughlin@wpengine.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager: Direct Install-Base | P1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>erica.emert@wpengine.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager: Direct Install-Base | P2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>brent.davila@wpengine.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager: Direct Install-Base | P3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unlock the Opportunity if it is an Approval Process</description>
        <name>Unlock_Required</name>
        <label>Unlock Required?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Subscription_Attached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLL_Unlock_Opportunity_Subflow</targetReference>
            </connector>
            <label>Approval Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_for_Proactive_XDR</name>
        <label>Update for Proactive (XDR)?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_PQL_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_for_Proactive_XDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__r.Set_Opp_SDR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Proactive_XDR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Opp_Owner</name>
        <label>Update Opp Owner?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_for_Proactive_XDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Opp_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Generated_Leads__r.Set_Opp_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Owner_from_DGL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>17MAY25 - ESS2091 Update &apos;Opportunity - After Save&apos; Flow for Fixed Term Contract Automation
24APR25 - Reflected Decision Approval Node with Disqualification Approval Entry Criteria
03April25 - ESS1901
27 Mar25 - Removed Decision Enterprise_Service_Level_Alert as per ESS-1854
21 Mar25 - Updated the decision:Subscription_Attached to update the Subscription Amount fields on Oppty as per ESS-1847
20Mar25 - Populate PAM Manager
13Mar25 - Automate the update of the Fixed Term Contract field in Account if Opp Term Type is Standard and Stage is Closed Won
12MAR25 - Removed Stage_Changes_to_Closed_Lost Decision and Update_Contact_Role_Closed_Lost and Update_Contact_Role_if_Agency_Influenced Update
14JUL23 - (CCMB) - Added updates to decision criteria for split opps to update child splits if Gross Booking Amt or Current Sub Booking Amt are updated
13JUN23 - CC(PJ) - Add DGL updates
05Jun23 - CC(SDA) - disable node to directly populated the Current Subscription booking amount.  Will be populated via the async record triggered flow; Add update to child split opps for updates to parent current sub book amt; Set Approval Required to False if promotion removed from Opp
31May23 - CC(SDA) - get related Subscription current Booking Amount from Total MRR if BAPI
8May23 - CC Update Owner Manager Email 
4May23 - CC Add Email notification for P+ deals
19Apr23 - CC Add Disqualification approval process
14Apr23 - CC Add Slack notification to P+ deals
12Apr23 - CC - Update Remove promotion if applied to Short Term
30Mar23 - CC - update the Account indicator values at the end
20Mar23 - CC - Update prior booking amount if it&apos;s an upgrade
09Mar23 - CC - Add update to Sales type if is an upgrade
04Mar23 - CC - update IsCloned to conditions to evaluate correctly
03Mar23 - CC - add updates to parent account for dedicated or premium plus indicator and update opp premium picklist field text based on indicator value
28Feb23 - CC - add trap to prevent notification to Opp OWner Manager is Opp Owner Manager is null
24FEB23 - CC - Update Dcn for Discount approval</description>
    <environments>Default</environments>
    <formulas>
        <name>calcDedicatedPlanIndicator</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Dedicated_Plan__c} &gt; 0,true,false)</expression>
    </formulas>
    <formulas>
        <name>calcOppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}+&quot; - &quot;+{!$Record.Record_Type_Name__c}+&quot; - &quot;+TEXT({!$Record.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>calcPremiumPickListValue</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Premium_Plus_Indicator__c} &gt; 0,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcPremiumPlusIndicator</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Premium_Plus_Indicator__c} &gt; 0,true,false)</expression>
    </formulas>
    <formulas>
        <name>calcSubscriptionBookingAmount</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!$Record.Subscription__r.Source__c})=&apos;BAPI&apos;, {!$Record.Subscription__r.Total_MRR__c},{!$Record.Subscription__r.Current_USD_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ClosedDateMonth</name>
        <dataType>Boolean</dataType>
        <expression>IF(MONTH({!$Record.CloseDate}) &lt;&gt; MONTH({!$Record__Prior.CloseDate}), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>CreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 30</expression>
    </formulas>
    <formulas>
        <name>fr_Opportunity_Type</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Type}, 
&quot;C5&quot;, &quot;true&quot;, 
&quot;C6&quot;, &quot;true&quot;, 
&quot;C7&quot;, &quot;true&quot;, 
&quot;C8&quot;, &quot;true&quot;, 
&quot;Premium 7&quot;, &quot;true&quot;, 
&quot;Premium 8&quot;, &quot;true&quot;, 
&quot;Premium 9&quot;, &quot;true&quot;, 
&quot;Premium 10&quot;, &quot;true&quot;, 
&quot;Premier&quot;, &quot;true&quot;, 
&quot;Premier Small&quot;, &quot;true&quot;, 
&quot;Premier Large&quot;, &quot;true&quot;, 
&quot;Premier XLarge&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 1&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 2&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 3&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 4&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 5&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 6&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 7&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 8&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 9&quot;, &quot;true&quot;, 
&quot;Atlas - Premium 10&quot;, &quot;true&quot;, 
&quot;eComm P7&quot;, &quot;true&quot;, 
&quot;eComm P8&quot;, &quot;true&quot;, 
&quot;eComm P9&quot;, &quot;true&quot;, 
&quot;eComm P10&quot;, &quot;true&quot;, 
&quot;false&quot;)</expression>
    </formulas>
    <formulas>
        <name>fr_RecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Pull the PAM Manager Name value as Before Save Flows does not support some standard fields whose values are derived.</description>
        <name>PAMManager</name>
        <dataType>String</dataType>
        <expression>{!$Record.Partner_Manager__r.Manager.FirstName} + &apos; &apos; + {!$Record.Partner_Manager__r.Manager.LastName}</expression>
    </formulas>
    <formulas>
        <name>Types</name>
        <dataType>Boolean</dataType>
        <expression>IF(CASE({!$Record.Type}, 
&quot;Enterprise 1&quot;, &quot;True&quot;,
&quot;Enterprise 2&quot;, &quot;True&quot;,
&quot;Enterprise 3&quot;, &quot;True&quot;,
&quot;Enterprise 4&quot;, &quot;True&quot;,
&quot;C1&quot;, &quot;True&quot;,
&quot;C2&quot;, &quot;True&quot;,
&quot;C3&quot;, &quot;True&quot;,
&quot;C4&quot;, &quot;True&quot;,
&quot;C5&quot;, &quot;True&quot;,
&quot;C6&quot;, &quot;True&quot;,
&quot;C7&quot;, &quot;True&quot;,
&quot;C8&quot;, &quot;True&quot;, 
&quot;False&quot;) = &quot;True&quot;, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Opportunity : After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save</label>
    <loops>
        <name>loop_Split_Children</name>
        <label>loop Split Children</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Split_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_New_Current_Sub_Booking_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Split_Children</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_contact_roles</name>
        <label>Loop through all contact roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_all_OppContactRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OppContactRoleId_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_OppContactRole_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OppContactRole</name>
        <label>Create OppContactRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unlock_Required</targetReference>
        </connector>
        <inputReference>ContactRole</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Team_Member</name>
        <label>Create Opportunity Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Stage_Is_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <elementReference>$Record.Lead_Owner_Team_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Lead_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Primary_Opportunity_Contact_Role_ID</name>
        <label>Find Primary Opportunity Contact Role ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_with_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_What_client_is_or_does</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_OppContactRole</name>
        <label>Get all OppContactRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_existing_OCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Primary_Quotes</name>
        <label>Get Non_Primary Quotes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OppContactRole</name>
        <label>Get OppContactRole</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Contact_Field_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>Var_OppContactRoleContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_If_Stage_Is_Closed_Won</name>
        <label>Get Records If Stage Is Closed Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Split_Children</name>
        <label>Get Split Children</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Split_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Split_Opportunity_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASGN_Geo_in_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Slack_channel_ent_deal_assignment</name>
        <label>Slack channel - ent-deal-assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>P_Notification</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ent-deal-assignment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>gtmm-slack-test</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DGL_Update_Opp</name>
        <label>DGL Update Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opp_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source_Detail__c</field>
            <value>
                <elementReference>$Record.DGL_Helper_Most_Impactful_Play__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source_Detail__c</field>
            <value>
                <elementReference>$Record.DGL_Helper_Most_Impactful_Play__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDR__c</field>
            <value>
                <elementReference>$Record.Data_Generated_Leads__r.Set_Opp_SDR__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_PAM_Manager</name>
        <label>Populate PAM Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DGL_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>PAM_Manager__c</field>
            <value>
                <elementReference>PAMManager</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approval_Required_to_False</name>
        <label>Set Approval Required to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Pushed_Out_Manager_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Booking_Amount_Tracked_field</name>
        <label>Set Booking Amount (Tracked) field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Subscription_Family_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Amount_Tracking__c</field>
            <value>
                <elementReference>$Record.Booking_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opp_Owner_from_DGL</name>
        <label>Set Opp Owner from DGL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_for_Proactive_XDR</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Data_Generated_Leads__r.Set_Opp_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Subscription_Family_Tracked_field</name>
        <label>Set Subscription Family (Tracked) field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Opportunity_is_New_or_Owner_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Subscription_Family_Tracking__c</field>
            <value>
                <elementReference>$Record.Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_FTC</name>
        <label>Update Account FTC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatedBy_Integration_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fixed_Term_Contract__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Role</name>
        <label>Update Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Unlock_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OppContactRoleContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DGL</name>
        <label>Update DGL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Data_Generated_Leads__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DGL_Opp_ID_History__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Data_Generated_Leads__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discount_Approval_Required</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Account</name>
        <label>Update Opp Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opp_Premium_Plus_Picklist</targetReference>
        </connector>
        <inputAssignments>
            <field>Dedicated_Plan__c</field>
            <value>
                <elementReference>calcDedicatedPlanIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium_Plus_Indicator__c</field>
            <value>
                <elementReference>calcPremiumPlusIndicator</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Approval_Required</name>
        <label>Update Opp - Approval Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Pushed_Out_Manager_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Contact_Role</name>
        <label>Update Opp Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Team_Lead_Owner_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Premium_Plus_Picklist</name>
        <label>Update Opp Premium Plus Picklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_an_Upgrade</targetReference>
        </connector>
        <inputAssignments>
            <field>Premium_Plus__c</field>
            <value>
                <elementReference>calcPremiumPickListValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Source</name>
        <label>Update Opp Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcn_Is_this_a_Cloned_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>CQO</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Subscription_Amounts</name>
        <label>Update Opp Subscription Amounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcn_Update_Account_Flags</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Booking_Amount__c</field>
            <value>
                <elementReference>$Record.Subscription__r.Opp_Booking_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Current_USD_Price__c</field>
            <value>
                <elementReference>calcSubscriptionBookingAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Primary_Contact_is_Null</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Contact_Field_New</name>
        <label>Update Opportunity Contact Field New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unlock_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Var_OppContactRoleContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_with_Contact_ID</name>
        <label>Update Opportunity with Contact ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disqualified_approval</targetReference>
        </connector>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_contact_field_updated</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Team_Lead_Owner_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Lead_Owner_Change__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Manager_email</name>
        <label>Update Owner Manager email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_to_Manager_if_Opportunity_Close_date_is_pushed_out</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Owner_Manager_Email__c</field>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PQL_Record</name>
        <label>Update PQL Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Data_Generated_Leads__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DGL_Opp_ID_History__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DGL_Result_Date_Time_Stamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DGL_Result_Reason__c</field>
            <value>
                <stringValue>Opportunity Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DGL_Status__c</field>
            <value>
                <stringValue>Opportunity Created</stringValue>
            </value>
        </inputAssignments>
        <object>Data_Generated_Leads__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_prior_DGL</name>
        <label>Update prior DGL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Data_Generated_Leads__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DGL_Opp_ID_History__c</field>
        </inputAssignments>
        <object>Data_Generated_Leads__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quotes</name>
        <label>Update Quotes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Booking_Amount_Changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_Quote_Update</targetReference>
        </faultConnector>
        <inputReference>Transform_Quote_Status</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Remove_Promotion_record</name>
        <label>Update - Remove Promotion record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Pushed_Out_Manager_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promotion__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Type_To_OpportunityClosedWon_Sales_Type</name>
        <label>Update Sales Type To OpportunityClosedWon Sales Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checked_Closed_Won_Opp_for_FTC_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityClosedwon_Sales_Type__c</field>
            <value>
                <elementReference>SalesType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Split_Children</name>
        <label>Update Split Children</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>collOppSplitChildren</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Proactive_XDR</name>
        <label>Update to Proactive (XDR)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_PQL_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Proactive (SDR)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Source__c</field>
            <value>
                <stringValue>Proactive (SDR)</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_What_client_is_or_does</name>
        <label>Update What client is or does?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>What_s_the_story_of_this_client__c</field>
            <value>
                <elementReference>Get_Account.What_client_is_or_does__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_RLM_Opportunity</targetReference>
        </connector>
        <filterFormula>If({!$User.Full_Name__c}!=&apos;Data Migration User&apos;,true,false)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>CLL_Unlock_Opportunity_Subflow</name>
        <label>CLL Unlock Opportunity Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subscription_Attached</targetReference>
        </connector>
        <flowName>Opportunity_Unlock_Opportunity_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Notify_opp_owner_on_tech_survey</name>
        <label>Notify opp owner on tech survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Discount_Approval_Required</targetReference>
        </connector>
        <flowName>Opportunity_Notify_opp_owner_on_tech_survey</flowName>
        <inputAssignments>
            <name>opptId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Slack_Notification_to_Sales_User_for_Opportunity_Assignments</name>
        <label>Slack Notification to Sales User for Opportunity Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Is_Owner_Changed</targetReference>
        </connector>
        <flowName>Slack_Notification_to_Sales_User_for_Opportunity_Assignments</flowName>
        <inputAssignments>
            <name>OpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sync_Account_Team_Sub_flow</name>
        <label>Sync Account Team Sub-flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Location_Populated</targetReference>
        </connector>
        <flowName>Opportunity_Sync_Account_Team_Sub_flow</flowName>
        <inputAssignments>
            <name>opptId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Heads Up! A new {!$Record.Subscription_Family__c} has closed for {!$Record.Account.Name} and is ready for their Account Team assignment. 
Check out the Opportunity here:
Sales Type: {!$Record.Sales_Type__c}
Upgrade Amount: {!$Record.Booking_Amount__c}
Plan Price: {!$Record.Amount}</text>
    </textTemplates>
    <transforms>
        <name>Transform_Quote_Status</name>
        <label>Transform Quote Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quotes</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Quote</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Non_Primary_Quotes[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&apos;Archived&apos;</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>collOppSplitChildren</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_OppContactRole_not_primary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityClosedWonSalesType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OppContactRoleContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpptSplitSOQL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;select SUM(split_percentage__c) from Opportunity where Split_Opportunity_Lookup__c  = &quot; +{$Record.Id} +&quot; group by Split_Opportunity_Lookup__c&quot;</stringValue>
        </value>
    </variables>
</Flow>
