Opportunity_Notify_Order_Entry_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Email_Notification_Is_Active</name>
        <label>Check Email Notification Is Active</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Email - Not Active</defaultConnectorLabel>
        <rules>
            <name>Email_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Email_Notifications_Order_Entry_On_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Migration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Order_Entry_Email_Notification</targetReference>
            </connector>
            <label>Email - Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Slack_Notification_Is_Active</name>
        <label>Check Slack Notification Is Active</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Notification_Is_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Slack - Not Active</defaultConnectorLabel>
        <rules>
            <name>Slack_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_Order_Entry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Migration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Order_Entry_Platform_Event</targetReference>
            </connector>
            <label>Slack - Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Notify Order Entry Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Notify Order Entry Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Order_Entry_Platform_Event</name>
        <label>Publish Order Entry Platform Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Email_Notification_Is_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_ID__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Entry_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Slack_Notification_Is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incoming Order Entry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_In_Org1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Entry_Smoke_Test__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Order_Entry_Email_Notification</name>
        <label>Send Order Entry Email Notification</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <flowName>Order_Entry_Email_Send_Order_Entry_Email_Notification</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
