Opportunity_Product_Update_Quantity_Changed_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Price_Plan_Id</name>
        <label>Assign Price Plan Id</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PricePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PricebookLine_Record.WPE_Price_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricing_Tier_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PricePlan_Id</name>
        <label>Assign PricePlan Id</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PricePlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Add_On_Pricebook_Info.Price_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricing_Tier_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pricing_Tier_Exist</name>
        <label>Pricing Tier Exist?</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricing_Tier_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Price_Tier_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_greater_than_0</name>
        <label>Quantity greater than 0</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Catalog_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_found</name>
        <label>Record found?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Add_On_Pricebook_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PricePlan_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found01</name>
        <label>Record Found?</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PricebookLine_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Price_Plan_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Catalog_Type</name>
        <label>What is the Catalog Type?</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_PricebookLine_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Catalog_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-On</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Add_On_Pricebook_Info</targetReference>
            </connector>
            <label>Add On</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcListPriceCurr</name>
        <dataType>Currency</dataType>
        <expression>{!currTotalPrice}/{!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Product Update - Quantity Changed Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Update - Quantity Changed Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PricebookLine_Record</name>
        <label>Get PricebookLine Record</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_book_NetSuite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.WPE_Price_book_NetSuite__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_Book_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricing_Tier_Records</name>
        <label>Get Pricing Tier Records</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricing_Tier_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricePlanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Above_From_Quantity__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </filters>
        <filters>
            <field>isinactive__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Tier__c</object>
        <sortField>Above_From_Quantity__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Add_On_Pricebook_Info</name>
        <label>Get the Add-On Pricebook Info</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recurrence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.WPE_Price_book_NetSuite__r.Price_Book_Term__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.WPE_Subscription_plan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AddOn_Pricebook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>currTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quantity_greater_than_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_the_Price_Tier_Record</name>
        <label>Get the Price Tier Record</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
        <flowName>Calculate_Tier_Price_for_Subscription_Lines</flowName>
        <inputAssignments>
            <name>colPriceTierRecords</name>
            <value>
                <elementReference>Get_Pricing_Tier_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumQuantity</name>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>currTotalPrice</assignToReference>
            <name>CurrOutputPriceValue</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PricePlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
