Opportunity_Closed_Won_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set</name>
        <label>Set Plan is Shared Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PlanIsShared</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Plan_is_Dedicated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Plan_is_Dedicated</name>
        <label>Check if Plan is Dedicated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Shared Plan - No Slack Notification Required</defaultConnectorLabel>
        <rules>
            <name>Dedicated_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlanIsShared</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Dedicated_Closed_Won_Slack_Platform_Event</targetReference>
            </connector>
            <label>Dedicated Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Slack_Notification_Is_Active_Enterprise</name>
        <label>Check Slack Notification Is Active - Enterprise</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enterprise Slack - Not Active</defaultConnectorLabel>
        <rules>
            <name>Enterprise_Slack_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_Enterprise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Deal_Assignment_Platform_Event_Enterprise</targetReference>
            </connector>
            <label>Enterprise Slack -  Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Slack_Notification_Is_Active_Premium</name>
        <label>Check Slack Notification Is Active - Premium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Premium Slack - Not Active</defaultConnectorLabel>
        <rules>
            <name>Premium_Slack_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_Premium__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Deal_Assignment_Platform_Event_Premium</targetReference>
            </connector>
            <label>Premium Slack -  Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Agency_Pro_Email_Notification</name>
        <label>Decision Agency Pro Email Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Plan_is_Dedicated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Pro_Email_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Email_Notifications_Agency_Pro_On_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Migration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Agency_Pro_Email_Notification</targetReference>
            </connector>
            <label>Agency Pro Email Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Assigned_Tam_Add_On</name>
        <label>Decision Assigned Tam Add-On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Plan_is_Dedicated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_Tam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityLine_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Slack_Notification</targetReference>
            </connector>
            <label>Assigned Tam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Slack_Notification</name>
        <label>Decision Slack Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Agency_Pro_Email_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Pro_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Flow_Environment_Settings__c.Slack_Notifications_Agency_Pro_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Agency_Pro_Assigned_Tam_Slack_PE</targetReference>
            </connector>
            <label>Agency Pro Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Sub_Plan_Name</name>
        <label>Decision Sub Plan Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Plan_is_Dedicated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_plan__r.WPE_Subscription_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Agency Pro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OpportunityLine_Items</targetReference>
            </connector>
            <label>Agency Pro</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Split</name>
        <label>Is the Opportunity Split?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Opportunity is Split</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_not_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Split_Opportunity_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shared_Plan_list</targetReference>
            </connector>
            <label>Opportunity is not Split</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Plan_Dedicated</name>
        <label>Is Plan Dedicated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Compare_Opportunity_Plan_to_Shared_Plan_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Plan is Dedicated</defaultConnectorLabel>
        <rules>
            <name>Plan_is_Shared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compare_Opportunity_Plan_to_Shared_Plan_List.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subscription_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set</targetReference>
            </connector>
            <label>Plan is Shared</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Opportunity_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Premium</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_plan__r.Subscription_Family_Map__r.CX_Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Premium_Plus_Indicator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Premium_Plus_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Slack_Notification_Is_Active_Premium</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_plan__r.Subscription_Family_Map__r.CX_Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_plan__r.Subscription_Family_Map__r.CX_Plan_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Premium_Plus_Indicator__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Slack_Notification_Is_Active_Enterprise</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
    </decisions>
    <description>ESS1913 - DON - Added Decision to check for Split Opp and avoid firing if true</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Closed Won Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Closed Won Notifications</label>
    <loops>
        <name>Compare_Opportunity_Plan_to_Shared_Plan_List</name>
        <label>Compare Opportunity Plan to List of Shared Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Shared_Plan_list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Plan_Dedicated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Sub_Plan_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Agency_Pro_Assigned_Tam_Slack_PE</name>
        <label>Publish Agency Pro Assigned Tam Slack PE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Agency_Pro_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Agency_Pro_Assigned_Tam_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Deal_Assignment_Platform_Event_Enterprise</name>
        <label>Publish Deal Assignment Platform Event - Enterprise</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Opportunity_Split</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </inputAssignments>
        <object>Deal_Assignment_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Deal_Assignment_Platform_Event_Premium</name>
        <label>Publish Deal Assignment Platform Event - Premium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Opportunity_Split</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_ID__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>Premium</stringValue>
            </value>
        </inputAssignments>
        <object>Deal_Assignment_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Dedicated_Closed_Won_Slack_Platform_Event</name>
        <label>Publish Dedicated Closed Won Slack Platform Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Opportunity_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Owner.Assigned_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <object>Dedicated_Closed_Won_Slack__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_OpportunityLine_Items</name>
        <label>Get OpportunityLine Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Assigned_Tam_Add_On</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Catalog_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>assigned-tam</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shared_Plan_list</name>
        <label>Get Shared Plan list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Opportunity_Plan_to_Shared_Plan_List</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shared_Plan__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Agency_Pro_Email_Notification</name>
        <label>Send Agency Pro Email Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Plan_is_Dedicated</targetReference>
        </connector>
        <flowName>Send_Agency_Pro_with_Assigned_Tam_Email_Notification</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>PlanIsShared</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
