Opportunity_Sync_Account_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Collection_Variables</name>
        <label>Add Collection Variables</label>
        <locationX>818</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>collOpportunityTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recOpportunityTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Team_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Team_Member</name>
        <label>Assign Account Team Member</label>
        <locationX>915</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>recOpportunityTeamMember.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Team_Loop.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunityTeamMember.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Team_Loop.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunityTeamMember.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunityTeamMember.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collection_Variables</targetReference>
        </connector>
    </assignments>
    <description>Syncs Account Team to Opportunity Team when Opportunity is created</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Sync Account Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Sync Account Team</label>
    <loops>
        <name>Account_Team_Loop</name>
        <label>Account Team Loop</label>
        <locationX>726</locationX>
        <locationY>130</locationY>
        <collectionReference>Get_Account_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Team_Members</name>
        <label>Create Opportunity Team Members</label>
        <locationX>574</locationX>
        <locationY>320</locationY>
        <inputReference>collOpportunityTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team</name>
        <label>Get Account Team</label>
        <locationX>591</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Team_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>62</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Get_Account_Team</targetReference>
        </connector>
        <filterFormula>if({!$User.Full_Name__c} !=&apos;Data Migration User&apos;,true,false)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collOpportunityTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>recOpportunityTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
