Opportunity_Closed_Lost_Cancel_All_Open_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Order_To_Collection_For_Cancellation</name>
        <label>Add Order To Collection For Cancellation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Orders_To_Be_Cancelled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Open_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Open_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>Set Open Order to Pending Cancellation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Open_Orders.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Cancellation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Open_Orders.Update_from_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_To_Collection_For_Cancellation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Closed Lost - Cancel All Open Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Closed Lost - Cancel All Open Orders</label>
    <loops>
        <name>Loop_Through_Open_Orders</name>
        <label>Loop Through Open Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Open_Orders_Related_to_Account_of_Closed_Lost_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Open_Orders_To_Pending_Cancellation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Orders_Related_to_Account_of_Closed_Lost_Opportunity</name>
        <label>Get Open Orders Related to Account of Closed Lost Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Open_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Open_Orders_To_Pending_Cancellation</name>
        <label>Update All Open Orders To Pending Cancellation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Orders_To_Be_Cancelled</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Orders_Related_to_Account_of_Closed_Lost_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Orders_To_Be_Cancelled</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
