Opportunity_Split_Opp_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Update_Total_Parent_Split</name>
        <label>Update Total Parent Split</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Split.Split_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedSplit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Split_info_from_Parent</name>
        <label>Remove Split info from Parent</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Split.Split_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatedSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Parent_Split.Split_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Parent_Split.Split_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_parent_found</name>
        <label>Is parent found?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Split_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Split</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_related_splits</targetReference>
            </connector>
            <label>Yes - Parent Split Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_more_existing_splits</name>
        <label>No more existing splits?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Total_Parent_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_No_more_splits_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_related_splits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Split_info_from_Parent</targetReference>
            </connector>
            <label>Yes - No more splits exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>updatedSplit</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Split_Percentage__c} + {!Get_Parent_Split.Split_Percentage__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - Split Opp Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Split Opp Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_related_splits</name>
        <label>Get all related splits</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_more_existing_splits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Split_Opportunity_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Split.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Split</name>
        <label>Get Parent Split</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_parent_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Split_Opportunity_Lookup__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <inputReference>Get_Parent_Split</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Split</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Clone__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Split_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
