Opportunity_Additional_Short_Term_Project_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Short_Term_Opportunity_to_Collection</name>
        <label>Add Short-Term Opportunity to Collection</label>
        <locationX>151</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>OpportunitiesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShortTermProjectOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>clearSTPOppRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Opp_Rec_var</name>
        <label>asgn Opp Rec var</label>
        <locationX>811</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>var_OppRecIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ParentOppCloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Opportunity_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLoopCounterIncrement</name>
        <label>assignLoopCounterIncrement</label>
        <locationX>151</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcnLoopCondition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignShortTermProjectOppValues</name>
        <label>assignShortTermProjectOppValues</label>
        <locationX>151</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.Is_Clone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.LastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcNewOppNameAppend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.Project_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity.Project_Months_Claimed__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Short_Term_Opportunity_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSTPOpportunity</name>
        <label>assignSTPOpportunity</label>
        <locationX>151</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>closeDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignShortTermProjectOppValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearSTPOppRecord</name>
        <label>clearSTPOppRecord</label>
        <locationX>151</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>ShortTermProjectOpportunity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>assignLoopCounterIncrement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcn_Create_Project_Opp</name>
        <label>dcn Create Project Opp</label>
        <locationX>811</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_the_next_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createProjectOpp.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcnLoopCondition</targetReference>
            </connector>
            <label>Create the next opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcnCheckOpportunitiesToCreate</name>
        <label>dcnCheckOpportunitiesToCreate</label>
        <locationX>679</locationX>
        <locationY>722</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunitiesToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createShortTermProjectOpportunities</targetReference>
            </connector>
            <label>hasValues</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcnLoopCondition</name>
        <label>dcnLoopCondition</label>
        <locationX>414</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>dcnCheckOpportunitiesToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_OppRecIn.Project_Duration__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSTPOpportunity</targetReference>
            </connector>
            <label>continue</label>
        </rules>
    </decisions>
    <description>re-adding Booking_Amount__c</description>
    <environments>Default</environments>
    <formulas>
        <name>calcNewOppNameAppend</name>
        <dataType>String</dataType>
        <expression>&quot; - Project Opp &quot; + TEXT({!calcProjectMontNum})</expression>
    </formulas>
    <formulas>
        <name>calcNextCloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!var_OppRecIn.CloseDate},{!var_OppRecIn.Project_Months_Claimed__c})</expression>
    </formulas>
    <formulas>
        <name>calcProjectMonths</name>
        <dataType>Number</dataType>
        <expression>{!var_OppRecIn.Project_Months_Claimed__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcProjectMontNum</name>
        <dataType>Number</dataType>
        <expression>{!var_OppRecIn.Project_Months_Claimed__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formula_CloseDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!var_ParentOppCloseDate},{!loopCounter})</expression>
    </formulas>
    <interviewLabel>Opportunity - Additional Short Term Project Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Additional Short Term Project Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createShortTermProjectOpportunities</name>
        <label>createShortTermProjectOpportunities</label>
        <locationX>415</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>OpportunitiesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>811</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Opp_Rec_var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>679</locationX>
        <locationY>938</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <defaultValue>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Project_Opportunity_Details</name>
        <label>Project Opportunity Details</label>
        <locationX>811</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcn_Create_Project_Opp</targetReference>
        </connector>
        <fields>
            <name>shoi</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Claimed&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;{!var_OppRecIn.Project_Months_Claimed__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Duration&lt;/strong&gt;: {!var_OppRecIn.Project_Duration__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Booking Amount&lt;/strong&gt;: {!var_OppRecIn.Booking_Amount__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Opportunity_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Opportunity_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showProjOpp</name>
                    <fieldText>&lt;p&gt;{!tmpOppDetails}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Opportunity_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>createProjectOpp</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create Next Project Opp</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>YES</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>NO</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>415</locationX>
        <locationY>938</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>shortTermOppResult</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>OpportunitiesToCreate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Opportunities</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,AccountId,StageName,CloseDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:430, AccountId:430, StageName:430, CloseDate:430</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>685</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmpOppDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Account Name: &lt;/strong&gt;{!var_OppRecIn.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity: &lt;/strong&gt;{!var_OppRecIn.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Original Close Date:  &lt;/strong&gt;{!var_OppRecIn.CloseDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Start Date: &lt;/strong&gt;{!var_OppRecIn.Celigo_AT_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project End Date: &lt;/strong&gt;{!var_OppRecIn.End_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Amount:&lt;/strong&gt; {!var_OppRecIn.Amount}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Booking Amount:  &lt;/strong&gt;{!var_OppRecIn.Booking_Amount__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Duration: &lt;/strong&gt;{!var_OppRecIn.Project_Duration__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Opp #:  &lt;/strong&gt;{!calcProjectMontNum}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This Project Opp Close Date: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!calcNextCloseDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>closeDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunitiesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShortTermProjectOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_OppRecIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_ParentOppCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
