Opportunity_Team_Member_PE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asn_Values_to_vars</name>
        <label>Asn - Values to vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Object_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Who_was_deleted</name>
        <label>Who was deleted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_ADR</targetReference>
            </connector>
            <label>ADR</label>
        </rules>
        <rules>
            <name>BDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_BDR</targetReference>
            </connector>
            <label>BDR</label>
        </rules>
        <rules>
            <name>CDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CDR</targetReference>
            </connector>
            <label>CDR</label>
        </rules>
        <rules>
            <name>SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_SDR</targetReference>
            </connector>
            <label>SDR</label>
        </rules>
        <rules>
            <name>SE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_SE</targetReference>
            </connector>
            <label>SE</label>
        </rules>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Legal</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>P_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_P_CSM</targetReference>
            </connector>
            <label>P+ CSM</label>
        </rules>
        <rules>
            <name>PAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_PAM</targetReference>
            </connector>
            <label>PAM</label>
        </rules>
        <rules>
            <name>P_TAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ TAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_P_TAM</targetReference>
            </connector>
            <label>P+ TAM</label>
        </rules>
        <rules>
            <name>AH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Hours Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_AH</targetReference>
            </connector>
            <label>AH</label>
        </rules>
        <rules>
            <name>Portfolio_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio CSM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Portfolio_CSM</targetReference>
            </connector>
            <label>Portfolio CSM</label>
        </rules>
        <rules>
            <name>SSDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_SSDR</targetReference>
            </connector>
            <label>SSDR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Team Member - PE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Team Member - PE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Team_Member</name>
        <label>Get - Opportunity Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_was_deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_ADR</name>
        <label>Remove ADR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ADR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_AH</name>
        <label>Remove AH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>After_Hours_Rep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>After_Hours_Rep__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_BDR</name>
        <label>Remove BDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BDR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_CDR</name>
        <label>Remove CDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CDR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Legal</name>
        <label>Remove Legal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Legal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_CSM</name>
        <label>Remove P+ CSM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>P_CSM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P_CSM__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_P_TAM</name>
        <label>Remove P+ TAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>P_TAM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P_TAM__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_PAM</name>
        <label>Remove PAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Portfolio_CSM</name>
        <label>Remove Portfolio CSM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portfolio_CSM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portfolio_CSM__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_SDR</name>
        <label>Remove SDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_SE</name>
        <label>Remove SE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SE__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_SSDR</name>
        <label>Remove SSDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SSDR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SSDR__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asn_Values_to_vars</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Team_Member_Deleted__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
