Opportunity_SLA_Alert_based_on_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Opportunity_Owner</name>
        <label>Send Notification to Opportunity Owner</label>
        <locationX>1810</locationX>
        <locationY>600</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>{!Get_Custom_Notification.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecieptentIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.Opportunity_SLA_Header</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Label.Opportunity_SLA_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_all_recipients</name>
        <label>Add all recipients</label>
        <locationX>1942</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>RecieptentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_Value_if_Record_not_Found</name>
        <label>Assign Blank Value if Record not Found</label>
        <locationX>1018</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Alert_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIncrementTempDateTime</name>
        <label>assignIncrementTempDateTime</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>tempDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incrementTempDateTimeBy1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkWeekend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSLAAlertDate</name>
        <label>assignSLAAlertDate</label>
        <locationX>754</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Alert_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>decrementNoOfDaysBy1</name>
        <label>decrementNoOfDaysBy1</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>no_of_days</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>decisionNoOfDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementBy1Day</name>
        <label>incrementBy1Day</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>tempDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incrementTempDateTimeBy1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decrementNoOfDaysBy1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementBy2Day</name>
        <label>incrementBy2Day</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>tempDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incrementTempDateTimeBy2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decrementNoOfDaysBy1</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>1282</locationX>
        <locationY>1566</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Recipient_Is_Not_Null</name>
        <label>Check Recipient Is Not Null</label>
        <locationX>1942</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Recipient_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecieptentIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Full_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Migration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_to_Opportunity_Owner</targetReference>
            </connector>
            <label>Recipient Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Records_Is_Not_Null</name>
        <label>Check Records Is Not Null</label>
        <locationX>776</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_Value_if_Record_not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WPE_SLA_Milestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionNoOfDays</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Profile</name>
        <label>Check User Profile</label>
        <locationX>1161</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile_Matched</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WPE - Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WPE_SLA_Milestone</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Profile Matched!!</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWeekend</name>
        <label>checkWeekend</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>decrementNoOfDaysBy1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sunday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkDayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>incrementBy1Day</targetReference>
            </connector>
            <label>Sunday</label>
        </rules>
        <rules>
            <name>Saturday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkDayofWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>incrementBy2Day</targetReference>
            </connector>
            <label>Saturday</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNoOfDays</name>
        <label>decisionNoOfDays</label>
        <locationX>534</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>assignSLAAlertDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero</defaultConnectorLabel>
        <rules>
            <name>LT_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>no_of_days</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIncrementTempDateTime</targetReference>
            </connector>
            <label>LT &lt; Zero</label>
        </rules>
    </decisions>
    <description>SF360-515,SF360-308,SF360-639,SF360-851</description>
    <environments>Default</environments>
    <formulas>
        <name>checkDayofWeek</name>
        <dataType>String</dataType>
        <expression>CASE(
    MOD(DATEVALUE({!tempDateTime}) - DATE(1900, 1, 7), 7),
    0, &apos;Sunday&apos;,
    1, &apos;Monday&apos;,
    2, &apos;Tuesday&apos;,
    3, &apos;Wednesday&apos;,
    4, &apos;Thursday&apos;,
    5, &apos;Friday&apos;,
    6, &apos;Saturday&apos;,
    &apos;Unknown&apos;
)</expression>
    </formulas>
    <formulas>
        <name>incrementTempDateTimeBy1</name>
        <dataType>DateTime</dataType>
        <expression>{!tempDateTime} + 1</expression>
    </formulas>
    <formulas>
        <name>incrementTempDateTimeBy2</name>
        <dataType>DateTime</dataType>
        <expression>{!tempDateTime} + 2</expression>
    </formulas>
    <interviewLabel>Opportunity SLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity SLA Alert based on Stage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>1942</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_all_recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_SLA_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WPE_SLA_Milestone</name>
        <label>Get WPE SLA Milestone</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Records_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserRole__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner.UserRole.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WPE_SLA_Milestone__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>776</locationX>
        <locationY>1458</locationY>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1425</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_Profile</targetReference>
        </connector>
        <filterFormula>if({!$User.Full_Name__c}!=&apos;Data Migration User&apos;,true,false)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_SLA_Notification</name>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>Schedule SLA Notification</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>SLA_Alert_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>no_of_days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_WPE_SLA_Milestone.Milestone_in_Day__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecieptentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewStartTime</elementReference>
        </value>
    </variables>
</Flow>
