Opportunity_New_Split.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn_Already_Split</name>
        <label>asgn Already Split</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varAlreadySplit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Found_Opps.Split_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collSplitOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Found_Opps.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Found_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Clone_Opp</name>
        <label>asgn Clone Opp</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recCloneOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OppRecIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAvailablePercent</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Split_Percent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Originating_and_Clone_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Originating_and_Clone_fields</name>
        <label>asgn Originating and Clone fields</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>var_OppRecIn.Split_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.Split_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.Split_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Split_Percent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SplitOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.Split_Opportunity_Lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.Is_Clone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - Split</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OppRecIn.Split_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAvailablePercent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCloneOpp.External_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Split</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Var_to_Get_Oppt</name>
        <label>Asn - Var to Get Oppt</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_OppRecIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collSplitOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAvailablePercent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcCurrentlyAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Opps_Involved</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dcn_Create_Split</name>
        <label>dcn Create Split</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Split_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Revenue_Split</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Split_Details</targetReference>
            </connector>
            <label>New Split Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Opp_In_Closed_Won</name>
        <label>dcn Opp In Closed Won</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Is_parent_oppt_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Split_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Split_Opp_Screen</targetReference>
            </connector>
            <label>Cannot Split Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_parent_oppt_found</name>
        <label>Is parent oppt found?</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Not_Parent_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Oppt_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asn_Var_to_Get_Oppt</targetReference>
            </connector>
            <label>Yes - Parent Oppt found</label>
        </rules>
    </decisions>
    <description>31Jul23 - CC(SDA) - removed from Previous button from &apos;Create Split&apos; screen as there&apos;s no way to reset the initial data once it&apos;s been created.
11Jul23 - CC(SDA) - check if the parent Opp Split % is null; updated total split if parent Opp split % is null
30May23 - CC(SDA) - update the split to use Booking Amount vs. Opp Amount, prevent Split if not Closed Won Pending or Closed Won</description>
    <environments>Default</environments>
    <formulas>
        <name>calcCurrentlyAvailable</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!var_OppRecIn.Split_Percentage__c}),100,{!var_OppRecIn.Split_Percentage__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcSplitPercent</name>
        <dataType>Number</dataType>
        <expression> IF(NOT(ISBLANK({!varAlreadySplit})),100 - {!varAlreadySplit}, 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcUpdatedSplit</name>
        <dataType>Number</dataType>
        <expression>{!varAlreadySplit} - {!Split_Percent}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity - New Split {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - New Split</label>
    <loops>
        <name>loop_Found_Opps</name>
        <label>loop Found Opps</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_All_Opps_Involved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Already_Split</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Split</name>
        <label>Create Split</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Update_Originating_Opp</targetReference>
        </connector>
        <inputReference>recCloneOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Opps_Involved</name>
        <label>Get All Opps Involved</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Found_Opps</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Split_Opportunity_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcn_Opp_In_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Splits</name>
        <label>Get Updated Splits</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_All_Opps_Involved</targetReference>
        </connector>
        <filterLogic>(1 OR 2)</filterLogic>
        <filters>
            <field>Split_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Split_Opportunity_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_OppRecIn.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Split_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>collSplitOwners</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Originating_Opp</name>
        <label>Update Originating Opp</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Get_Updated_Splits</targetReference>
        </connector>
        <inputReference>var_OppRecIn</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cannot_Split_Opp_Screen</name>
        <label>Cannot Split Opp Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dispMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Opportunity Splits cannot be created until the Opportunity Stage is &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Closed Won Pending&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;, or &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Closed Won&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Split_Opp</name>
        <label>Create Split Opp</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dcn_Create_Split</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_shovars</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Current Revenue Splits:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_existingSplits</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Owner_Name__c,Split_Percentage__c,Booking_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:200, Owner_Name__c:220, Split_Percentage__c:140, Booking_Amount__c:190</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Owner_Name__c:true, Split_Percentage__c:true, Booking_Amount__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Opps_Involved</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Revenue_Split</name>
            <choiceReferences>chYes</choiceReferences>
            <choiceReferences>chNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chNo</defaultSelectedChoiceReference>
            <fieldText>Create Revenue Split?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Split_Details</name>
        <label>Enter Split Details</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgn_Clone_Opp</targetReference>
        </connector>
        <fields>
            <name>shovars</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Current Revenue Splits:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>existingSplits</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Opps_Involved</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Owner_Name__c,Split_Percentage__c,Booking_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:200, Owner_Name__c:220, Split_Percentage__c:140, Booking_Amount__c:190</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Owner_Name__c:true, Split_Percentage__c:true, Booking_Amount__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dispSpacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>createNewSplit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Create New Revenue Split:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Split_Percent</name>
            <dataType>Number</dataType>
            <fieldText>Split %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varAvailablePercent} &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;of Opportunity is available to split.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You entered &lt;strong&gt;{!Split_Percent}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cannot split more than &lt;strong&gt;{!varAvailablePercent}%&lt;/strong&gt; of Opportunity.  &lt;/p&gt;</errorMessage>
                <formulaExpression>OR(ISBLANK({!varAvailablePercent}),{!Split_Percent} &lt; {!varAvailablePercent})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SplitOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Split_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Split Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>collSplitOwners</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Parent_Split</name>
        <label>Not Parent Split</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WrongRecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(253, 14, 14); font-size: 14px;&quot;&gt;You can only create splits from the parent Opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmplOppDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Account: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; {!var_OppRecIn.Account.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Opportunity Name:  &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!var_OppRecIn.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Opportunity Booking Amount: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!var_OppRecIn.Booking_Amount__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Parent Current Split %: &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!calcSplitPercent}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>collection holding the Owner Ids of related split opps to exclude from user list</description>
        <name>collSplitOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCloneOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OppRecIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varAlreadySplit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAvailablePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>calcCurrentlyAvailable</elementReference>
        </value>
    </variables>
</Flow>
