Opportunity_Team_Member_Team_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Dcn_ADR</name>
        <label>Dcn ADR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_BDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.ADR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ADR</targetReference>
            </connector>
            <label>ADR New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_After_Hours_Rep</name>
        <label>Dcn After Hours Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_Portfolio_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AH_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Hours Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.After_Hours_Rep__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_After_Hours_Rep</targetReference>
            </connector>
            <label>AH New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_BDR</name>
        <label>Dcn BDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_CDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BDR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.BDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BDR</targetReference>
            </connector>
            <label>BDR New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_CDR</name>
        <label>Dcn CDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_SDR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CDR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.CDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CDR</targetReference>
            </connector>
            <label>CDR New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_Legal</name>
        <label>Dcn Legal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_SE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Legal__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Legal</targetReference>
            </connector>
            <label>Legal New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_P_CSM</name>
        <label>Dcn P+ CSM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_P_TAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ CSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.P_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_P_CSM</targetReference>
            </connector>
            <label>P+ CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_P_TAM</name>
        <label>Dcn P+ TAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_PAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P_TAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P+ TAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.P_TAM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_P_TAM</targetReference>
            </connector>
            <label>P+ TAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_PAM</name>
        <label>Dcn PAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_After_Hours_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Partner_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PAM</targetReference>
            </connector>
            <label>PAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_Portfolio_CSM</name>
        <label>Dcn Portfolio CSM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portfolio_CSM_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portfolio CSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Portfolio_CSM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Portfolio_CSM</targetReference>
            </connector>
            <label>Portfolio CSM New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_SDR</name>
        <label>Dcn SDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_Legal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDR_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.SDR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SDR</targetReference>
            </connector>
            <label>SDR New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dcn_SE</name>
        <label>Dcn SE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Dcn_P_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SE_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.SE__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SE</targetReference>
            </connector>
            <label>SE New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Team Member - Team Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Team Member - Team Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get - Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dcn_ADR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ADR</name>
        <label>Update ADR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_BDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ADR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_After_Hours_Rep</name>
        <label>Update After Hours Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_Portfolio_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>After_Hours_Rep__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BDR</name>
        <label>Update BDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_CDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BDR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CDR</name>
        <label>Update CDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_SDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CDR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal</name>
        <label>Update Legal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_SE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_P_CSM</name>
        <label>Update P+ CSM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_P_TAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P_CSM__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_P_TAM</name>
        <label>Update P+ TAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_PAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>P_TAM__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAM</name>
        <label>Update PAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_After_Hours_Rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Manager__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Portfolio_CSM</name>
        <label>Update Portfolio CSM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portfolio_CSM__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SDR</name>
        <label>Update SDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDR__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SE</name>
        <label>Update SE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Dcn_P_CSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SE__c</field>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
