Order_Entry_Slack_Send_FTC_Acceptance_Slack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production</name>
        <label>Post to Slack Workflow - Production</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <actionName>SlackFTCAcceptance.postWorkflowsT030abj1fA076ydb49tn516980378662123346De926t59F3pxJk7bscYNbMoV</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Production</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackFTCAcceptance.postWorkflowsT030abj1fA076ydb49tn516980378662123346De926t59F3pxJk7bscYNbMoV</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Sandbox</name>
        <label>Post to Slack Workflow - Sandbox</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <actionName>SlackFTCAcceptanceSandbox.postWorkflowsT030abj1fA076t1maa5b516979934233630506R3yu3NsaGCvqJjxDiNL7wq1P</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Slack_Request_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackFTCAcceptanceSandbox.postWorkflowsT030abj1fA076t1maa5b516979934233630506R3yu3NsaGCvqJjxDiNL7wq1P</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Slack_Request_Production</name>
        <label>Generate Slack Request - Production</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Production.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Production.accountLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Sandbox</name>
        <label>Generate Slack Request - Sandbox</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox.accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Request_Sandbox.accountLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_URL_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Sandbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Channel_to_Notify</name>
        <label>Which Channel to Notify</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Generate_Slack_Request_Sandbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sandbox</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production</targetReference>
            </connector>
            <label>Production</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Account_URL_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.Account_ID__c}</expression>
    </formulas>
    <interviewLabel>Order Entry Slack - Send FTC Acceptance Slack Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Entry Slack - Send FTC Acceptance Slack Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>FTC_Acceptance_Slack__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Slack_Request_Production</name>
        <apexClass>ExternalService__SlackFTCAcceptance_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slack_Request_Sandbox</name>
        <apexClass>ExternalService__SlackFTCAcceptanceSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
