Order_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Order_has_Products</name>
        <label>Check if Order has Products</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Order_to_Needs_Attention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Order_Cancelled_in_NetSuite</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_related_Order_Exist</name>
        <label>Check if related Order Exist?</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_if_Order_has_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NS_Add_On_Subscription_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NS_Add_On_Subscription_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Cancelled_in_NetSuite</name>
        <label>Is Order Cancelled in NetSuite?</label>
        <locationX>226</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Cancelled_by_Salesforce__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Status_to_Cancel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>13Mar2024 - CS - Removing step to change Opp Stage to &quot;4 - Negotiation&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Order: After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Order_Status_to_Cancel</name>
        <label>Set Order Status to Cancel</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_from_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_to_Needs_Attention</name>
        <label>Update Order to Needs Attention</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Needs Attention</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Order</name>
        <label>Update Related Order</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Order_Cancelled_in_NetSuite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NS_Add_On_Subscription_Id__c</field>
            <value>
                <elementReference>$Record.NS_Add_On_Subscription_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_related_Order_Exist</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
