PriceBook_to_Subscription_Plan_Assoc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>PriceBook to Subscription Plan Assoc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PriceBook to Subscription Plan Assoc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_subscription_Plan</name>
        <label>Get subscription Plan</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Pricebook_with_Subscription_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WPE_NS_Subscription_Plan_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription_Plan_Internal_Id_for_Proces__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pricebook_with_Subscription_Plan</name>
        <label>Update Pricebook with Subscription Plan</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Subscription_plan__c</field>
            <value>
                <elementReference>Get_subscription_Plan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_subscription_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Plan_Internal_Id_for_Proces__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Price_books_NetSuite__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-19</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SubPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
