Price_Tier_Daily_Scheduled_Flow_to_Delete_Inactive_Price_Tier_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_On_Run_Count</name>
        <label>Send Email On Run Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Setup.Flow_Environment_Settings__c.Email_Notifications_Price_Tiers__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Deleted  &lt;strong&gt;{!Inactive_Price_Tier_Count}&lt;/strong&gt; Inactive Price Tier Records for the org &lt;strong&gt;{!$Setup.Flow_Environment_Settings__c.Email_Notifications_Org_Name__c} &lt;/strong&gt;({!$Organization.Id})&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Inactive_Price_Tier_Count</name>
        <label>Assign Inactive Price Tier Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Inactive_Price_Tier_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_10K_Inactive_Price_Tier_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Inactive_Price_Tier_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Inactive_Price_Tier_Records</name>
        <label>Check For Inactive Price Tier Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email_On_Run_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Price Tier Records Not Found</defaultConnectorLabel>
        <rules>
            <name>Inactive_Price_Tier_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_10K_Inactive_Price_Tier_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Inactive_Price_Tier_Records</targetReference>
            </connector>
            <label>Inactive Price Tier Records Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Deletion of Inactive Price Tier Records - &quot; &amp; {!$Setup.Flow_Environment_Settings__c.Email_Notifications_Org_Name__c} &amp; &quot; (&quot; &amp;  {!$Organization.Id} &amp; &quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Price Tier - Daily Scheduled Flow to Delete Inactive Price Tier Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Price Tier - Daily Scheduled Flow to Delete Inactive Price Tier Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Inactive_Price_Tier_Records</name>
        <label>Delete Inactive Price Tier Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_On_Run_Count</targetReference>
        </connector>
        <inputReference>Get_10K_Inactive_Price_Tier_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_10K_Inactive_Price_Tier_Records</name>
        <label>Get 10K Inactive Price Tier Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Inactive_Price_Tier_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isinactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>10000.0</numberValue>
        </limit>
        <object>Price_Tier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_10K_Inactive_Price_Tier_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-27</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Inactive_Price_Tier_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
