Product_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Association_Common_and_Unique</name>
        <label>Association Common and Unique</label>
        <locationX>2473</locationX>
        <locationY>716</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgn_Found_Families_from_Find</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Product_Subscription_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Product_Subscription_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Product_Subscription_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>collCurrentAssociations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Subscription_Family_Map__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>Get_Subscription_Family_Map</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Family_Collection</name>
        <label>Create Family Collection</label>
        <locationX>1310</locationX>
        <locationY>497</locationY>
        <actionName>ConvertToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Subscription_Family_Map</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialString</name>
            <value>
                <elementReference>$Record.Subscription_Family_Text__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertToStringCollection</nameSegment>
        <outputParameters>
            <assignToReference>collFamilyString</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Family_Map_Common_and_Unique</name>
        <label>Family Map - Common and Unique</label>
        <locationX>2104</locationX>
        <locationY>507</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>dcn_Existing_Associations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>Get_Subscription_Family_Map</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Subscription_Family_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>collAllSubscriptionFamilies</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Subscription_Family_Name__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn_Association_Collection_0</name>
        <label>asgn Association Collection</label>
        <locationX>3170</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>collNewAssociationRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAssociationRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_to_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Association_Rec_0</name>
        <label>asgn Association Rec</label>
        <locationX>2911</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>recAssociationRec.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssociationRec.Subscription_Family_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Families_to_Associate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssociationRec.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssociationRec.PriceBook_Entry_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookEntryRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Association_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Found_Families_from_Find</name>
        <label>asgn Found Families from Find</label>
        <locationX>2683</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>collFamilyRecsForAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Association_Common_and_Unique.targetUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_to_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Found_Families_from_Name</name>
        <label>asgn Found Families from Name</label>
        <locationX>2676</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>collFamilyRecsForAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Family_Map</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_to_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Invalid_Association_Collection</name>
        <label>asgn Invalid Association Collection</label>
        <locationX>3152</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>collAssocDel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAssocDel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_To_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Invalid_Association_Rec</name>
        <label>asgn Invalid Association Rec</label>
        <locationX>2914</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>recAssocDel.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Families_To_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Invalid_Association_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PricebookEntry_Id</name>
        <label>Assign PricebookEntry Id</label>
        <locationX>1136</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBook_Entry_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SubscriptionFamily_on_PriceBookEntry_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PricebookId_from_Create_Record</name>
        <label>Assign PricebookId from Create Record</label>
        <locationX>967</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Price_Book_Entry_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SubscriptionFamily_on_PriceBookEntry_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dcn_Associations_to_Delete</name>
        <label>dcn Associations to Delete</label>
        <locationX>3472</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Associations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collAssocDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAssociations</targetReference>
            </connector>
            <label>Delete Associations</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Delete_Associations</name>
        <label>dcn Delete Associations</label>
        <locationX>2905</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>dcn_New_Associations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Associations_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Association_Common_and_Unique.sourceUniqueRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Families_To_Remove</targetReference>
            </connector>
            <label>Current Associations Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Existing_Associations</name>
        <label>dcn Existing Associations</label>
        <locationX>2465</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Association_Common_and_Unique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collCurrentAssociations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgn_Found_Families_from_Name</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_New_Associations</name>
        <label>dcn New Associations</label>
        <locationX>3168</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>dcn_Associations_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Associations_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collNewAssociationRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Associations</targetReference>
            </connector>
            <label>New Associations Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Price_Book_Entry_Record_Exist</name>
        <label>Does Price Book Entry Record Exist?</label>
        <locationX>631</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PriceBook_Entry_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PricebookEntry_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcDeletedAssociationSOQL</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id FROM Product_Subscription_Family_Association__c WHERE Product__c = &apos;&quot; + {!$Record.Id} + &quot;&apos; AND Subscription_Family_Map__r.Name NOT IN (&apos;&quot; + {!$Record.Subscription_Family_Text__c} +&quot;&apos;)&quot;</expression>
    </formulas>
    <interviewLabel>Product - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product - After Save</label>
    <loops>
        <name>loop_Families_to_Associate</name>
        <label>loop Families to Associate</label>
        <locationX>2913</locationX>
        <locationY>507</locationY>
        <collectionReference>collFamilyRecsForAdd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Association_Rec_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcn_Delete_Associations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Families_To_Remove</name>
        <label>loop Families To Remove</label>
        <locationX>2914</locationX>
        <locationY>933</locationY>
        <collectionReference>Association_Common_and_Unique.sourceUniqueRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Invalid_Association_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcn_New_Associations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Associations</name>
        <label>Create New Associations</label>
        <locationX>3176</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>dcn_Associations_to_Delete</targetReference>
        </connector>
        <inputReference>collNewAssociationRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book_Entry_Record</name>
        <label>Create Price Book Entry Record</label>
        <locationX>808</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>Assign_PricebookId_from_Create_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteAssociations</name>
        <label>Delete Associations</label>
        <locationX>3703</locationX>
        <locationY>735</locationY>
        <inputReference>collAssocDel</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Subscription_Families</name>
        <label>Get All Subscription Families</label>
        <locationX>1602</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Families</targetReference>
        </connector>
        <object>Subscription_Family_Map__c</object>
        <outputReference>collAllSubscriptionFamilies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Family_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Families</name>
        <label>Get Current Families</label>
        <locationX>1717</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Family_Map_Common_and_Unique</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Product_Subscription_Family_Association__c</object>
        <outputReference>collCurrentAssociations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Family_Map__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Entry_Record</name>
        <label>Get PriceBook Entry Record</label>
        <locationX>469</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Price_Book_Entry_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book</name>
        <label>Get Standard Price Book</label>
        <locationX>640</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Book_Entry_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Family_Map</name>
        <label>Get Subscription Family Map</label>
        <locationX>1471</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Subscription_Families</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Family_Map__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Subscription_Family_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SubscriptionFamily_on_PriceBookEntry_Records</name>
        <label>Update SubscriptionFamily on PriceBookEntry Records</label>
        <locationX>1136</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>Create_Family_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Subscription_Family__c</field>
            <value>
                <elementReference>$Record.Subscription_Family_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordUpdates>
    <start>
        <locationX>68</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Get_PriceBook_Entry_Record</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collAllSubscriptionFamilies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>collAssocDel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>collAssocRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>collCurrentAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>collFamilyRecsForAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>collFamilyString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collIncomingFamilies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>collNewAssociationRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01s4x0000000LAJAA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>recAssocDel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>recAssociationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>recAssocRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Subscription_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>recFamilyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>varDelCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varFamilyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFamilyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
