Promotion_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Association_Common_and_Unique_P</name>
        <label>Association Common and Unique</label>
        <locationX>1880</locationX>
        <locationY>714</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgn_Found_Families_from_Find</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Promotion_Sub_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Promotion_Sub_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Promotion_Sub_Family_Association__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emptyListsReturnNull</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>collCurrentAssociations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Subscription_Family_Map__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>Get_Subscription_Family_Map</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Family_Collection</name>
        <label>Create Family Collection</label>
        <locationX>757</locationX>
        <locationY>497</locationY>
        <actionName>ConvertToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Subscription_Family_Map</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialString</name>
            <value>
                <elementReference>$Record.Subscription_Family_Text__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertToStringCollection</nameSegment>
        <outputParameters>
            <assignToReference>collFamilyString</assignToReference>
            <name>stringCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Family_Map_Common_and_Unique</name>
        <label>Family Map - Common and Unique</label>
        <locationX>1512</locationX>
        <locationY>507</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Subscription_Family_Check</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Subscription_Family_Map__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emptyListsReturnNull</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>collIncomingFamilies</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Subscription_Family_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>collAllSubscriptionFamilies</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Subscription_Family_Name__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn_Association_Collection</name>
        <label>asgn Association Collection</label>
        <locationX>2091</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>collNewAssociationRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAssociationRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_New_Families</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Association_Collection_0</name>
        <label>asgn Association Collection</label>
        <locationX>2578</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>collNewAssociationRec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAssociationRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_to_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Association_Rec</name>
        <label>asgn Association Rec</label>
        <locationX>1880</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>recAssociationRec.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssociationRec.Subscription_Family_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_New_Families.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Association_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Association_Rec_0</name>
        <label>asgn Association Rec</label>
        <locationX>2319</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>recAssociationRec.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAssociationRec.Subscription_Family_Map__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Families_to_Associate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Association_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Family_Collection</name>
        <label>asgn Family Collection</label>
        <locationX>1121</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>collIncomingFamilies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recFamilyRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Incoming_Families</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Family_Rec</name>
        <label>asgn Family Rec</label>
        <locationX>1122</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>recFamilyRec.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFamilyRec.Subscription_Family_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Incoming_Families</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recFamilyRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Incoming_Families</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Family_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Found_Families_from_Find</name>
        <label>asgn Found Families from Find</label>
        <locationX>2081</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>collFamilyRecsForAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Association_Common_and_Unique_P.targetUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_to_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Found_Families_from_Name</name>
        <label>asgn Found Families from Name</label>
        <locationX>2084</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>collFamilyRecsForAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Family_Map</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_to_Associate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Invalid_Association_Collection</name>
        <label>asgn Invalid Association Collection</label>
        <locationX>2560</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>collAssocDel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAssocDel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Families_To_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Invalid_Association_Rec</name>
        <label>asgn Invalid Association Rec</label>
        <locationX>2322</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>recAssocDel.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Families_To_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Invalid_Association_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Name_exists</name>
        <label>Check if Name exists?</label>
        <locationX>1367</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>asgn_Family_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Incoming_Families</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Incoming_Families</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Associations_to_Delete</name>
        <label>dcn Associations to Delete</label>
        <locationX>2880</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_Associations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collAssocDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAssociations</targetReference>
            </connector>
            <label>Delete Associations</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Delete_Associations</name>
        <label>dcn Delete Associations</label>
        <locationX>2313</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>dcn_New_Associations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Associations_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Association_Common_and_Unique_P.sourceUniqueRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Families_To_Remove</targetReference>
            </connector>
            <label>Current Associations Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Existing_Associations</name>
        <label>dcn Existing Associations</label>
        <locationX>1873</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Association_Common_and_Unique_P</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collCurrentAssociations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgn_Found_Families_from_Name</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_New_Associations</name>
        <label>dcn New Associations</label>
        <locationX>2576</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>dcn_Associations_to_Delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Associations_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collNewAssociationRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Associations</targetReference>
            </connector>
            <label>New Associations Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Family_Check</name>
        <label>Subscription Family Check</label>
        <locationX>1666</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>dcn_Existing_Associations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Families_To_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Family_Map_Common_and_Unique.sourceUniqueRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Families</targetReference>
            </connector>
            <label>Families To Insert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcDeletedAssociationSOQL</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id FROM Product_Subscription_Family_Association__c WHERE Product__c = &apos;&quot; + {!$Record.Id} + &quot;&apos; AND Subscription_Family_Map__r.Name NOT IN (&apos;&quot; + {!$Record.Subscription_Family_Text__c} +&quot;&apos;)&quot;</expression>
    </formulas>
    <interviewLabel>Promotion - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Promotion - After Save</label>
    <loops>
        <name>loop_Families_to_Associate</name>
        <label>loop Families to Associate</label>
        <locationX>2312</locationX>
        <locationY>514</locationY>
        <collectionReference>collFamilyRecsForAdd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Association_Rec_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcn_Delete_Associations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Families_To_Remove</name>
        <label>loop Families To Remove</label>
        <locationX>2322</locationX>
        <locationY>933</locationY>
        <collectionReference>Association_Common_and_Unique_P.sourceUniqueRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Invalid_Association_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcn_New_Associations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Incoming_Families</name>
        <label>loop Incoming Families</label>
        <locationX>1278</locationX>
        <locationY>497</locationY>
        <collectionReference>collFamilyString</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Name_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Family_Map_Common_and_Unique</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_New_Families</name>
        <label>loop New Families</label>
        <locationX>1881</locationX>
        <locationY>249</locationY>
        <collectionReference>Family_Map_Common_and_Unique.sourceUniqueRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgn_Association_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>dcn_Existing_Associations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_New_Families</name>
        <label>Add New Families</label>
        <locationX>1676</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>loop_New_Families</targetReference>
        </connector>
        <inputReference>Family_Map_Common_and_Unique.sourceUniqueRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Associations</name>
        <label>Create New Associations</label>
        <locationX>2584</locationX>
        <locationY>937</locationY>
        <connector>
            <targetReference>dcn_Associations_to_Delete</targetReference>
        </connector>
        <inputReference>collNewAssociationRec</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteAssociations</name>
        <label>Delete Associations</label>
        <locationX>3111</locationX>
        <locationY>735</locationY>
        <inputReference>collAssocDel</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Subscription_Families</name>
        <label>Get All Subscription Families</label>
        <locationX>1012</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Families_0</targetReference>
        </connector>
        <object>Subscription_Family_Map__c</object>
        <outputReference>collAllSubscriptionFamilies</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Family_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Families_0</name>
        <label>Get Current Families</label>
        <locationX>1137</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Incoming_Families</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Promotion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Promotion_Sub_Family_Association__c</object>
        <outputReference>collCurrentAssociations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subscription_Family_Map__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Family_Map</name>
        <label>Get Subscription Family Map</label>
        <locationX>879</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Subscription_Families</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Family_Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collFamilyString</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Family_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>274</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Create_Family_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Family_Text__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WPE_Promotion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collAllSubscriptionFamilies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>collAssocDel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Sub_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>collCurrentAssociations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Sub_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>collFamilyRecsForAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>collFamilyString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collIncomingFamilies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>collNewAssociationRec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Sub_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>recAssocDel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Sub_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>recAssociationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Promotion_Sub_Family_Association__c</objectType>
    </variables>
    <variables>
        <name>recFamilyRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Family_Map__c</objectType>
    </variables>
    <variables>
        <name>varDelCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varFamilyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFamilyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
