Sale_Pass_Rep_create_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn_Count_Collection</name>
        <label>asgn Count Collection</label>
        <locationX>841</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>collPassCounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSalesRepPassCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Pass_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Count_Collection_0</name>
        <label>asgn Count Collection</label>
        <locationX>575</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>collPassCounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSalesRepPassCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Pass_Counts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Pass_Count_Rec</name>
        <label>asgn Pass Count Rec</label>
        <locationX>964</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Pass_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pass_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Count_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asgn_Pass_Count_Rec</name>
        <label>Copy 1 of asgn Pass Count Rec</label>
        <locationX>576</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Pass_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Count_Collection_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Pass_Counts_for_the_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pass Counts for the Type</label>
        <locationX>1195</locationX>
        <locationY>673</locationY>
        <assignNextValueToReference>currentItem_Filter_Pass_Counts_for_the_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pass_Count</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pass_Counts_for_the_Type.Pass_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_Pass_Types.Pass_Type__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>dcn_Anything_Left_after_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>dcn_Anything_Left_after_Filter</name>
        <label>dcn Anything Left after Filter</label>
        <locationX>1186</locationX>
        <locationY>868</locationY>
        <defaultConnector>
            <targetReference>asgn_Pass_Count_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass_Counts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Filter_Pass_Counts_for_the_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Pass_Types</targetReference>
            </connector>
            <label>Pass Counts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Pass_Types_Found</name>
        <label>dcn Pass Types Found</label>
        <locationX>769</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_asgn_Pass_Count_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Tracks_Pass_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Team_Pass_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pass_Count</targetReference>
            </connector>
            <label>Team Tracks Pass Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sale Pass Rep - create count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale Pass Rep - create count</label>
    <loops>
        <name>loop_Pass_Types</name>
        <label>loop Pass Types</label>
        <locationX>971</locationX>
        <locationY>681</locationY>
        <collectionReference>Get_Team_Pass_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Pass_Counts_for_the_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Pass_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Pass_Counts</name>
        <label>Insert Pass Counts</label>
        <locationX>779</locationX>
        <locationY>682</locationY>
        <inputReference>collPassCounts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Pass_Count</name>
        <label>Get Pass Count</label>
        <locationX>971</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Pass_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Pass_Rep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Rep_Pass_Count__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Pass_Type</name>
        <label>Get Team Pass Type</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcn_Pass_Types_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Team_Pass_Type</targetReference>
        </connector>
        <object>Sales_Pass_Rep__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collPassCounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Pass_Counts_for_the_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>recSalesRepPassCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
</Flow>
