Sale_Pass_Type_Create_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn_Count_Collection</name>
        <label>asgn Count Collection</label>
        <locationX>956</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>collPassCounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSalesRepPassCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pass_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Count_Collection_0</name>
        <label>asgn Count Collection</label>
        <locationX>448</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>collPassCounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSalesRepPassCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Pass_Counts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Pass_Count_Rec</name>
        <label>asgn Pass Count Rec</label>
        <locationX>1151</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pass_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pass_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Count_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_asgn_Pass_Count_Rec</name>
        <label>Copy 1 of asgn Pass Count Rec</label>
        <locationX>447</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Pass_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__r.Month_End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Count_Collection_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Pass_Counts_for_the_User</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Pass Counts for the User</label>
        <locationX>1149</locationX>
        <locationY>683</locationY>
        <assignNextValueToReference>currentItem_Filter_Pass_Counts_for_the_User_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pass_Count</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Pass_Counts_for_the_User_0.Sales_Pass_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Pass_Users.Pass_Type__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>dcn_Anything_Left_After_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>dcn_Anything_Left_After_Filter</name>
        <label>dcn Anything Left After Filter</label>
        <locationX>1141</locationX>
        <locationY>857</locationY>
        <defaultConnector>
            <targetReference>asgn_Pass_Count_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass_Counts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Filter_Pass_Counts_for_the_User_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Pass_Users</targetReference>
            </connector>
            <label>Pass Counts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Pass_Types_Found</name>
        <label>dcn Sales Rep Found</label>
        <locationX>684</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_asgn_Pass_Count_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Tracks_Sales_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Pass_Rep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pass_Count</targetReference>
            </connector>
            <label>Team Tracks Sales Rep</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sale Pass Type - Create Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sale Pass Type - Create Count</label>
    <loops>
        <name>Loop_Pass_Users</name>
        <label>Loop Pass Users</label>
        <locationX>973</locationX>
        <locationY>683</locationY>
        <collectionReference>Get_Sales_Pass_Rep</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Pass_Counts_for_the_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Pass_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Pass_Counts</name>
        <label>Insert Pass Counts</label>
        <locationX>689</locationX>
        <locationY>736</locationY>
        <inputReference>collPassCounts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Pass_Count</name>
        <label>Get Pass Count</label>
        <locationX>973</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pass_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Pass_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Rep_Pass_Count__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Pass_Rep</name>
        <label>Get Sales Pass Rep</label>
        <locationX>691</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcn_Pass_Types_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Pass_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>563</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Sales_Pass_Rep</targetReference>
        </connector>
        <object>Sales_Pass_Type__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collPassCounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Pass_Counts_for_the_User_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>recSalesRepPassCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
</Flow>
