Sales_Team_Reset_Pass_Counts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>1132</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>collSalesRepPassCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSalesRepPassCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Sales_Pass_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_collection_0</name>
        <label>add to collection</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>collSalesRepPassCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSalesRepPassCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Team_Reps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Rep_Coll</name>
        <label>asgn Rep Coll</label>
        <locationX>475</locationX>
        <locationY>1363</locationY>
        <assignmentItems>
            <assignToReference>collTeamREps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Pass_Reps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Team_Reps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Rep_Coll_0</name>
        <label>asgn Rep Coll</label>
        <locationX>856</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>collTeamREps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Pass_Reps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Reps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Teams_Collection</name>
        <label>asgn Teams Collection</label>
        <locationX>455</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>collSalesTeams</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asign_rec</name>
        <label>asign rec</label>
        <locationX>1183</locationX>
        <locationY>934</locationY>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Sales_Pass_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Reps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Teams.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Pass_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Teams.Month_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Teams.Month_End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asign_rec_0</name>
        <label>asign rec</label>
        <locationX>74</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Team_Reps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Sales_Pass_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Teams.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Pass_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Teams.Month_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesRepPassCount.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Teams.Month_End__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Month_in_Team</name>
        <label>Update Month in Team</label>
        <locationX>625</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>loop_Teams.Month_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcMonthStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_Teams.Month_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcMonthEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Pass_Reps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>get_non_types</name>
        <label>get non types</label>
        <locationX>619</locationX>
        <locationY>1215</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Pass_by_Type_Rep_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>get_them</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Pass_Types</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Passe_NO_TYPE_Rep_Count</targetReference>
            </connector>
            <label>get them</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_1st</name>
        <label>Is it the 1st?</label>
        <locationX>447</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_s_the_1st_of_the_month</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>calcDayOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDebug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Team</targetReference>
            </connector>
            <label>It&apos;s the 1st of the month</label>
        </rules>
    </decisions>
    <description>Monthly reset for Sales Pass Admin, Sales Pass Team, Sales Pass Count, Sales Pass Rep</description>
    <environments>Default</environments>
    <formulas>
        <name>calcDayOfMonth</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcMonthEnd</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH(TODAY()) = 12, DATE(YEAR(TODAY()), 12, 31 ), DATE(YEAR(TODAY()), MONTH (TODAY()) + 1, 1)-1)</expression>
    </formulas>
    <formulas>
        <name>calcMonthStart</name>
        <dataType>Date</dataType>
        <expression> DATE(YEAR(TODAY()), MONTH (TODAY()),1)</expression>
    </formulas>
    <interviewLabel>Monthly reset for Sales Pass Admin, Sales Pass Team, Sales Pass Count, Sales Pass Rep {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Team - Reset Pass Counts</label>
    <loops>
        <name>loop_Reps</name>
        <label>loop Reps</label>
        <locationX>786</locationX>
        <locationY>727</locationY>
        <collectionReference>collTeamREps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_Sales_Pass_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Sales_Pass_Types</name>
        <label>loop Sales Pass Types</label>
        <locationX>1023</locationX>
        <locationY>937</locationY>
        <collectionReference>Get_Sales_Pass_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asign_rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Reps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Team_Reps</name>
        <label>loop Team Reps</label>
        <locationX>284</locationX>
        <locationY>1353</locationY>
        <collectionReference>collTeamREps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asign_rec_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Teams</name>
        <label>loop Teams</label>
        <locationX>457</locationX>
        <locationY>720</locationY>
        <collectionReference>collSalesTeams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Month_in_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_count_recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_count_recs</name>
        <label>create count recs</label>
        <locationX>251</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>Update_Sales_Teams</targetReference>
        </connector>
        <inputReference>collSalesRepPassCount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Pass_by_Type_Rep_Count</name>
        <label>Get Sales Pass by Type Rep Count</label>
        <locationX>892</locationX>
        <locationY>1129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Rep_Coll_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Sales_Pass_Types.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Rep_Pass_Count__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Pass_Reps</name>
        <label>Get Sales Pass Reps</label>
        <locationX>628</locationX>
        <locationY>948</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Pass_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Teams.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Pass_Types</name>
        <label>Get Sales Pass Types</label>
        <locationX>627</locationX>
        <locationY>1081</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_non_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Teams.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Passe_NO_TYPE_Rep_Count</name>
        <label>Get Sales Passe NO TYPE Rep Count</label>
        <locationX>627</locationX>
        <locationY>1365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Rep_Coll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Teams.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Rep_Pass_Count__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Team</name>
        <label>Get Sales Team</label>
        <locationX>457</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Teams_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>reset the month</description>
        <name>Update_Sales_Teams</name>
        <label>Update Sales Teams</label>
        <locationX>119</locationX>
        <locationY>723</locationY>
        <inputAssignments>
            <field>Month_End__c</field>
            <value>
                <elementReference>calcMonthEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Month_Start__c</field>
            <value>
                <elementReference>calcMonthStart</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Pass_Team__c</object>
    </recordUpdates>
    <start>
        <locationX>329</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_it_the_1st</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-01</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collSalesRepPassCount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>collSalesTeams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Team__c</objectType>
    </variables>
    <variables>
        <name>collTeamREps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_out_existing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>recSalesRepPassCount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>varDebug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
