Sales_Pass_get_assignee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead_Acct_and_Contact</name>
        <label>Convert Lead - Acct and Contact</label>
        <locationX>1552</locationX>
        <locationY>2310</locationY>
        <actionName>SalesPassAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgn</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recAccountIn.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>recContactIn.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Sales Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLeadRec_In.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteLeadSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesPassAutoConvertLead</nameSegment>
        <outputParameters>
            <assignToReference>varNewAccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewOpptyId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_New_Acct_and_Contact</name>
        <label>Convert Lead - New Acct and Contact</label>
        <locationX>1826</locationX>
        <locationY>2303</locationY>
        <actionName>SalesPassAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_User_to_Account_Team</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Sales Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLeadRec_In.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteLeadSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesPassAutoConvertLead</nameSegment>
        <outputParameters>
            <assignToReference>varNewAccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewOpptyId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_New_Contact</name>
        <label>Convert Lead - New Contact</label>
        <locationX>1689</locationX>
        <locationY>2309</locationY>
        <actionName>SalesPassAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgn</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recAccountIn.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Sales Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLeadRec_In.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteLeadSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesPassAutoConvertLead</nameSegment>
        <outputParameters>
            <assignToReference>varNewAccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewOpptyId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_New_Contact_No_Opp</name>
        <label>Convert Lead - New Contact - No Opp</label>
        <locationX>1121</locationX>
        <locationY>2324</locationY>
        <actionName>SalesPassAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Go_to_My_Leads</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recAccountIn.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Sales Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLeadRec_In.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteLeadSource</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesPassAutoConvertLead</nameSegment>
        <outputParameters>
            <assignToReference>varNewAccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewContactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewOpptyId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Go_to_My_Leads</name>
        <label>Go to My Leads</label>
        <locationX>1056</locationX>
        <locationY>2428</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>list</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationActionFilter</name>
            <value>
                <stringValue>My_Open_Leads</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>object</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_New_Opp</name>
        <label>Go to New Opp</label>
        <locationX>2007</locationX>
        <locationY>2945</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varNewOpptyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>asgn</name>
        <label>asng Oppty Id</label>
        <locationX>1626</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>varNewOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewOpptyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Opp_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Assignable</name>
        <label>ASGN Assignable</label>
        <locationX>5027</locationX>
        <locationY>2708</locationY>
        <assignmentItems>
            <assignToReference>collSuggestedAssignees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Assignable_0</name>
        <label>ASGN Assignable</label>
        <locationX>5768</locationX>
        <locationY>3316</locationY>
        <assignmentItems>
            <assignToReference>collSuggestedAssignees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RRAssignees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var1stRepSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RRAssignees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Collections</name>
        <label>ASGN Collections</label>
        <locationX>4064</locationX>
        <locationY>3131</locationY>
        <assignmentItems>
            <assignToReference>collAsgnUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Rep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collPassCounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Rep_Pass_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalPassed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pass_Types.Total_Passed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCN_Weighted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Collections_0</name>
        <label>ASGN Collections</label>
        <locationX>4454</locationX>
        <locationY>2922</locationY>
        <assignmentItems>
            <assignToReference>collAsgnUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Rep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collPassCounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Rep_Pass_Count_No_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalPassed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Team_by_Id.Total_Passed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCN_Weighted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Controls</name>
        <label>ASGN Controls</label>
        <locationX>4879</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>varCurrPassValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcColumnH</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASGN_Max_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Controls_0</name>
        <label>ASGN Controls</label>
        <locationX>5188</locationX>
        <locationY>2957</locationY>
        <assignmentItems>
            <assignToReference>varCurrPassValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcColumnH_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASGN_Max_Value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Max_Value</name>
        <label>ASGN Max Value</label>
        <locationX>5075</locationX>
        <locationY>2321</locationY>
        <assignmentItems>
            <assignToReference>varMaxPassValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcAssignValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asgn_Loop_2_Control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Max_Value_0</name>
        <label>ASGN Max Value</label>
        <locationX>5051</locationX>
        <locationY>2996</locationY>
        <assignmentItems>
            <assignToReference>varMaxPassValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcAssignValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DCN_Assignable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Max_Value_for_Loop2</name>
        <label>asgn Max Value for Loop2</label>
        <locationX>5141</locationX>
        <locationY>2547</locationY>
        <assignmentItems>
            <assignToReference>varLoop2MaxValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMaxPassValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Assignees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_New_User_Rec</name>
        <label>asgn New User Rec</label>
        <locationX>542</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>recSelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcn_Check_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Non_Assignable</name>
        <label>ASGN Non-Assignable</label>
        <locationX>5248</locationX>
        <locationY>2818</locationY>
        <assignmentItems>
            <assignToReference>collOtherAssignees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Non_Assignable_0</name>
        <label>ASGN Non-Assignable</label>
        <locationX>5959</locationX>
        <locationY>3330</locationY>
        <assignmentItems>
            <assignToReference>collOtherAssignees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_RRAssignees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_RRAssignees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Opp_Details</name>
        <label>asgn Opp Details</label>
        <locationX>479</locationX>
        <locationY>1891</locationY>
        <assignmentItems>
            <assignToReference>recAccountIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Opp_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContactIn</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Opp_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_Confirmation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Other_Assignee</name>
        <label>ASGN Other Assignee</label>
        <locationX>4377</locationX>
        <locationY>1926</locationY>
        <assignmentItems>
            <assignToReference>recSelectedPassAssignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOtherPassAssignee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesPassRepOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOtherPassAssignee.Sales_Pass_Rep__r.Sales_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesPassOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOtherPassAssignee.User__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asgn_Owner_Lookup</name>
        <label>asgn Owner Lookup</label>
        <locationX>4461</locationX>
        <locationY>1549</locationY>
        <assignmentItems>
            <assignToReference>varSalesPassRepOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkupAnotherUser.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesPassOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkupAnotherUser.recordName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asgn_ROE_Flag</name>
        <label>asgn ROE Flag</label>
        <locationX>1339</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>varROE</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Teams</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Sales_Team_Rec</name>
        <label>ASGN Sales Team Rec</label>
        <locationX>881</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>recSalesTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Team_by_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalPassed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Team_by_Name.Total_Passed__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASGN_Sales_Team_Rec_by_Id</name>
        <label>ASGN Sales Team Rec by Id</label>
        <locationX>1073</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>recSalesTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Team_by_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalPassed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSalesTeam.Total_Passed__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>asgn_Sales_Teams_Collection</name>
        <label>asgn Sales Teams Collection</label>
        <locationX>878</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>collSalesTeams</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Teams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Sales_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_SalesRep_Id</name>
        <label>asgn SalesRep Id</label>
        <locationX>878</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>varSalesPassRepOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSelectedUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dcn_Scrub_Selections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgn_Selected_User_Rec</name>
        <label>asgn Selected User Rec</label>
        <locationX>212</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>recSelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_Confirmation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Suggested_Assignee</name>
        <label>ASGN Suggested Assignee</label>
        <locationX>4743</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>recSelectedPassAssignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSelectedPassAssignee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesPassRepOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSelectedPassAssignee.Sales_Pass_Rep__r.Sales_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSalesPassOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recSelectedPassAssignee.User__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>chAssignLead</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px; color: rgb(250, 0, 0);&quot;&gt;NO OPP&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: Assign Lead to Selected Rep&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AssignLead</stringValue>
        </value>
    </choices>
    <choices>
        <name>chCancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>chConvertToContact</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;NO OPP&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  Convert Lead into Existing Account&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ConvertToContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>chConvertToNewContact</name>
        <choiceText>&lt;strong style=&quot;color: rgb(253, 1, 1); font-size: 14px;&quot;&gt;NO OPP&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; - Convert Lead to Account Contact&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>chNewOpp</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px; color: rgb(2, 182, 101);&quot;&gt;NEW OPP&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  Create New Opp for Selected Rep&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewOpp</stringValue>
        </value>
    </choices>
    <choices>
        <name>chNothing</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;RETURN&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: Do Nothing - Return to Lead List&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nothing</stringValue>
        </value>
    </choices>
    <choices>
        <name>chReturn</name>
        <choiceText>Return</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>chSelectTeams</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;RETURN&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: Select Another Team&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SelectTeam</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Sort_Assignees</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Assignees</label>
        <locationX>4731</locationX>
        <locationY>3282</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>collPassCounts</collectionReference>
        <connector>
            <targetReference>loop_RRAssignees</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>LastViewedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>asgn_Loop_2_Control</name>
        <label>asgn Loop 2 Control</label>
        <locationX>5068</locationX>
        <locationY>2457</locationY>
        <defaultConnector>
            <targetReference>loop_Assignees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assign_current_max_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMaxPassValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgn_Max_Value_for_Loop2</targetReference>
            </connector>
            <label>assign current max value</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASGN_Next_Rep</name>
        <label>ASGN Next Rep</label>
        <locationX>5859</locationX>
        <locationY>3498</locationY>
        <defaultConnector>
            <targetReference>ASGN_Assignable_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Rep_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var1stRepSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASGN_Non_Assignable_0</targetReference>
            </connector>
            <label>Next Rep found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ownership</name>
        <label>Check Ownership</label>
        <locationX>1234</locationX>
        <locationY>1996</locationY>
        <defaultConnector>
            <targetReference>Which_Conversion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Update Not Needed</defaultConnectorLabel>
        <rules>
            <name>Ownership_Update</name>
            <conditionLogic>5 AND (1 OR (2 OR 3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>recAccountIn.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recSelectedUser.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAccountIn.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAccountIn.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAccountIn.Customer_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAccountIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acc_Owner_Opp_Owner</targetReference>
            </connector>
            <label>Ownership Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Add_User_to_Account_Team</name>
        <label>dcn Add User to Account Team</label>
        <locationX>680</locationX>
        <locationY>2008</locationY>
        <defaultConnector>
            <targetReference>dcn_Conversion_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_not_on_Account_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Account_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Account_Team</targetReference>
            </connector>
            <label>User not on Account Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Add_User_to_Opp_Team</name>
        <label>dcn Add User to Opp Team</label>
        <locationX>1196</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Opp_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_not_on_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Opp_Team</targetReference>
            </connector>
            <label>User not on Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Add_User_to_Team</name>
        <label>dcn Add User to Team</label>
        <locationX>881</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>dcn_Conversion_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAccountIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dcn_Add_User_to_Account_Team</targetReference>
            </connector>
            <label>Existing Account</label>
        </rules>
        <rules>
            <name>Select_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Next_Action1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chSelectTeams</elementReference>
                </rightValue>
            </conditions>
            <label>Select Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCN_Assignable</name>
        <label>DCN Assignable</label>
        <locationX>5045</locationX>
        <locationY>2868</locationY>
        <defaultConnector>
            <targetReference>ASGN_Non_Assignable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calcColumnH_2</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varLoop2MaxValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASGN_Assignable</targetReference>
            </connector>
            <label>Assignable</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Cancel_or_Return</name>
        <label>dcn Cancel or Return</label>
        <locationX>4738</locationX>
        <locationY>1968</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_or_Return</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chReturn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Sales_Reps</targetReference>
            </connector>
            <label>Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Check_Account_Owner</name>
        <label>dcn Check Account Owner</label>
        <locationX>664</locationX>
        <locationY>1220</locationY>
        <defaultConnector>
            <targetReference>asgn_SalesRep_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Owner_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSelectedUser.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_Inactive</targetReference>
            </connector>
            <label>Account Owner Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Conversion_Choice</name>
        <label>dcn Conversion Choice</label>
        <locationX>885</locationX>
        <locationY>2004</locationY>
        <defaultConnector>
            <targetReference>Go_to_My_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Next_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNewOpp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Next_Action_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNewOpp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Ownership</targetReference>
            </connector>
            <label>Check Account Owner</label>
        </rules>
        <rules>
            <name>Assign_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Next_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chAssignLead</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Next_Action_NoOpp_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chAssignLead</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Next_Action_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chAssignLead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Assign Lead</label>
        </rules>
        <rules>
            <name>Do_Nothing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Next_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNothing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Next_Action_NoOpp_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNothing</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Next_Action_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chNothing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nothing_0</targetReference>
            </connector>
            <label>Do Nothing</label>
        </rules>
        <rules>
            <name>Convert_Lead_to_new_Account_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Next_Action_NoOpp_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chConvertToNewContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Next_Action_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chConvertToNewContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_New_Contact_No_Opp</targetReference>
            </connector>
            <label>Convert Lead to new Account Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Launched_from_Opp</name>
        <label>dcn Launched from Opp</label>
        <locationX>526</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>ROE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Teams</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Next_Action1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chSelectTeams</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>calcRecordIdCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Teams</targetReference>
            </connector>
            <label>Show Teams</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Meeting_Scheduled</name>
        <label>dcn Meeting Scheduled</label>
        <locationX>1831</locationX>
        <locationY>2952</locationY>
        <defaultConnector>
            <targetReference>Go_to_New_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Date_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggMeetingSet.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meeting_Activity</targetReference>
            </connector>
            <label>Meeting Date populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Need_Teams</name>
        <label>dcn Need Teams</label>
        <locationX>3074</locationX>
        <locationY>1798</locationY>
        <defaultConnector>
            <targetReference>Selected_Sales_Reps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Region_Teams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collSalesTeams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Teams</targetReference>
            </connector>
            <label>Get Region Teams</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_New_Owner_Selected</name>
        <label>dcn New Owner Selected</label>
        <locationX>456</locationX>
        <locationY>1371</locationY>
        <defaultConnector>
            <targetReference>dcn_Check_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different_Rep_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Rep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSalesPassRepOwner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_User</targetReference>
            </connector>
            <label>Different Rep selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Pass_Type</name>
        <label>dcn Pass Type?</label>
        <locationX>4194</locationX>
        <locationY>2811</locationY>
        <defaultConnector>
            <targetReference>Get_Pass_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Pass_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPassType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recSalesTeam.Count_of_Pass_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Rep_Pass_Count_No_Type</targetReference>
            </connector>
            <label>No Pass Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcn_Scrub_Selections</name>
        <label>dcn Scrub Selections</label>
        <locationX>870</locationX>
        <locationY>1444</locationY>
        <defaultConnector>
            <targetReference>dcn_Add_User_to_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Re_assign_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calcRecordIdCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Team</targetReference>
            </connector>
            <label>Re-assign Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCN_Show_Vars</name>
        <label>DCN Show Vars</label>
        <locationX>4860</locationX>
        <locationY>2452</locationY>
        <defaultConnector>
            <targetReference>ASGN_Controls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Them</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShowVariables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showcontrols_0</targetReference>
            </connector>
            <label>Show Them</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCN_Show_Vars_0</name>
        <label>DCN Show Vars</label>
        <locationX>5423</locationX>
        <locationY>2992</locationY>
        <defaultConnector>
            <targetReference>ASGN_Controls_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Them_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShowVariables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showcontrols_0_0</targetReference>
            </connector>
            <label>Show Them</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCN_Weighted</name>
        <label>DCN Weighted</label>
        <locationX>4596</locationX>
        <locationY>3074</locationY>
        <defaultConnector>
            <targetReference>Sort_Assignees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uses_Quotas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSalesTeam.Weight_By_Quota__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Assignees</targetReference>
            </connector>
            <label>Uses Quotas?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DCN_Which_One</name>
        <label>DCN Which One</label>
        <locationX>4562</locationX>
        <locationY>1750</locationY>
        <defaultConnector>
            <targetReference>nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Someone_Else_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lkupAnotherUser.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asgn_Owner_Lookup</targetReference>
            </connector>
            <label>Someone Else Selected</label>
        </rules>
        <rules>
            <name>Too_Many_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calcTotalSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Sales_Reps</targetReference>
            </connector>
            <label>Too Many Selected</label>
        </rules>
        <rules>
            <name>Suggested_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSelectedPassAssignee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASGN_Suggested_Assignee</targetReference>
            </connector>
            <label>Suggested Selected</label>
        </rules>
        <rules>
            <name>Other_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recOtherPassAssignee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASGN_Other_Assignee</targetReference>
            </connector>
            <label>Other Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Launched_from_Opp</name>
        <label>Launched from Opp</label>
        <locationX>252</locationX>
        <locationY>1216</locationY>
        <defaultConnector>
            <targetReference>Pass_Confirmation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Launched_from_Opp2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaunchedfromOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Opp</targetReference>
            </connector>
            <label>Launched from Opp</label>
        </rules>
        <rules>
            <name>Owner_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesPassRepOwner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Owner</targetReference>
            </connector>
            <label>Owner Identified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Opp_Type</name>
        <label>Reset Opp Type</label>
        <locationX>1618</locationX>
        <locationY>2797</locationY>
        <defaultConnector>
            <targetReference>Add_User_to_Opp_Team_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Opp_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Opp_Rec.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Select_Opportunity_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Rec_Type</targetReference>
            </connector>
            <label>Set Opp Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>ROE</name>
        <label>ROE?</label>
        <locationX>967</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Get_Sales_Team_by_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ROE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varROE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, ROE</label>
        </rules>
        <rules>
            <name>Sales_Team_Id_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recSalesTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Team_by_Id</targetReference>
            </connector>
            <label>Sales Team Id Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account</name>
        <label>Update Account?</label>
        <locationX>1676</locationX>
        <locationY>1921</locationY>
        <defaultConnector>
            <targetReference>Which_Conversion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Account_Owner_with_Selected_Rep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Conversion</name>
        <label>Which Conversion</label>
        <locationX>1679</locationX>
        <locationY>2105</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Account_and_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAccountIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContactIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_New_Acct_and_Contact</targetReference>
            </connector>
            <label>New Account and New Contact</label>
        </rules>
        <rules>
            <name>Existing_Account_and_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recContactIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recAccountIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_New_Contact</targetReference>
            </connector>
            <label>Existing Account and New Contact</label>
        </rules>
        <rules>
            <name>Existing_Account_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recAccountIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recContactIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_Acct_and_Contact</targetReference>
            </connector>
            <label>Existing Account and Contact</label>
        </rules>
    </decisions>
    <description>08May23 - CC(SDA) - assign user from new selection
07May23 - CC(SDA) - final adjustment to use Pass sheet prior to completing pass
05May23 - CC(SDA) - do not select reps (for APAC launch) - cannot use until all sales reps onboard Org2
03May23 - CC(SDA) - exclude inactive Opp Rec Types from picklist
6/7 demo feedback</description>
    <dynamicChoiceSets>
        <name>plOppRecTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plSalesTeamReps</name>
        <dataType>String</dataType>
        <displayField>Rep_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rep_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sales_Pass_Rep__c</object>
        <outputAssignments>
            <assignToReference>Which_Team_did_you_Pass_to</assignToReference>
            <field>Sales_Pass_Team__c</field>
        </outputAssignments>
        <valueField>Sales_User__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>plSalesTeams</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sales_Pass_Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>calcAccountRecType</name>
        <dataType>String</dataType>
        <expression>IF({!varLeadRec_In.Is_Agency_CHAMP__c},&quot;Agency&quot;,&quot;Brand&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcAssigneeId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!varSalesPassRepOwner})),{!varSalesPassRepOwner},IF(NOT(ISNULL({!recAccountIn.OwnerId})),{!recAccountIn.OwnerId},{!varAccountOwner_In}))</expression>
    </formulas>
    <formulas>
        <name>calcAssignValue</name>
        <dataType>Number</dataType>
        <expression>IF({!varMaxPassValue}&gt;{!varCurrPassValue},{!varMaxPassValue},{!varCurrPassValue})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcColumnH</name>
        <dataType>Number</dataType>
        <expression>((IF(ISBLANK({!loop_Assignees.Sales_Pass_Rep__r.Quota__c}),0,{!loop_Assignees.Sales_Pass_Rep__r.Quota__c}) / {!loop_Assignees.Sales_Pass_Rep__r.Sales_Pass_Team__r.Total_Quota__c}) * {!varTotalPassed}) - {!loop_Assignees.Pass_Count__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcColumnH_2</name>
        <dataType>Number</dataType>
        <expression>(({!loop_2.Sales_Pass_Rep__r.Quota__c} / {!loop_2.Sales_Pass_Rep__r.Sales_Pass_Team__r.Total_Quota__c}) *{!varTotalPassed}) - {!loop_2.Pass_Count__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calcHaveAccount</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!recAccountIn.Id}))</expression>
    </formulas>
    <formulas>
        <name>calcMeetingTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(  LEFT(TEXT( {!$Flow.CurrentDateTime}+(30/1440) ),14)  +  CASE( ROUND(VALUE(MID(TEXT( {!$Flow.CurrentDateTime}+(30/1440)),15,2))/30,0),   1, &apos;30&apos;, &apos;00&apos;)  + &apos;:00Z&apos; ) + IF( ROUND(VALUE(MID(TEXT( {!$Flow.CurrentDateTime} +(30/1440)),15,2))/30,0) = 4, 1/24, 0)</expression>
    </formulas>
    <formulas>
        <name>calcPassType</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!toggMeetingSet.value}),&quot;Soft Pass&quot;,
IF(CONTAINS(TEXT({!varLeadRec_In.Qualified_Plan__c}),&quot;Scale&quot;),
IF(AND(NOT({!varLeadRec_In.Price_Qualified__c}),CONTAINS({!varPassType},&quot;Fast&quot;)),&quot;Fast Pass&quot;,
IF(AND({!varLeadRec_In.Price_Qualified__c},NOT(CONTAINS({!varPassType},&quot;Fast&quot;))),&quot;Soft Pass&quot;,{!varPassType}
)
),{!varPassType}
)
)</expression>
    </formulas>
    <formulas>
        <name>calcRecordIdCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!recordId})</expression>
    </formulas>
    <formulas>
        <name>calcTotalSelected</name>
        <dataType>Number</dataType>
        <expression>{!varNumberSuggestedSelected} + {!varNumberOtherAssigneeSelected}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcUpdatedCount</name>
        <dataType>Number</dataType>
        <expression>{!recSelectedPassAssignee.Pass_Count__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LaunchedfromOpp</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!recordId},3) = &quot;006&quot;</expression>
    </formulas>
    <interviewLabel>Sales Pass - get assignee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Pass - get assignee</label>
    <loops>
        <name>loop_2</name>
        <label>loop 2</label>
        <locationX>5314</locationX>
        <locationY>2629</locationY>
        <collectionReference>collPassCounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DCN_Show_Vars_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_Sales_Reps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Assignees</name>
        <label>loop Assignees</label>
        <locationX>4870</locationX>
        <locationY>2610</locationY>
        <collectionReference>collPassCounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DCN_Show_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_RRAssignees</name>
        <label>loop RRAssignees</label>
        <locationX>5856</locationX>
        <locationY>3190</locationY>
        <collectionReference>collPassCounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASGN_Next_Rep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selected_Sales_Reps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_User_to_Account_Team</name>
        <label>Add User to Account Team</label>
        <locationX>1991</locationX>
        <locationY>2304</locationY>
        <connector>
            <targetReference>Get_Account_Record_Type_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varNewAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>SDR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_User_to_Account_Team_0</name>
        <label>Add User to Account Team</label>
        <locationX>842</locationX>
        <locationY>2184</locationY>
        <connector>
            <targetReference>dcn_Conversion_Choice</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recAccountIn.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>SDR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_User_to_Opp_Team</name>
        <label>Add User to Opp Team</label>
        <locationX>1227</locationX>
        <locationY>1675</locationY>
        <connector>
            <targetReference>Update_Existing_Opp_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>SDR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_User_to_Opp_Team_0</name>
        <label>Add User to Opp Team</label>
        <locationX>1692</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>dcn_Meeting_Scheduled</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varNewOpptyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>SDR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Meeting_Activity</name>
        <label>Create Meeting Activity</label>
        <locationX>1909</locationX>
        <locationY>3121</locationY>
        <connector>
            <targetReference>Go_to_New_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>Meeting_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Discovery Call - Hot Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Discovery Call - Hot Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varNewOpptyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varNewContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_Type_Id</name>
        <label>Get Account Record Type Id</label>
        <locationX>1990</locationX>
        <locationY>2495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>calcAccountRecType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Account_Team</name>
        <label>Get Existing Account Team</label>
        <locationX>688</locationX>
        <locationY>2184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User_to_Account_Team_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recAccountIn.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opp</name>
        <label>Get Existing Opp</label>
        <locationX>62</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Opp_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opp_Account</name>
        <label>Get Existing Opp Account</label>
        <locationX>61</locationX>
        <locationY>1562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Opp_Primary_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Opp.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opp_Contact</name>
        <label>Get Existing Opp Contact</label>
        <locationX>53</locationX>
        <locationY>1890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Opp_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Opp_Primary_Contact_Role.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opp_Primary_Contact_Role</name>
        <label>Get Existing Opp Primary Contact Role</label>
        <locationX>50</locationX>
        <locationY>1717</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Opp_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Opp_Rec</name>
        <label>Get New Opp Rec</label>
        <locationX>1625</locationX>
        <locationY>2647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Opp_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpptyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_User</name>
        <label>Get New User</label>
        <locationX>433</locationX>
        <locationY>1231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_New_User_Rec</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Which_Rep</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Team</name>
        <label>Get Opp Team</label>
        <locationX>1057</locationX>
        <locationY>1437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcn_Add_User_to_Opp_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pass_Types</name>
        <label>Get Pass Types</label>
        <locationX>4065</locationX>
        <locationY>2825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Rep_Pass_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pass_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPassType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Pass_Type__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Rep</name>
        <label>Get Sales Rep</label>
        <locationX>4202</locationX>
        <locationY>2681</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcn_Pass_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Rep__c</object>
        <sortField>Quota__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Rep_Pass_Count</name>
        <label>Get Sales Rep Pass Count</label>
        <locationX>4066</locationX>
        <locationY>2965</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASGN_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pass_Types.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Month_Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_End__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Month_End__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Rep_Pass_Count__c</object>
        <sortField>Sales_Rep_Quota__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Rep_Pass_Count_No_Type</name>
        <label>Get Sales Rep Pass Count - No Type</label>
        <locationX>4358</locationX>
        <locationY>2815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASGN_Collections_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Pass_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Start__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Month_Start__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_End__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Month_End__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Rep_Pass_Count__c</object>
        <sortField>Sales_Rep_Quota__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Team_by_Id</name>
        <label>Get Sales Team by Id</label>
        <locationX>1071</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASGN_Sales_Team_Rec_by_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSalesTeam.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Pass_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Team_by_Name</name>
        <label>Get Sales Team by Name</label>
        <locationX>885</locationX>
        <locationY>592</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASGN_Sales_Team_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTeamName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Pass_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Teams</name>
        <label>Get Sales Teams</label>
        <locationX>878</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Sales_Teams_Collection</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Owner</name>
        <label>Get Selected Owner</label>
        <locationX>212</locationX>
        <locationY>1484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgn_Selected_User_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account2</name>
        <label>Update Account</label>
        <locationX>1859</locationX>
        <locationY>2005</locationY>
        <connector>
            <targetReference>Which_Conversion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recAccountIn.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Record_Type</name>
        <label>Update Account Record Type</label>
        <locationX>1825</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>asgn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Account_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Opp_Owner</name>
        <label>Update Existing Opp Owner</label>
        <locationX>1058</locationX>
        <locationY>1675</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSalesPassRepOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1040</locationX>
        <locationY>2148</locationY>
        <connector>
            <targetReference>Go_to_My_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadRec_In.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>calcAssigneeId</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Rec_Type</name>
        <label>Update Opp Rec Type</label>
        <locationX>1547</locationX>
        <locationY>3004</locationY>
        <connector>
            <targetReference>Add_User_to_Opp_Team_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewOpptyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Select_Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Rep_Pass_Count</name>
        <label>Update Selected Rep Pass Count</label>
        <locationX>1629</locationX>
        <locationY>3370</locationY>
        <connector>
            <targetReference>dcn_Meeting_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recSelectedPassAssignee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pass_Count__c</field>
            <value>
                <elementReference>calcUpdatedCount</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Rep_Pass_Count__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Acc_Owner_Opp_Owner</name>
        <label>Acc Owner &lt;&gt; Opp Owner</label>
        <locationX>1389</locationX>
        <locationY>1919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;OWNERSHIP:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Selected Rep :&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!recSelectedUser.FirstName}{!recSelectedUser.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account Owner: &lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!recAccountIn.Owner.FirstName} {!recAccountIn.Owner.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispAccountInactive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(10, 142, 218); background-color: rgb(255, 255, 255);&quot;&gt;Account is Inactive&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!recAccountIn.Customer_Type__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recAccountIn.Customer_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Former Customer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recAccountIn.Customer_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fraud Cancelled</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recAccountIn.Customer_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fraud Pending</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dispOwnerInactive</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(39, 120, 150);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(10, 142, 218);&quot;&gt;Account owner is Inactive&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recAccountIn.Owner.IsActive</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Account_Owner_with_Selected_Rep</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Account Owner with Selected Rep?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>nothing</name>
        <label>nothing</label>
        <locationX>4549</locationX>
        <locationY>1941</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcn_Cancel_or_Return</targetReference>
        </connector>
        <fields>
            <name>showDidnt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;NO SELECTION!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel_or_Return</name>
            <choiceReferences>chCancel</choiceReferences>
            <choiceReferences>chReturn</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>chCancel</defaultSelectedChoiceReference>
            <fieldText>Do you want to cancel?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>nothing_0</name>
        <label>nothing</label>
        <locationX>894</locationX>
        <locationY>2425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Go_to_My_Leads</targetReference>
        </connector>
        <fields>
            <name>showDidnt_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;ASSIGNMENT CANCELED!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pass_Confirmation</name>
        <label>Pass Confirmation (WHEN USING REP SELECTION)</label>
        <locationX>729</locationX>
        <locationY>1634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcn_Add_User_to_Team</targetReference>
        </connector>
        <fields>
            <name>Pass_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pass_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispLeadDetails</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varLeadDetails_In}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pass_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispPassDetails</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 14px; color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!varPassDetails_In}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>showAssignMessage</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;strong&gt;SCRUB RESULT:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!varAssignMessage_In}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pass_Confirmation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pass_Confirmation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispAccountDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;ACCOUNT FOUND:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varAccountDetails_In}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recAccountIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showNoAcctSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CREATE ACCOUNT ON CONVERSION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recAccountIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varOppConvert</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pass_Confirmation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispContactDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CONTACT FOUND:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varContactDetails_In}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recContactIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showNoContactSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CREATE CONTACT ON CONVERSION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recContactIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varOppConvert</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>showTeam</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;SALES TEAM: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!recSalesTeam.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recSalesTeam.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dispSelectedAssignee</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;SELECTED REP: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_New_User.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varSalesPassRepOwner</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Opportunity_Type</name>
            <choiceReferences>plOppRecTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If passing an Opp for an existing Customer, select the Opportunity Type.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Next_Action1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chNewOpp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Next_Action1</name>
            <choiceReferences>chNewOpp</choiceReferences>
            <choiceReferences>chAssignLead</choiceReferences>
            <choiceReferences>chConvertToContact</choiceReferences>
            <choiceReferences>chSelectTeams</choiceReferences>
            <choiceReferences>chNothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Next Action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varOppConvert</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Next_Action_NoOpp1</name>
            <choiceReferences>chAssignLead</choiceReferences>
            <choiceReferences>chConvertToContact</choiceReferences>
            <choiceReferences>chNothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Next Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varOppConvert</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pass_Confirmation_0</name>
        <label>Pass Confirmation</label>
        <locationX>383</locationX>
        <locationY>1547</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcn_New_Owner_Selected</targetReference>
        </connector>
        <fields>
            <name>Pass_Confirmation_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pass_Confirmation_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispLeadDetails_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varLeadDetails_In}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LaunchedfromOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pass_Confirmation_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispPassDetails_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 14px; color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!varPassDetails_In}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>LaunchedfromOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>showAssignMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;strong&gt;SCRUB RESULT:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!varAssignMessage_In}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LaunchedfromOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dispCurrentOpp</name>
            <fieldText>&lt;p&gt;{!tmplOppDetails}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LaunchedfromOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pass_Confirmation_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pass_Confirmation_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispAccountDetails_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;ACCOUNT FOUND:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varAccountDetails_In}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recAccountIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LaunchedfromOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showNoAcctSelected_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CREATE ACCOUNT ON CONVERSION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recAccountIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varOppConvert</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pass_Confirmation_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispContactDetails_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CONTACT FOUND:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varContactDetails_In}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recContactIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LaunchedfromOpp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>showNoContactSelected_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;CREATE CONTACT ON CONVERSION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recContactIn.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varOppConvert</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>showTeam_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;SUGGESTED SALES TEAM: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!recSalesTeam.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recSalesTeam.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LaunchedfromOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dispSelectedAssignee_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;IDENTIFIED REP: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!Get_Selected_Owner.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varSalesPassRepOwner</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pass_Confirmation_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pass_Confirmation_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispUpdateSheet</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Click here to open and update the &lt;/strong&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1Q6DjelT1UttHq4NDt0F4hrjSrPYiXulVJlFb-aT6XlQ/edit#gid=2018050091&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Global Pass Sheet RR&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Return here after update to complete the pass.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pass_Confirmation_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Which_Team_did_you_Pass_to</name>
                    <choiceReferences>plSalesTeams</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recSalesTeam.Id</elementReference>
                    </defaultValue>
                    <fieldText>Which Team did you select in the Pass Sheet?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Which_Rep</name>
                    <choiceReferences>plSalesTeamReps</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recSelectedUser.Id</elementReference>
                    </defaultValue>
                    <fieldText>Which Rep did you update in the Pass Sheet?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_Opportunity_Type_0</name>
            <choiceReferences>plOppRecTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If passing an Opp for an existing Customer, select the Opportunity Type.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Next_Action_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chNewOpp</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_Next_Action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>chNewOpp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Next_Action</name>
            <choiceReferences>chNewOpp</choiceReferences>
            <choiceReferences>chAssignLead</choiceReferences>
            <choiceReferences>chNothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Next Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varOppConvert</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recAccountIn.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LaunchedfromOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Next_Action_1</name>
            <choiceReferences>chNewOpp</choiceReferences>
            <choiceReferences>chAssignLead</choiceReferences>
            <choiceReferences>chConvertToContact</choiceReferences>
            <choiceReferences>chNothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Next Action:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varOppConvert</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recAccountIn.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LaunchedfromOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Next_Action_NoOpp_1</name>
            <choiceReferences>chAssignLead</choiceReferences>
            <choiceReferences>chConvertToContact</choiceReferences>
            <choiceReferences>chNothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Next Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varOppConvert</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LaunchedfromOpp</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Sales_Team</name>
        <label>Select Sales Team</label>
        <locationX>1091</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ROE</targetReference>
        </connector>
        <fields>
            <name>Select_Sales_Team_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Sales_Team_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showLeadDetailsTeamPick</name>
                    <fieldText>&lt;p&gt;{!varLeadDetails_In}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Sales_Team_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showPassDetailTeamPick</name>
                    <fieldText>&lt;p&gt;{!varPassDetails_In}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dispSalesTeamSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Sales_Pass_Team__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Sales_Pass_Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,ACQ_Team__c,Region__c,Agency__c,Brand__c,Count_of_Pass_Types__c,Employees_Brand__c,Employees_Brand_High__c,Employees_Agency__c,Employees_Agency_High__c,Month_Start__c,Month_End__c,Total_Passed__c,Total_Quota__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, ACQ_Team__c:105, Region__c:140, Agency__c:100, Brand__c:100, Count_of_Pass_Types__c:120, Employees_Brand__c:100, Employees_Brand_High__c:100, Employees_Agency__c:100, Employees_Agency_High__c:100, Month_Start__c:100, Month_End__c:100, Total_Passed__c:100, Total_Quota__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collSalesTeams</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recSalesTeam</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Sales_Reps</name>
        <label>Selected Sales Reps</label>
        <locationX>5375</locationX>
        <locationY>2154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DCN_Which_One</targetReference>
        </connector>
        <fields>
            <name>showRecIDs</name>
            <fieldText>&lt;p&gt;Account: &lt;strong&gt;{!recAccountIn.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Contact: &lt;strong&gt;{!recContactIn.FirstName} &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!recContactIn.FirstName} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varShowVariables</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>showSelectError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 210); font-size: 14px;&quot;&gt;You can only select one Assignee!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>calcTotalSelected</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Selected_Sales_Reps_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selected_Sales_Reps_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispHotTransfer</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(253, 0, 0);&quot;&gt;HOT TRANSFER!&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varLeadRec_In.Hot_Transfer__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dispLeadDetail</name>
                    <fieldText>&lt;p&gt;{!tmplLeadDetails}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>lkupAnotherUser</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Sales_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Pass_Rep__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Someone Else / After Hours Rep</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>toggMeetingSet</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting Set?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Meeting_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>calcMeetingTime</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selected_Sales_Reps_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dispSelectedTeam</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SELECTED TEAM:&lt;/strong&gt;  {!recSalesTeam.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dispSelected</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 210);&quot;&gt;REPS UP NEXT&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>showavailable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Sales_Rep_Pass_Count__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Sales_Rep_Pass_Count__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Assignees - Next Up</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:assignment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Sales_Rep__c,Pass_Count__c,Sales_Rep_Quota__c,OOO__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Sales_Rep__c:195, Pass_Count__c:195, Sales_Rep_Quota__c:195, OOO__c:103</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>collSuggestedAssignees</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnAlignments</name>
                        <value>
                            <stringValue>Pass_Count__c:center, Name_lookup:center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recSelectedPassAssignee</assignToReference>
                        <name>outputSelectedRow</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varNumberSuggestedSelected</assignToReference>
                        <name>numberOfRowsSelected</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>dispNotSelected</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 118, 210);&quot;&gt;REPS NOT SELECTED&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>showothers</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Sales_Rep_Pass_Count__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Sales_Rep_Pass_Count__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Sales_Rep__c,Pass_Count__c,Sales_Rep_Quota__c,OOO__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Sales_Rep__c:195, Pass_Count__c:195, Sales_Rep_Quota__c:195, OOO__c:103</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>singleRowSelection</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>collOtherAssignees</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnAlignments</name>
                        <value>
                            <stringValue>Pass_Count__c:center, Name_lookup:center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Other Assignees</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:assignment</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recOtherPassAssignee</assignToReference>
                        <name>outputSelectedRow</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varNumberOtherAssigneeSelected</assignToReference>
                        <name>numberOfRowsSelected</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DEMO_ONLY_Convert</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>DEMO ONLY - Convert?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varShowVariables</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showcontrols_0</name>
        <label>showcontrols</label>
        <locationX>4773</locationX>
        <locationY>2318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASGN_Controls</targetReference>
        </connector>
        <fields>
            <name>dispcontrol_0</name>
            <fieldText>&lt;p&gt;{!loop_Assignees.Sales_Pass_Rep__r.Sales_User__r.LastName}&lt;/p&gt;&lt;p&gt;{!loop_Assignees.Sales_Pass_Rep__r.Quota__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;Total Quota: &lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt;{!loop_Assignees.Sales_Pass_Rep__r.Sales_Pass_Team__r.Total_Quota__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;Total Passed: &lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt;{!loop_Assignees.Sales_Pass_Type__r.Total_Passed__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;loopAssignesTotalPassed: &lt;/strong&gt;{!loop_Assignees.Sales_Pass_Rep__r.Pass_Count__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;loopAssignessPassCount: &lt;/strong&gt;{!loop_Assignees.Pass_Count__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;varTotalPassed: &lt;/strong&gt;{!varTotalPassed}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Column H: &lt;/strong&gt;{!calcColumnH}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Column H2: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!calcColumnH_2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;varCurrPassValue: &lt;/strong&gt;{!varCurrPassValue}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;varMaxPassValue: &lt;/strong&gt; {!varMaxPassValue}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;varAssignValue: &lt;/strong&gt;{!calcAssignValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showcontrols_0_0</name>
        <label>showcontrols</label>
        <locationX>5351</locationX>
        <locationY>3105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASGN_Controls_0</targetReference>
        </connector>
        <fields>
            <name>dispcontrol_0_0</name>
            <fieldText>&lt;p&gt;SRPC Id: {!loop_2.Id}&lt;/p&gt;&lt;p&gt;SRPC Pass Count: {!loop_2.Pass_Count__c}&lt;/p&gt;&lt;p&gt;SRPC Sales Rep Id: {!loop_2.Sales_Pass_Rep__c}&lt;/p&gt;&lt;p&gt;Sales Rep  Pass Count: {!loop_2.Sales_Pass_Rep__r.Pass_Count__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;calcAssignValue: {!calcAssignValue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!loop_2.Sales_Pass_Rep__r.Sales_User__r.LastName}&lt;/p&gt;&lt;p&gt;{!loop_2.Sales_Pass_Rep__r.Quota__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;Total Quota: &lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt;{!&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;loop_2&lt;/span&gt;&lt;span style=&quot;background-color: white;&quot;&gt;.Sales_Pass_Rep__r.Sales_Pass_Team__r.Total_Quota__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;Total Passed: &lt;/strong&gt;&lt;span style=&quot;background-color: white;&quot;&gt;{!&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;loop_2&lt;/span&gt;&lt;span style=&quot;background-color: white;&quot;&gt;.Sales_Pass_Type__r.Total_Passed__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;SALES REP QUOTA: {!loop_2.Sales_Pass_Rep__r.Quota__c}  &lt;/p&gt;&lt;p&gt;TEAM QUOTA: {!loop_2.Sales_Pass_Rep__r.Sales_Pass_Team__r.Total_Quota__c}  &lt;/p&gt;&lt;p&gt;SALES PASS REP PASS COUNT:&lt;/p&gt;&lt;p&gt;{!loop_2.Pass_Count__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;loopAssignesTotalPassed: &lt;/strong&gt;{!&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;loop_2&lt;/span&gt;.Sales_Pass_Rep__r.Pass_Count__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Column H2: &lt;/strong&gt;{!calcColumnH_2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;varCurrPassValue: &lt;/strong&gt;{!varCurrPassValue}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;varMaxPassValue: &lt;/strong&gt; {!varMaxPassValue}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;calcAssignValue: &lt;/strong&gt;{!calcAssignValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_is_Inactive</name>
        <label>User is Inactive</label>
        <locationX>655</locationX>
        <locationY>1433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_Confirmation_0</targetReference>
        </connector>
        <fields>
            <name>showInactiveUser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_New_User.Name} is &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;INACTIVE&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Click &quot;Next&quot; to Select Another Team or Sales Rep&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>1020</locationY>
        <connector>
            <targetReference>Launched_from_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmplLeadDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(6, 177, 240);&quot;&gt;LEAD DETAILS&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;First Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varLeadRec_In.FirstName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Last Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varLeadRec_In.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varLeadRec_In.Email}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Company: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varLeadRec_In.Company}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Website: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varLeadRec_In.Website}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tmplOppDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Opportunity Name: &lt;/strong&gt;{!Get_Existing_Opp.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account: &lt;/strong&gt;{!Get_Existing_Opp.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Owner: &lt;/strong&gt;{!Get_Existing_Opp.Owner.Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Family: &lt;/strong&gt;{!Get_Existing_Opp.Subscription_Family__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subscription Plan: &lt;/strong&gt;{!Get_Existing_Opp.Subscription__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Close Date: &lt;/strong&gt;{!Get_Existing_Opp.CloseDate}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Booking Amount: &lt;/strong&gt;{!Get_Existing_Opp.Booking_Amount__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collAsgnUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
    <variables>
        <name>collAssignableUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
    <variables>
        <name>collOtherAssignees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>collOtherUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
    <variables>
        <name>collPassCounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>collSalesTeams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Pass_Team__c</objectType>
    </variables>
    <variables>
        <name>collSuggestedAssignees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>recAccountIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recContactIn</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>used when launched from Opp detail screen</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recOtherPassAssignee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>recOtherUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
    <variables>
        <name>recSalesTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Pass_Team__c</objectType>
    </variables>
    <variables>
        <name>recSelectedAssignee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
    <variables>
        <name>recSelectedPassAssignee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Rep_Pass_Count__c</objectType>
    </variables>
    <variables>
        <name>recSelectedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var1stRepSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountDetails_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountOwner_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignMessage_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCompanyMailFlag_In</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactDetails_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrPassValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExistingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInactive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadDetails_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadRec_In</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varLoop2MaxValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varMaxPassValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNewAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberOtherAssigneeSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNumberSuggestedSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOppConvert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassDetails_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPassSheetLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPassType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varROE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesPassOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesPassRepOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesTeamId_In</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShowVariables</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalPassed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varUpdatedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
