Self_Serve_Lead_Convert1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_2_Existing_Acct</name>
        <label>Convert 2 Existing Acct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SalesPassAutoConvertLead</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Converted - Recycle Prospect</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>Check_for_abandoned_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>overwriteLeadSource</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendEmailToOwner</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>SalesPassAutoConvertLead</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Contact_is_CreatedBy_Integration_User_Or_Not</name>
        <label>Check Contact is CreatedBy Integration User Or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreatedBy_Integration_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecord.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.CreatedBy.Full_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celigo01 Integration_User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.CreatedBy.Full_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Celigo02 Integration_User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Self_Serve_Signup</targetReference>
            </connector>
            <label>CreatedBy Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Self_Serve_Signup</name>
        <label>New Self Serve Signup?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Lead_found_Stop_this_train</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_look_for_an_abandoned_Lead</name>
            <conditionLogic>1 AND 2 AND Not(3) AND 4 AND Not(5) AND Not(6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>AccountSIgnUpDateStrip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountCreatedDateStrip</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.Account.Count_Won_Opportunities__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.Account.Plan_picklist__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>headless</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.Account.Plan_picklist__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Atlas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactRecord.Account.Plan_picklist__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Eval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactCreateDateStrip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountCreatedDateStrip</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_abandoned_Lead</targetReference>
            </connector>
            <label>Yes, look for an abandoned Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Lead_found_Stop_this_train</name>
        <label>No Lead found? Stop this train.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_one_Let_s_Convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_abandoned_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_2_Existing_Acct</targetReference>
            </connector>
            <label>Found one. Let&apos;s Convert!</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Strip Time</description>
        <name>AccountCreatedDateStrip</name>
        <dataType>Date</dataType>
        <expression>{!ContactRecord.Account.CreatedDate}</expression>
    </formulas>
    <formulas>
        <description>Get rid of Time</description>
        <name>AccountSIgnUpDateStrip</name>
        <dataType>Date</dataType>
        <expression>{!ContactRecord.Account.Sign_Up_Date__c}</expression>
    </formulas>
    <formulas>
        <description>Strip Date</description>
        <name>ContactCreateDateStrip</name>
        <dataType>Date</dataType>
        <expression>{!ContactRecord.CreatedDate}</expression>
    </formulas>
    <interviewLabel>Self Serve Lead Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Self Serve Lead Convert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_for_abandoned_Lead</name>
        <label>Check for abandoned Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Lead_found_Stop_this_train</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_is_CreatedBy_Integration_User_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WPE Integration_User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
