send_T_C_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Customer_Recipient</name>
        <label>Assign Customer Recipient</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Org_Sync_Sales_Rep_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Owner_Email_Recipient</name>
        <label>Assign Opp Owner Email Recipient</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sales_Rep_Acceptance_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Org_Sync_Sales_Rep_Email_Recipient</name>
        <label>Assign Org Sync Sales Rep Email Recipient</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Org_Sync_Org_1_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sales_Rep_Acceptance_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Org_Sync_Org_1_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Org_Sync_Sales_Rep_Email</name>
        <label>Check for Org Sync Sales Rep Email</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Opp_Owner_Email_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found - Org Sync Sales Rep Email</defaultConnectorLabel>
        <rules>
            <name>Found_Org_Sync_Sales_Rep_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record_Information.Org_Sync_Org_1_Owner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Org_Sync_Sales_Rep_Email_Recipient</targetReference>
            </connector>
            <label>Found - Org Sync Sales Rep Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_customer_is_eligible_for_sending_TOS_Email</name>
        <label>Check if the customer is eligible for sending TOS Email?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record_Information.Source__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SuiteBilling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record_Information.Account.TOS_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Eligible</targetReference>
            </connector>
            <label>Not eligible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Recipient_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record_Information.Contact__r.FirstName} &amp; &apos; &apos; &amp; {!Get_Opportunity_Record_Information.Contact__r.LastName}</expression>
    </formulas>
    <interviewLabel>send T&amp;C Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send T&amp;C Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record_Information</name>
        <label>Get Opportunity Record Information</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_customer_is_eligible_for_sending_TOS_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_FTC_Email_Sent_Date_on_Account</name>
        <label>Stamp FTC Email Sent Date on Account</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FTC_Email_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Stamp_FTC_Email_Sent_Date_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>T_S_Email_Send_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Customer_Recipient</targetReference>
        </connector>
        <fields>
            <name>ConfirmInformationBelow</name>
            <fieldText>&lt;p&gt;Please confirm information Below and Submit&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Recipient&lt;/strong&gt;&lt;strong&gt; Email (Opportunity Contact)&lt;/strong&gt;: {!Get_Opportunity_Record_Information.Contact__r.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conf</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once we send the email it will be attached as an Activity to Opportunity and associated Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Eligible</name>
        <label>Not Eligible</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoNeed4SendingEmail</name>
            <fieldText>&lt;p&gt;Account &quot;{!Get_Opportunity_Record_Information.Account.Name}&quot; has already Accepted Terms of Services. There is no need to send the email again for this Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close Window</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>send_email</name>
        <label>send email</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <flowName>Send_Terms_of_Service_email</flowName>
        <inputAssignments>
            <name>AcceptanceRepCCEmail</name>
            <value>
                <elementReference>Sales_Rep_Acceptance_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailTemplateId</name>
            <value>
                <stringValue>00X6s000001m2Mi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReceipientId</name>
            <value>
                <elementReference>Get_Opportunity_Record_Information.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientCollection</name>
            <value>
                <elementReference>Recipient_Collection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientName</name>
            <value>
                <elementReference>Recipient_Full_Name</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Recipient_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Sales_Rep_Acceptance_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
