Send_Opportunity_Assignment_Slack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Slack_WF_Prod_EMEA_XDR</name>
        <label>Post To Slack WF Prod EMEA XDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOpportunityOwnerNotificationEMEA.postTriggersT030abj1f80086078588365124bb49af024a45da70b46ab7061945</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestEMEAXDR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOpportunityOwnerNotificationEMEA.postTriggersT030abj1f80086078588365124bb49af024a45da70b46ab7061945</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production</name>
        <label>Post to Slack Workflow - Production(NA Director BAM)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionNADirectorBAM.postTriggersT030abj1f794380260069150224d3a394c2d8b7db45e8538412ecf</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestProdNADirectorBAM</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionNADirectorBAM.postTriggersT030abj1f794380260069150224d3a394c2d8b7db45e8538412ecf</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production_APAC</name>
        <label>Post to Slack Workflow - Production(APAC)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionAPAC.postTriggersT030abj1f796738160987912867a5ee6bc6f62077254701b388bc1</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestProdAPAC</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionAPAC.postTriggersT030abj1f796738160987912867a5ee6bc6f62077254701b388bc1</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production_EMEA_Agency_Partner</name>
        <label>Post to Slack Workflow - Production(EMEA Agency/Partner)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionEMEAAgencyPartnerAccount.postTriggersT030abj1f7941083559909C31f068634626274f06a6fd33696b2be</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestProdEMEAAgencyPartner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionEMEAAgencyPartnerAccount.postTriggersT030abj1f7941083559909C31f068634626274f06a6fd33696b2be</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production_EMEA_Ent_BAcq</name>
        <label>Post to Slack Workflow - Production(EMEA Ent BAcq)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionEMEAEntBAcq.postTriggersT030abj1f795663820369729275bcfe0c7d00c49a50c0ec22c34f4</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestProdEMEAEntBAcq</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionEMEAEntBAcq.postTriggersT030abj1f795663820369729275bcfe0c7d00c49a50c0ec22c34f4</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production_EMEA_SMB_BAM</name>
        <label>Post to Slack Workflow - Production(EMEA SMB BAM)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionEMEASMBBAM.postTriggersT030abj1f7956645487297C38ec1db8438a29f196b07a6d728db92</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestEMEASMBBAM</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionEMEASMBBAM.postTriggersT030abj1f7956645487297C38ec1db8438a29f196b07a6d728db92</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production_NA_Director_Acq</name>
        <label>Post to Slack Workflow - Production(NA Director Acq)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionNADirectorAcq.postTriggersT030abj1f794382484366734a483ba2afd9cb82487e4a318e0a57f</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequesrProdNADirectorAcq</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionNADirectorAcq.postTriggersT030abj1f794382484366734a483ba2afd9cb82487e4a318e0a57f</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Slack_Workflow_Production_NA_XDR</name>
        <label>Post To Slack Workflow Production NA XDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOpportunityOwnerNotificationNA.postTriggersT030abj1f80060043656831b8be7d33e3c504d2d59a6f537d070e2</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestNAXDR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOpportunityOwnerNotificationNA.postTriggersT030abj1f80060043656831b8be7d33e3c504d2d59a6f537d070e2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Production_VP_NA_Agency</name>
        <label>Post to Slack Workflow - Production(VP NA Agency)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentProductionVPNAAgency.postTriggersT030abj1f79566082309293af7f0eda9d2b16ffbea5ed3af37f42f</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestProdVPNAAgency</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentProductionVPNAAgency.postTriggersT030abj1f79566082309293af7f0eda9d2b16ffbea5ed3af37f42f</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack_Workflow_Sandbox</name>
        <label>Post to Slack Workflow - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOppUserAssignmentSandbox.postTriggersT030abj1f7913551158661795e036a029310f7da6560d5a36000d9</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Salck_Request_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOppUserAssignmentSandbox.postTriggersT030abj1f7913551158661795e036a029310f7da6560d5a36000d9</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_WF_Prod_APAC</name>
        <label>Post To WF Prod APAC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackOpportunityOwnerNotificationAPAC.postTriggersT030abj1f8018786101505Fd48eedb8737fdab17774cc28b0b26f3</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>SlackMessageRequestAPACXDR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackOpportunityOwnerNotificationAPAC.postTriggersT030abj1f8018786101505Fd48eedb8737fdab17774cc28b0b26f3</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Slack_Request_Production4</name>
        <label>Generate Slack Request - Production EMEA Ent BAcq</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAEntBAcq.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAEntBAcq.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAEntBAcq.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAEntBAcq.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAEntBAcq.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production_EMEA_Ent_BAcq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production5</name>
        <label>Generate Slack Request - Production EMEA SMB BAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEASMBBAM.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEASMBBAM.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEASMBBAM.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEASMBBAM.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEASMBBAM.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production_EMEA_SMB_BAM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production6</name>
        <label>Generate Slack Request - Production VP APAC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdAPAC.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdAPAC.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdAPAC.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdAPAC.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdAPAC.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production_APAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_APAC_XDR</name>
        <label>Generate Slack Request - Production APAC XDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestAPACXDR.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestAPACXDR.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestAPACXDR.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestAPACXDR.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestAPACXDR.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_WF_Prod_APAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_EMEA_Agency_Partner</name>
        <label>Generate Slack Request - Production EMEA Agency/Partner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAAgencyPartner.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAAgencyPartner.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAAgencyPartner.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAAgencyPartner.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdEMEAAgencyPartner.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production_EMEA_Agency_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_EMEA_XDR</name>
        <label>Generate Slack Request - Production EMEA XDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEAXDR.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEAXDR.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEAXDR.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEAXDR.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestEMEAXDR.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Slack_WF_Prod_EMEA_XDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_NA_Director_Acq</name>
        <label>Generate Slack Request - Production NA Director Acq</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequesrProdNADirectorAcq.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequesrProdNADirectorAcq.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequesrProdNADirectorAcq.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequesrProdNADirectorAcq.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequesrProdNADirectorAcq.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production_NA_Director_Acq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_NA_Director_BAM</name>
        <label>Generate Slack Request - Production NA Director BAM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdNADirectorBAM.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdNADirectorBAM.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdNADirectorBAM.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdNADirectorBAM.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdNADirectorBAM.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_NA_XDR</name>
        <label>Generate Slack Request - Production NA XDR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestNAXDR.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestNAXDR.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestNAXDR.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestNAXDR.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestNAXDR.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_To_Slack_Workflow_Production_NA_XDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Production_VP_NA_Agency</name>
        <label>Generate Slack Request - Production VP NA Agency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdVPNAAgency.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdVPNAAgency.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdVPNAAgency.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdVPNAAgency.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SlackMessageRequestProdVPNAAgency.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Production_VP_NA_Agency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Sandbox</name>
        <label>Generate Slack Request - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Salck_Request_Sandbox.accountx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salck_Request_Sandbox.oppx5fownerx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salck_Request_Sandbox.oppx5ftype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salck_Request_Sandbox.website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Salck_Request_Sandbox.oppx5flink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack_Workflow_Sandbox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Channel_to_Notify</name>
        <label>Which Channel to Notify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Sandbox</targetReference>
            </connector>
            <label>Sandbox</label>
        </rules>
        <rules>
            <name>Roles_Report_to_NA_Director_BAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Manager 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Rep 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Manager 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Rep 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Rep 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Rep 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Rep 5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Manager 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Sales Manager 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Enterprise Brand Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Director BAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_NA_Director_BAM</targetReference>
            </connector>
            <label>Roles Report to NA Director BAM</label>
        </rules>
        <rules>
            <name>Roles_Reports_to_NA_Director_Acq</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Acquisition Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Acquisition Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Acquisition Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Brand Acquisition Rep </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Strategic Acquisition Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Strategic Acquisition Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Director Acq</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_NA_Director_Acq</targetReference>
            </connector>
            <label>Roles Reports to NA Director Acq</label>
        </rules>
        <rules>
            <name>Roles_Reports_to_VP_NA_Agency</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Director NA Agency</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Manager 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Manager 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Manager 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Manager 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Sales Rep 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Sales Rep 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Sales Rep 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA Agency Sales Rep 4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Director NA Agency Channel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA ADR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA ADR 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA PAM Manager 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA PAM Manager 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA PAM 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA PAM 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP NA Agency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_VP_NA_Agency</targetReference>
            </connector>
            <label>Roles Reports to VP NA Agency</label>
        </rules>
        <rules>
            <name>Roles_Reports_to_EMEA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Agency Acquisition Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Agency AM Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA PAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Agency Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Partner Accounts Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_EMEA_Agency_Partner</targetReference>
            </connector>
            <label>Roles Reports to EMEA Agency/Partner Account Sales Manager</label>
        </rules>
        <rules>
            <name>Roles_Reports_to_EMEA_Enterprise_BAcq_Sales_Manager</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Enterprise Acquisition Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Enterprise BAM Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA SMB Acquisition Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA Enterprise-BAcq Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production4</targetReference>
            </connector>
            <label>Roles Reports to EMEA Enterprise-BAcq Sales Manager</label>
        </rules>
        <rules>
            <name>Roles_Reports_to_EMEA_SMB_BAM_Manager</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA SMB BAM Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA SMB BAM Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production5</targetReference>
            </connector>
            <label>Roles Reports to EMEA SMB BAM Manager</label>
        </rules>
        <rules>
            <name>Roles_Reports_to_VP_APAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP, APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production6</targetReference>
            </connector>
            <label>Roles Reports to VP APAC</label>
        </rules>
        <rules>
            <name>NA_and_XDR_Roles</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.Assigned_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_NA_XDR</targetReference>
            </connector>
            <label>NA and XDR Roles</label>
        </rules>
        <rules>
            <name>EMEA_and_XDR_Roles</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.Assigned_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_EMEA_XDR</targetReference>
            </connector>
            <label>EMEA and XDR Roles</label>
        </rules>
        <rules>
            <name>APAC_and_XDR_Roles</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.Assigned_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Owner.UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSDR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Production_APAC_XDR</targetReference>
            </connector>
            <label>APAC and XDR Roles</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.Opportunity_Id__c}</expression>
    </formulas>
    <interviewLabel>Send Opportunity Assignment Slack Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Opportunity Assignment Slack Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Opp_User_Assignment__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Salck_Request_Sandbox</name>
        <apexClass>ExternalService__SlackOppUserAssignmentSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequesrProdNADirectorAcq</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionNADirectorAcq_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestAPACXDR</name>
        <apexClass>ExternalService__SlackOpportunityOwnerNotificationAPAC_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestEMEASMBBAM</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionEMEASMBBAM_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestEMEAXDR</name>
        <apexClass>ExternalService__SlackOpportunityOwnerNotificationEMEA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestNAXDR</name>
        <apexClass>ExternalService__SlackOpportunityOwnerNotificationNA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestProdAPAC</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionAPAC_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestProdEMEAAgencyPartner</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionEMEAAgencyPartnerAccount_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestProdEMEAEntBAcq</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionEMEAEntBAcq_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestProdNADirectorBAM</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionNADirectorBAM_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SlackMessageRequestProdVPNAAgency</name>
        <apexClass>ExternalService__SlackOppUserAssignmentProductionVPNAAgency_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
