Send_Lead_Owner_Assignment_Slack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Notification_On_APAC_Channel</name>
        <label>Post Notification On APAC Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackLeadOwnerNotificationAPAC.postTriggersT030abj1f8004020021572Dc447e46c1d3f28366f7b0dda22c52d5</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Lead_APAC_Slack_Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackLeadOwnerNotificationAPAC.postTriggersT030abj1f8004020021572Dc447e46c1d3f28366f7b0dda22c52d5</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Notification_On_EMEA_Channel</name>
        <label>Post Notification On EMEA Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackLeadOwnerNotificationEMEA.postTriggersT030abj1f80014059844037429a273ed2a8ff3a84d15dcb85538fb</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Lead_EMEA_Slack_Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackLeadOwnerNotificationEMEA.postTriggersT030abj1f80014059844037429a273ed2a8ff3a84d15dcb85538fb</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Notification_On_NA_Channel</name>
        <label>Post Notification On NA Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackLeadOwnerNotificationNA.postTriggersT030abj1f8014115600609E83fd732e836885bc8f7d1a0a161b123</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Lead_NA_Slack_Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackLeadOwnerNotificationNA.postTriggersT030abj1f8014115600609E83fd732e836885bc8f7d1a0a161b123</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Notification_On_Slack_TestChannel</name>
        <label>Post Notification On Slack TestChannel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackLeadOwnerNotificationForSandbox.postTriggersT030abj1f7994755060434Ac651092cba253f2cdcbef2866ea957b</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackMessageRequest</name>
            <value>
                <elementReference>Lead_Slack_Request_Sandbox</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SlackLeadOwnerNotificationForSandbox.postTriggersT030abj1f7994755060434Ac651092cba253f2cdcbef2866ea957b</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Slack_Request_APAC_Production</name>
        <label>Generate Slack Request - APAC Production</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Lead_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_APAC_Slack_Request.leadOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Notification_On_APAC_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_EMEA_Production</name>
        <label>Generate Slack Request - EMEA Production</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Lead_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_EMEA_Slack_Request.leadOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Notification_On_EMEA_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_NA_Production</name>
        <label>Generate Slack Request - NA Production</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Lead_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_NA_Slack_Request.leadOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Notification_On_NA_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Slack_Request_Sandbox</name>
        <label>Generate Slack Request - Sandbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Lead_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Slack_Request_Sandbox.leadOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Details.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Notification_On_Slack_TestChannel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Channel_to_Notify</name>
        <label>Which Channel to Notify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Outcome</defaultConnectorLabel>
        <rules>
            <name>Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organization_Details.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_Sandbox</targetReference>
            </connector>
            <label>Sandbox</label>
        </rules>
        <rules>
            <name>IF_User_Geo_is_NA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Assigned_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_NA_Production</targetReference>
            </connector>
            <label>IF User Geo is NA</label>
        </rules>
        <rules>
            <name>IF_User_Geo_is_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Assigned_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_EMEA_Production</targetReference>
            </connector>
            <label>IF User Geo is EMEA</label>
        </rules>
        <rules>
            <name>IF_User_Geo_is_APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Details.Owner:User.Assigned_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Slack_Request_APAC_Production</targetReference>
            </connector>
            <label>IF User Geo is APAC</label>
        </rules>
    </decisions>
    <description>SF360-294</description>
    <environments>Default</environments>
    <formulas>
        <name>Lead_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.Lead_Id__c}</expression>
    </formulas>
    <interviewLabel>Send Lead Owner Assignment Slack Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Lead Owner Assignment Slack Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Channel_to_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organization_Details</name>
        <label>Get Organization Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Organization_Details</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Lead_Owner_Assignment_Notification__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Lead_APAC_Slack_Request</name>
        <apexClass>ExternalService__SlackLeadOwnerNotificationAPAC_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_EMEA_Slack_Request</name>
        <apexClass>ExternalService__SlackLeadOwnerNotificationEMEA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_NA_Slack_Request</name>
        <apexClass>ExternalService__SlackLeadOwnerNotificationNA_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Slack_Request_Sandbox</name>
        <apexClass>ExternalService__SlackLeadOwnerNotificationForSandbox_SlackMessageRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
