Subscription_Plan_Update_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Subscription_Family_Exist</name>
        <label>Copy 1 of Copy 1 of Subscription Family Exist?</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Copy_1_of_Set_Subscription_Family_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_Family_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Copy_1_of_Set_Subscription_Family_Map</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Subscription_Family_Exist</name>
        <label>Copy 1 of Subscription Family Exist?</label>
        <locationX>1370</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Subscription_Family_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_Family_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Set_Subscription_Family_Map</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Copy_1_of_Subscription_Family_Exist</name>
        <label>Copy 2 of Copy 1 of Subscription Family Exist?</label>
        <locationX>2426</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Set_Subscription_Family_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_Family_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Set_Subscription_Family_Map</targetReference>
            </connector>
            <label>Copy 2 of Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Exist</name>
        <label>Record Exist?</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Subscription_Family_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Family_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Subscription_Family_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Family_Exist</name>
        <label>Subscription Family Exist?</label>
        <locationX>1898</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Create_Subscription_Family_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Subscription_Family_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subscription Plan Update Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Plan Update Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Subscription_Family_Record</name>
        <label>Copy 1 of Create Subscription Family Record</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Copy_1_of_Subscription_Family_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Name__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Family_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_Family_Record</name>
        <label>Create Subscription Family Record</label>
        <locationX>2426</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Subscription_Family_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Name__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family_Text__c</elementReference>
            </value>
        </inputAssignments>
        <object>Subscription_Family_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Subscription_Family_Map</name>
        <label>Get Subscription Family Map</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subscription_Family_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_Family_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WPE_Subscription_Family_Text__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_Family_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Set_Subscription_Family_Map</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Set Subscription Family Map</label>
        <locationX>2162</locationX>
        <locationY>888</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Missing_Subscription_Family_Flag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Map__c</field>
            <value>
                <elementReference>Create_Subscription_Family_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Subscription_Family_Text__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Set_Subscription_Family_Map</name>
        <label>Copy 1 of Copy 1 of Set Subscription Family Map</label>
        <locationX>2690</locationX>
        <locationY>888</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Missing_Subscription_Family_Flag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Map__c</field>
            <value>
                <elementReference>Create_Subscription_Family_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Subscription_Family__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Copy_1_of_Set_Subscription_Family_Map</name>
        <label>Copy 1 of Copy 2 of Copy 1 of Set Subscription Family Map</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Missing_Subscription_Family_Flag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Map__c</field>
            <value>
                <elementReference>Get_Subscription_Family_Map.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Subscription_Family_Text__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Set_Subscription_Family_Map</name>
        <label>Copy 1 of Set Subscription Family Map</label>
        <locationX>1634</locationX>
        <locationY>888</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Missing_Subscription_Family_Flag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Map__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Subscription_Family_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Subscription_Family_Text__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Set_Subscription_Family_Map</name>
        <label>Copy 2 of Copy 1 of Set Subscription Family Map</label>
        <locationX>1106</locationX>
        <locationY>888</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Missing_Subscription_Family_Flag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Map__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Subscription_Family_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Subscription_Family_Text__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Copy_1_of_Set_Subscription_Family_Map</name>
        <label>Copy 3 of Copy 1 of Set Subscription Family Map</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <faultConnector>
            <targetReference>Update_Missing_Subscription_Family_Flag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Family_Map__c</field>
            <value>
                <elementReference>Get_Subscription_Family_Map.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Subscription_Family__c</field>
            <value>
                <elementReference>$Record.WPE_Subscription_Family_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Missing_Subscription_Family_Flag</name>
        <label>Update Missing Subscription Family Flag</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Execute_Trigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Sub_Family__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>WPE_Subscription_Family__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Subscription_Family_Text__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Execute_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Subscription_plan__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Subscription_Family_Map</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
