Subscription_Plan_Association_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Record</name>
        <label>Refresh Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Subscription_Family_Map_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Subscription_Plan_Information</name>
        <label>Assign Current Subscription Plan Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txtCurrSubscriptionPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Information.WPE_Subscription_plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtCurrNSPriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Information.WPE_Price_book_NetSuite__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Opportunity_is_in_Prending_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The DataCennter selected on the Select Subscription Family screen is now assigned to the Opportunity used for this Subscription</description>
        <name>Assign_DataCenter_Choice_to_Opportunity</name>
        <label>Assign DataCenter Choice to Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.Which_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DataCenter_Pickval_Capture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Pickval_Capture</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterSubscriptionPlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_of_PriceBooks</name>
        <label>Assign No. of PriceBooks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NoofPriceBook</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Price_Books_for_the_selected_Subscription_Plans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_more_than_one_price_book_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Variables</name>
        <label>Assign Order Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Subscription_plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectSubscriptionPlan.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Price_book_NetSuite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyISOCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit to NS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayAvailablePromotion.outputSelectedRow.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Variables_Downgrade</name>
        <label>Assign Order Variables - Downgrade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Subscription_plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectSubscriptionPlan.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Price_book_NetSuite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyISOCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayAvailablePromotion.outputSelectedRow.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Book_Id</name>
        <label>Assign Price Book Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectPriceBookInformation.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PriceBook_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurrence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectPriceBookInformation.outputSelectedRow.Price_Book_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Promotion_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PriceBook_Id</name>
        <label>Assign PriceBook Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PRiceBookEntries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrencyISOCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PRiceBookEntries.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recurrence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_PRiceBookEntries.Price_Book_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_PRiceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSubscriptionPlan</name>
        <label>AssignSubscriptionPlan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPlanForSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Plan_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Select_Subscription_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSubscriptionPlanFilter</name>
        <label>AssignSubscriptionPlan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPlanForSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Plan_Information_No_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Select_Subscription_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Opportunity_Variables</name>
        <label>Assign Opportunity Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.WPE_Subscription_plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectSubscriptionPlan.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.WPE_Price_book_NetSuite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayAvailablePromotion.outputSelectedRow.Promotion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrencyISOCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Information.Booking_Amount_Over__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No002</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes002</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Opportunity_is_in_Prending_Approval</name>
        <label>Check if Opportunity is in Prending Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Subscription_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Locked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Add_On</name>
        <label>Create Add-On?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Invoked_from_Other_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_some_Add_Ons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes002</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Add_On_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Promotion_Exist</name>
        <label>Does Promotion Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Order_Id_Exist_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes02</name>
            <conditionLogic>1 AND 2 AND (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Promotion_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.RecordType.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Information.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Information.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Promotion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FilterSubscriptionPlan</name>
        <label>FilterSubscriptionPlan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Subscription_Plan_Information_No_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subscriptionFamilyPicklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription_Plan_Information</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_different_Flow</name>
        <label>From different Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Initial_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvokedfromOtherflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_more_than_one_price_book_entries</name>
        <label>If more than one price book entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_PRiceBookEntries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoofPriceBook</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_PriceBook_Entry</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
        <rules>
            <name>No_PriceBook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoofPriceBook</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>No PriceBook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoked_from_Other_Flow</name>
        <label>Invoked from Other Flow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvokedfromOtherflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Datacenter_or_Country_Changed</name>
        <label>Is Datacenter or Country Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FilterSubscriptionPlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - DataCenter or Country Did Not Change</defaultConnectorLabel>
        <rules>
            <name>Yes_DataCenter_or_Country_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.Which_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>DataCenter_Pickval_Capture</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Country_Pickval_Capture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DataCenter_Choice_to_Opportunity</targetReference>
            </connector>
            <label>Yes - DataCenter or Country Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_downgrade</name>
        <label>Is downgrade?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Order_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Downgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Information.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Variables_Downgrade</targetReference>
            </connector>
            <label>Yes - Downgrade</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Promotion_Applied</name>
        <label>Is Promotion Applied?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Stage_higher_than_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisplayAvailablePromotion.outputSelectedRow.Promotion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_current_Applied_Promotions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Product_Exists</name>
        <label>Oppty Product Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes06</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCurrNSPriceBookId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PriceBookId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>txtCurrSubscriptionPlan</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectSubscriptionPlan.outputSelectedRow.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Opportunity_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Id_Exist</name>
        <label>Order Id Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Id_Exist_0</name>
        <label>Order Id Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Promotion_Applied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes01_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_downgrade</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Exists</name>
        <label>Record Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Applied_Promotion_for_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Applied_Promotions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Previous_Applied_Promotions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_higher_than_1</name>
        <label>Stage higher than 1?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Opportunity_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Stage_1_or_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - Pre Sales Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Discovery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Information.StageName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opportunity_Stage_to_Discovery</targetReference>
            </connector>
            <label>Yes - Stage 1 or 0</label>
        </rules>
    </decisions>
    <description>2MAY25 - COLIN - Expanded Fault Paths messaging
21MAR25 - COLIN - Fault Paths
19MAR25 - JUNI &amp; CHARLS - Added WPE Deprecated Plan in the Condition under Get Subscription Plan Information Filter and Get Subscription Plan Information No Filter
22FEB25 - Charls- Remove Previous button for 3 Screens (Select Pricebook Entry, Apply Promotion, Add On Confirmation)
05FEB25 - David - Added checks for Order and Opp Types to exclude Promo screen from Upgrade path
20JAN25 - COLIN - Removal of Previous button on Sub Plan selection screen for Upgrade loss of Opp ID issue
11DEC24 - COLIN - Update Opp with Screen DC choices
25APR24 - COLIN - Initial Screen added
19JUN23 CC (PJ) - Fix issue with stage resetting back to 1 when add/update subscription plan. 
30Mar23 - CC - Remove Currency field from Subscription Plan selection datatable in &apos;Create Opportunity - Select Subscription Plan&apos; screen
Sort Asc/Name on Subscription_Family_Choice

19June23 - Added a required picklist select of datacenter to the select Subscription Family screen and assigned it to the Opportunity record just before it&apos;s updated,
SF360-331</description>
    <dynamicChoiceSets>
        <name>ContactRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>The list of all DataCenters available, as per the picklist value set used in Opportunity</description>
        <name>opportunityDataCenterOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Which_Data__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subscription_Family_Choice</name>
        <collectionReference>Get_Subscription_Family_Map_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Subscription_Family_Name__c</displayField>
        <object>Subscription_Family_Map__c</object>
        <valueField>Subscription_Family_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>subscriptionfamily</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WPE_Subscription_Family__c</picklistField>
        <picklistObject>Subscription_plan__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateConversion</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(Now())</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;Oppty - &quot; + {!Get_Opportunity_Information.Name} + &quot;-&quot; + TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>recurrencemultiselect</name>
        <dataType>String</dataType>
        <expression>&quot;;&quot; + {!recurrence} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>ShouldShowPromotion</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <interviewLabel>Subscription Plan Association Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Plan Association Sub Flow</label>
    <loops>
        <name>For_PRiceBookEntries</name>
        <label>For PRiceBookEntries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Price_Books_for_the_selected_Subscription_Plans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PriceBook_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Promotion_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Applied_Promotion_for_Opportunity</name>
        <label>Create Applied Promotion for Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_higher_than_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Exception_Message1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DisplayAvailablePromotion.outputSelectedRow.Promotion_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WPE_Promotion__c</field>
            <value>
                <elementReference>DisplayAvailablePromotion.outputSelectedRow.Promotion__c</elementReference>
            </value>
        </inputAssignments>
        <object>WPE_Applied_Promotion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opportunity_Products</name>
        <label>Delete Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_Record_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Exception_Message5</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Previous_Applied_Promotions</name>
        <label>Delete Previous Applied Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Applied_Promotion_for_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Exception_Message3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WPE_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>WPE_Applied_Promotion__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_current_Applied_Promotions</name>
        <label>Get current Applied Promotions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WPE_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WPE_Applied_Promotion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opportunity_Products</name>
        <label>Get Existing Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppty_Product_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Information</name>
        <label>Get Opportunity Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_Subscription_Plan_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Information</name>
        <label>Get Order Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Subscription_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Books_for_the_selected_Subscription_Plans</name>
        <label>Get Price Books for the selected Subscription Plans</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_No_of_PriceBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectSubscriptionPlan.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Line_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_books_NetSuite__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Record</name>
        <label>Get PriceBook Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Price_Book_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectPriceBookInformation.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price_books_NetSuite__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Promotion_Records</name>
        <label>Get Promotion Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Promotion_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Family_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectSubscriptionPlan.outputSelectedRow.WPE_Subscription_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDateConversion</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CurrentDateConversion</elementReference>
            </value>
        </filters>
        <filters>
            <field>Netsuite_Promotion_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Only__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Promotion_Recurrence__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>recurrencemultiselect</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Promotion_Sub_Family_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Family_Map_Records</name>
        <label>Get Subscription Family Map Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Id_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_of_Active_Subscription_Plans__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Family_Map__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Plan_Information</name>
        <label>Get Subscription Plan Information Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSubscriptionPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsInactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Subscription_Family__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Subscription_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subscriptionFamilyPicklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Plan_Line_Counts__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Deprecated_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Plan_Information_No_Filter</name>
        <label>Get Subscription Plan Information No Filter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSubscriptionPlanFilter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsInactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Subscription_Family__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_Plan_Line_Counts__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>WPE_Deprecated_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity_Stage_to_Discovery</name>
        <label>Copy 1 of Update Opportunity Stage to Discovery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_Opportunity_Variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Screen_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>1 - Discovery</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_0</name>
        <label>Update Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_On_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Exception_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunity_Information</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Records</name>
        <label>Update Order Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoked_from_Other_Flow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Exception_Message2</targetReference>
        </faultConnector>
        <inputReference>Get_Order_Information</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_On_Confirmation</name>
        <label>Add-On Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Add_On</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_some_Add_Ons</name>
            <choiceReferences>Yes002</choiceReferences>
            <choiceReferences>No002</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No002</defaultSelectedChoiceReference>
            <fieldText>Do you want to add some Add-Ons?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Apply_Promotion</name>
        <label>Apply Promotion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Id_Exist_0</targetReference>
        </connector>
        <fields>
            <name>Apply_Promotion_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Apply_Promotion_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApplyPromotion</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;APPLY PROMOTION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>confmsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;If you would like to add a promotion, select one of the below or click Next to proceed without one.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAvailablePromotion</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Promotion_Sub_Family_Association__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Promotion_Sub_Family_Association__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Promotion_Name__c,Coupon_Code__c,Percent_Discount__c,Flat_Rate_Discount_Amount__c,CurrencyIsoCode,Start_Date__c,End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Promotion_Name__c:90, Coupon_Code__c:90, Percent_Discount__c:90, Flat_Rate_Discount_Amount__c:215, CurrencyIsoCode:120, Start_Date__c:90, End_Date__c:90</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Promotion_Records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubscriptionPlanConfirmation</name>
            <fieldText>&lt;p&gt;Confirmation: Subscription plan has been successfully picked. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Screen_error</name>
        <label>Copy 1 of Screen error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 0, 0);&quot;&gt;Apologies, there was a problem:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Please review the error message and attempt to correct the issue&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Search the error message for errors related to &lt;strong&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION &lt;/strong&gt;and review&lt;/li&gt;&lt;li&gt;Also search the error message for errors related to &lt;strong&gt;INSUFFICIENT_ACCESS_OR_READONLY &lt;/strong&gt;which may require engaging the Help Desk / RevOps teams for role hierarchy adjustments&lt;/li&gt;&lt;li&gt;If you are unable to address the issue, please raise a ticket by messaging the user &lt;strong&gt;@sf360helpdesk&lt;/strong&gt; in Slack&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity_Select_Subscription_Plan</name>
        <label>Create Opportunity - Select Subscription Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Price_Books_for_the_selected_Subscription_Plans</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Please select a Subscription Plan from the list below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectSubscriptionPlan</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Subscription_plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Subscription_plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Pick a Subscription Plan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:Subscription_plan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Display_Name_Code__c,WPE_Subscription_Family__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:300, Display_Name_Code__c:225, WPE_Subscription_Family__c:300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Display_Name_Code__c:Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Display_Name_Code__c:true, Initial_Term__c:false, CurrencyIsoCode:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SubscriptionPlanForSelection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Message</name>
        <label>Display Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 0, 0);&quot;&gt;Apologies, there was a problem:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 8, 8);&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 8, 8);&quot;&gt;Please review the error message and attempt to correct the issue&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Search the error message for errors related to &lt;strong&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION &lt;/strong&gt;and review&lt;/li&gt;&lt;li&gt;Also search the error message for errors related to &lt;strong&gt;INSUFFICIENT_ACCESS_OR_READONLY &lt;/strong&gt;which may require engaging the Help Desk / RevOps teams for role hierarchy adjustments&lt;/li&gt;&lt;li&gt;If you are unable to address the issue, please raise a ticket by messaging the user &lt;strong&gt;@sf360helpdesk&lt;/strong&gt; in Slack&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Message1</name>
        <label>Display Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 0, 0);&quot;&gt;Apologies, there was a problem:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Please review the error message and attempt to correct the issue&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Search the error message for errors related to &lt;strong&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION &lt;/strong&gt;and review&lt;/li&gt;&lt;li&gt;Also search the error message for errors related to &lt;strong&gt;INSUFFICIENT_ACCESS_OR_READONLY &lt;/strong&gt;which may require engaging the Help Desk / RevOps teams for role hierarchy adjustments&lt;/li&gt;&lt;li&gt;If you are unable to address the issue, please raise a ticket by messaging the user &lt;strong&gt;@sf360helpdesk&lt;/strong&gt; in Slack&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Message2</name>
        <label>Display Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 0, 0);&quot;&gt;Apologies, there was a problem:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Please review the error message and attempt to correct the issue&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Search the error message for errors related to &lt;strong&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION &lt;/strong&gt;and review&lt;/li&gt;&lt;li&gt;Also search the error message for errors related to &lt;strong&gt;INSUFFICIENT_ACCESS_OR_READONLY &lt;/strong&gt;which may require engaging the Help Desk / RevOps teams for role hierarchy adjustments&lt;/li&gt;&lt;li&gt;If you are unable to address the issue, please raise a ticket by messaging the user &lt;strong&gt;@sf360helpdesk&lt;/strong&gt; in Slack&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Message3</name>
        <label>Display Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 0, 0);&quot;&gt;Apologies, there was a problem:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Please review the error message and attempt to correct the issue&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Search the error message for errors related to &lt;strong&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION &lt;/strong&gt;and review&lt;/li&gt;&lt;li&gt;Also search the error message for errors related to &lt;strong&gt;INSUFFICIENT_ACCESS_OR_READONLY &lt;/strong&gt;which may require engaging the Help Desk / RevOps teams for role hierarchy adjustments&lt;/li&gt;&lt;li&gt;If you are unable to address the issue, please raise a ticket by messaging the user &lt;strong&gt;@sf360helpdesk&lt;/strong&gt; in Slack&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Exception_Message5</name>
        <label>Display Exception Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 0, 0);&quot;&gt;Apologies, there was a problem:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Next Steps:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(8, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Please review the error message and attempt to correct the issue&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Search the error message for errors related to &lt;strong&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION &lt;/strong&gt;and review&lt;/li&gt;&lt;li&gt;Also search the error message for errors related to &lt;strong&gt;INSUFFICIENT_ACCESS_OR_READONLY &lt;/strong&gt;which may require engaging the Help Desk / RevOps teams for role hierarchy adjustments&lt;/li&gt;&lt;li&gt;If you are unable to address the issue, please raise a ticket by messaging the user &lt;strong&gt;@sf360helpdesk&lt;/strong&gt; in Slack&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 6, 6); font-size: 14px;&quot;&gt;Subscription Plan  &lt;/span&gt;&lt;b style=&quot;color: rgb(231, 6, 6); font-size: 14px;&quot;&gt;{!SelectSubscriptionPlan.outputSelectedRow.Name} &lt;/b&gt;&lt;span style=&quot;color: rgb(231, 6, 6); font-size: 14px;&quot;&gt;does not have any Pricebook associated. Kindly sync with Netsuite or select different Subscription Plan. Please contact your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refresh_Record</targetReference>
        </connector>
        <fields>
            <name>Initial_Screen_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;To Add or Update a Subscription Plan for this Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Locked</name>
        <label>Opportunity Locked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lockedMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 17, 17);&quot;&gt;This Opportunity is in locked Status due to pending approval. Please try again later...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_PriceBook_Entry</name>
        <label>Select PriceBook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_PriceBook_Record</targetReference>
        </connector>
        <fields>
            <name>PricebookSelection</name>
            <fieldText>&lt;p&gt;Please select a Price Book for the Subscription Plan &quot;&lt;b&gt;{!SelectSubscriptionPlan.outputSelectedRow.Name}&quot;.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectPriceBookInformation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Price_books_NetSuite__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Price_books_NetSuite__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Price_Books_for_the_selected_Subscription_Plans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Pick PriceBook</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,CurrencyIsoCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:488, CurrencyIsoCode:488</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Subscription_Family</name>
        <label>Select Subscription Family</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Datacenter_or_Country_Changed</targetReference>
        </connector>
        <fields>
            <name>selectsubscriptionfamily</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Please select the Subscription Family for the new plan.  All the Plans associated with the selected family will display on the&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 15px; background-color: rgb(255, 255, 255); font-family: Arial;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(3, 145, 234); background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial; font-size: 15px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;screen&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 15px; font-family: Arial;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>subscriptionFamilyPicklist</name>
            <choiceReferences>Subscription_Family_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscription Family:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Subscription_Family_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Subscription_Family_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_Subscription_Family_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Subscription_Family_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectDataCenter</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please select a suitable Country/DataCenter for the new plan. The Country/DataCenter selected should be the closest geographical location to the Account address:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DP_Picklist</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Which_Data__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Country/Region</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>DataCenter</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Get_Opportunity_Information.Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>Get_Opportunity_Information.Which_Data__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Country_Pickval_Capture</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>DataCenter_Pickval_Capture</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>From_different_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Add_On_Products</name>
        <label>Add Add On Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoked_from_Other_Flow</targetReference>
        </connector>
        <flowName>Opportunity_Add_Products_Sub_Flow</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountInfoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colContactforCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>colOpportunityForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country_Pickval_Capture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrencyISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataCenter_Pickval_Capture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvokedfromOtherflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoofPriceBook</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recurrence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionPlanForSelection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_plan__c</objectType>
    </variables>
    <variables>
        <name>txtCurrNSPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txtCurrSubscriptionPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PriodStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
