Tasks_Link_to_Referral_Templates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>navOnbTaskRecord</name>
        <label>navOnbTaskRecord</label>
        <locationX>971</locationX>
        <locationY>95</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>List</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationActionFilter</name>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Onboarding_Template__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Object</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASGN_Relationship_Collection</name>
        <label>ASGN Relationship Collection</label>
        <locationX>733</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>collRelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRelationshipRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Unassigned_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Set_Record_Values</name>
        <label>ASGN Set Record Values</label>
        <locationX>855</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>varRelationshipRec.Onboarding_Task_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Unassigned_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationshipRec.Onboarding_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTemplateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASGN_Relationship_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DCN_Referral_Template</name>
        <label>DCN Referral Template</label>
        <locationX>377</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>LKUP_Referral_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Referral_Template</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Referral_Template</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
    </decisions>
    <description>Mike - 11/4: Changes:
1. Changed label for checkbox on first screen
2. Add text box to second screen / effective to and from fields
3.  Navigate anywhere to onboarding templates list view
4. Added finish screen</description>
    <dynamicChoiceSets>
        <name>pickJurisdiction</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Jurisdiction__c</picklistField>
        <picklistObject>Onboarding_Template__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickReviewCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onboarding_Product_Type__c</picklistField>
        <picklistObject>Onboarding_Template__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickReviewLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onboarding_Level__c</picklistField>
        <picklistObject>Onboarding_Template__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickReviewType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onboarding_Type__c</picklistField>
        <picklistObject>Onboarding_Template__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>InputNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!Input_Template_Name}),  {!LKUP_Referral_Template.Name}, {!Input_Template_Name})</expression>
    </formulas>
    <interviewLabel>Tasks - Link to Referral Templates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tasks - Link to Referral Templates</label>
    <loops>
        <name>loop_Unassigned_Tasks</name>
        <label>loop Unassigned Tasks</label>
        <locationX>667</locationX>
        <locationY>249</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASGN_Set_Record_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>INS_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>INS_Referral_Template</name>
        <label>INS Referral Template</label>
        <locationX>601</locationX>
        <locationY>522</locationY>
        <assignRecordIdToReference>varTemplateId</assignRecordIdToReference>
        <connector>
            <targetReference>loop_Unassigned_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Effective_From__c</field>
            <value>
                <elementReference>Input_Effective_From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_To__c</field>
            <value>
                <elementReference>Input_Effective_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Input_Template_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Product_Type__c</field>
            <value>
                <elementReference>Select_Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Type__c</field>
            <value>
                <elementReference>Select_Onboarding_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Template__c</object>
    </recordCreates>
    <recordCreates>
        <name>INS_Relationships</name>
        <label>INS Relationships</label>
        <locationX>670</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>Exit_Screen</targetReference>
        </connector>
        <inputReference>collRelationships</inputReference>
    </recordCreates>
    <recordLookups>
        <name>LKUP_Referral_Template</name>
        <label>LKUP Referral Template</label>
        <locationX>517</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Unassigned_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>820</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>&lt;p&gt;Tasks Added to Template Name: {!InputNameFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish to Return to Template List&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Referral_Template</name>
        <label>New Referral Template</label>
        <locationX>283</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>INS_Referral_Template</targetReference>
        </connector>
        <fields>
            <name>Select_Product_Type</name>
            <choiceReferences>pickReviewCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Onboarding_Type</name>
            <choiceReferences>pickReviewType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Onboarding Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Template_Name</name>
            <dataType>String</dataType>
            <fieldText>Template Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Effective_From</name>
            <dataType>Date</dataType>
            <fieldText>Effective From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Effective_To</name>
            <dataType>Date</dataType>
            <fieldText>Effective To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Tasks_for_Template</name>
        <label>Select Tasks for Template</label>
        <locationX>195</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DCN_Referral_Template</targetReference>
        </connector>
        <fields>
            <name>LKUP_ReferralTemplate</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Onboarding_Template__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Onboarding Template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Onboarding_Task_Rule__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTemplateId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varReferralTemplateName</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Create_New_Referral_Template</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Onboarding Template</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Check this box to create a new Referral Template to associate selected Tasks from the library&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Tasks_for_Template</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Task_Rule__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReferralTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelationshipRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Task_Rule__c</objectType>
    </variables>
    <variables>
        <name>varTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
