Task_Library_Mass_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASGN_Add_Rec_to_Collection</name>
        <label>ASGN Add Rec to Collection</label>
        <locationX>148</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>collTaskLibrary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recTaskLibrary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Build_Rec_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASGN_Rec_ID_to_Collection</name>
        <label>ASGN Rec ID to Collection</label>
        <locationX>347</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>recTaskLibrary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Build_Rec_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASGN_Add_Rec_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Task Library - Mass Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Library - Mass Delete</label>
    <loops>
        <name>loop_Build_Rec_Collection</name>
        <label>loop Build Rec Collection</label>
        <locationX>231</locationX>
        <locationY>232</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASGN_Rec_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEL_Delete_Task_Library</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DEL_Delete_Task_Library</name>
        <label>DEL Delete Task Library</label>
        <locationX>448</locationX>
        <locationY>212</locationY>
        <inputReference>collTaskLibrary</inputReference>
    </recordDeletes>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>loop_Build_Rec_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collTaskLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Master_Task__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTaskLibrary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Master_Task__c</objectType>
    </variables>
</Flow>
