Temp_Flow_to_Fix_PRoCAT_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_the_Pricebook_Record_for_collection</name>
        <label>Add the Pricebook Record for collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colPriceBookRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Plan</name>
        <label>Assign Subscription Plan</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_all_records.Subscription_plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Plan_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Pricebook_Record_for_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription_Plan_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_Plan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Temp - Flow to Fix PRoCAT Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Temp - Flow to Fix PRoCAT Data</label>
    <loops>
        <name>Loop_through_all_records</name>
        <label>Loop through all records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Price_Book_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Subscription_Plan_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Pricebook</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Book_Records</name>
        <label>Get Price Book Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subscription_Plan_Internal_Id_for_Proces__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_plan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_books_NetSuite__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Plan_Record</name>
        <label>Get Subscription Plan Record</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WPE_NS_Subscription_Plan_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_all_records.Subscription_Plan_Internal_Id_for_Proces__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscription_plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pricebook</name>
        <label>Update Pricebook</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>colPriceBookRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Price_Book_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colPriceBookRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_books_NetSuite__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
