Update_Subscription_Family_On_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Product_Rec</name>
        <label>Assign Product Rec</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>colProductforUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscription_Plan_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Family</name>
        <label>Assign Subscription Family</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>tempVarSubPlan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Subscription_Lines.Subscription_plan__r.WPE_Subscription_Family__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subscription_Family_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Family_0</name>
        <label>Assign Subscription Family</label>
        <locationX>440</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>colProductforUpdate.WPE_Subscription_Family__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionFamilityCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Subscription_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_SubScription_Family_Exist_0</name>
        <label>Does SubScription Family Exist?</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Subscription_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WPE_Subscription_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Subscription_Lines.Subscription_plan__r.WPE_Subscription_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Subscription_Lines.Subscription_plan__r.WPE_Subscription_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Subscription_Lines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SubscriptionFamilityCalc</name>
        <dataType>String</dataType>
        <expression>{!tempVarSubPlan} + &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Update Subscription Family {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Subscription Family On Product on ProductUpdate</label>
    <loops>
        <name>Loop_Through_Subscription_Lines</name>
        <label>Loop Through Subscription Lines</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Subscription_Plan_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_SubScription_Family_Exist_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Subscription_Plan_Lines</name>
        <label>Get Subscription Plan Lines</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Subscription_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WPE_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription_Plan_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Record</name>
        <label>Update Product Record</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>colProductforUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Product_Rec</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colProductforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempVarSubPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
