User_After_Save_Create_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asn_Add_item_to_collection</name>
        <label>Asn - Add item to collection</label>
        <locationX>490</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>col_SalesPassRep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sales_Pass_Reps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Pass_Reps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asn_Sales_Pass_Rep_Inactive</name>
        <label>Asn - Sales Pass Rep Inactive</label>
        <locationX>490</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Sales_Pass_Reps.Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asn_Add_item_to_collection</targetReference>
        </connector>
    </assignments>
    <description>4/13/23 - CC Add update to Sales Pass Rep
Create the User Inactivated Platform Event</description>
    <environments>Default</environments>
    <interviewLabel>User - After Save - Create Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - After Save - Create Platform Event</label>
    <loops>
        <name>Sales_Pass_Reps</name>
        <label>Sales Pass Reps</label>
        <locationX>402</locationX>
        <locationY>408</locationY>
        <collectionReference>Find_Sales_Pass_Rep</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asn_Sales_Pass_Rep_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sales_Pass_Reps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Platform_Event_record</name>
        <label>Create Platform Event record</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Inactivated_User_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User_Inactivated__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Sales_Pass_Rep</name>
        <label>Find Sales Pass Rep</label>
        <locationX>402</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Pass_Reps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Pass_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Pass_Reps</name>
        <label>Update Sales Pass Reps</label>
        <locationX>402</locationX>
        <locationY>864</locationY>
        <inputReference>col_SalesPassRep</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Platform_Event_record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delay_1_min</name>
            <connector>
                <targetReference>Find_Sales_Pass_Rep</targetReference>
            </connector>
            <label>Delay 1 min</label>
            <maxBatchSize>150</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_SalesPassRep</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Pass_Rep__c</objectType>
    </variables>
</Flow>
